openapi: 3.0.0
info:
  version: "1.0.0"
  title: Bank Feeds API
  description: The Xero Bank Feeds API 
  contact: 
    name: Xero API team
    email: api@xero.com
  license:
    name: MIT 
    url: 'https://github.com/XeroAPI/Xero-OpenAPI/blob/master/LICENSE'
servers:
  - description: Xero Bank Feeds API base url
    url: https://api.xero.com/bankfeeds.xro/1.0/
paths:
  /FeedConnections:
    parameters:
      - $ref: '#/components/parameters/requiredHeader'
    get:
      security:
        - OAuth2: [bankfeeds]
      tags:
        - BankFeeds
      summary: searches feed connections
      operationId: getFeedConnections
      description: 
        By passing in the appropriate options, you can search for
        available feed connections in the system
      parameters: 
        - name: page
          in: query
          description: Page number which specifies the set of records to retrieve. By default the number of the records per set is 10. Example - https://api.xero.com/bankfeeds.xro/1.0/FeedConnections?page=1 to get the second set of the records. When page value is not a number or a negative number, by default, the first set of records is returned. 
          schema: 
            type: integer
            example: 1
        - name: pageSize
          in: query
          description: Page size which specifies how many records per page will be returned (default 10). Example - https://api.xero.com/bankfeeds.xro/1.0/FeedConnections?pageSize=100 to specify page size of 100. 
          schema: 
            type: integer
            example: 100
      responses:
        '201':
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedConnections'
              example: 
                pagination: 
                  {
                    "page": 1,
                    "pageSize": 20,
                    "pageCount": 1,
                    "itemCount": 2
                  }
                items: 
                  [
                    {
                      "id": "50d3cf8d-95dc-4466-8dc0-47e6d1197e28",
                      "accountToken": "10000123",
                      "accountNumber": "3809087654321500",
                      "accountName": "Joe's Savings Account",
                      "accountType": "BANK",
                      "currency": "AUD"
                    },
                    {
                      "id": "cab0d76e-1325-4d81-b5f8-5a8fadecbe87",
                      "accountToken": "10000124",
                      "accountNumber": "1234",
                      "accountName": "Sam's Credit Card",
                      "accountType": "CREDITCARD",
                      "currency": "AUD"
                    }
                  ]
        '400':
          description: bad input parameter
      post:
        security:
          - OAuth2: [bankfeeds]
        tags:
          - BankFeeds
        summary: create one or more new feed connection
        operationId: createFeedConnections
        description: |
          By passing in the appropriate body, you can create one or more new feed connections in the system
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedConnections'
              example:
                items:
                  [
                    {
                      "AccountToken": "10058695",
                      "AccountNumber": "3809058454321500",
                      "AccountName": "Mike's Savings Account",
                      "AccountType": "BANK",
                      "Currency": "GBP"
                    },
                    {
                      "AccountToken": "10045844",
                      "AccountNumber": "3809058887441500",
                      "AccountName": "Gee's Saving's Account",
                      "AccountType": "BANK",
                      "Currency": "GBP",
                      "Country": "GB"
                    }
                  ]
          description: Feed Connection(s) to add
        responses:
          '201':
            description: feed connection created
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/FeedConnections'
                example: 
                  items: 
                    [
                      { 
                        "AccountToken": "10058695",
                        "Status": "PENDING"
                        
                      },
                      {
                        "accountToken": "10045844",
                        "status": "REJECTED",
                        "error": {
                          "type": "feed-already-connected-in-current-organisation",
                          "title": "Feed Connection failed",
                          "detail": "The AccountToken is already connected to another Xero Bank Account associated with this bank in the selected Xero Organisation.",
                        }
                      }
                    ]
          '400':
            description: 'invalid input, object invalid'
  /FeedConnections/{id}:
    parameters:
      - $ref: '#/components/parameters/requiredHeader'
    get:
      security:
        - OAuth2: [bankfeeds]
      tags:
        - BankFeeds
      summary: get single feed connection by id
      operationId: getFeedConnection
      description: |
        By passing in a FeedConnection Id options, you can search for
        available feed connections in the system
      parameters: 
        - name: id
          in: path
          required: true
          description: feed connection id for single object
          schema: 
            type: string 
            example: xxxx
      responses:
        '200':
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedConnection'
              example: 
                {
                  "id": "50d3cf8d-95dc-4466-8dc0-47e6d1197e28",
                  "accountToken": "10000123",
                  "accountNumber": "3809087654321500",
                  "accountName": "Joe's Savings Account",
                  "accountType": "BANK",
                  "currency": "AUD"
                }
        '400':
          description: bad input parameter
  /FeedConnections/DeleteRequests:
    parameters:
      - $ref: '#/components/parameters/requiredHeader'
    post:
      security:
        - OAuth2: [bankfeeds]
      tags:
        - BankFeeds
      summary: delete an exsiting feed connection
      operationId: deleteFeedConnections
      description: |
        By passing in the appropriate body, you can create a new feed connections in the system
      security:
       - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeedConnections'
            example:
              items: [
                      {
                        "id": "50d3cf8d-95dc-4466-8dc0-47e6d1197e28"
                      },
                      {
                        "accountToken": "10000123"
                      }
                    ]
        description: Feed Connections to delete
      responses:
        '202':
          description: create results matching body content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedConnections'
              example: 
                  items: [
                    {
                      "id": "50d3cf8d-95dc-4466-8dc0-47e6d1197e28",
                      "accountToken": "10000123",
                      "status": "PENDING"
                    },
                    {
                      "accountToken": "10000125",
                      "status": "REJECTED",
                      "error": {
                        "type": "feed-connected-in-different-organisation",
                        "title": "Feed connected in different organisation",
                        "detail": "The AccountToken is connected to another Xero Bank Account associated with this bank. This Xero Bank Account belongs to a different Xero Organisation."
                      }
                    }
                  ]
        '400':
          description: bad input parameter
  /Statements:
    parameters:
      - $ref: '#/components/parameters/requiredHeader'
    get:
      security:
        - OAuth2: [bankfeeds]
      tags:
        - BankFeeds
      operationId: getStatements
      parameters:
        - in: query
          name: page
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          name: pageSize
          required: false
          schema:
            type: integer
            format: int32
        - name: Xero-Application-Id
          in: header
          required: false
          schema:
            type: string
            default: 00000000-0000-0000-0000-0000000010000
        - name: Xero-Tenant-Id
          in: header
          required: false
          schema:
            type: string
            default: 00000000-0000-0000-0000-0000020000000
        - name: Xero-User-Id
          in: header
          required: false
          schema:
            type: string
            default: 00000000-0000-0000-0000-0000030000000
      responses:
        '200':
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Statements'
              example: 
                pagination: 
                  {
                    "page": 1,
                    "pageCount": 1,
                    "pageSize": 50,
                    "itemCount": 3
                  }
                items: 
                  [
                    { 
                      "id": "ba4f3127-5e46-427d-80ea-dea2fcd26afe",
                      "feedConnectionId": "87cb0dc8-fa32-409c-b622-19f8de8dcc83",
                      "status": "PENDING",
                      "startDate": "2018-07-27",
                      "endDate": "2018-07-27",
                      "startBalance": {
                          "amount": "9.0000",
                          "creditDebitIndicator": "DEBIT"
                      },
                      "endBalance": {
                          "amount": "10.1340",
                          "creditDebitIndicator": "DEBIT"
                      },
                      "statementLineCount": "1"
                    }
                  ]
        '400':
          description: bad input parameter
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Statements'
              example:  {
                          "type": "invalid-request",
                          "title": "Invalid Request",
                          "status": 400,
                          "detail": "For the request field missing parameter."
                        }
    post:
      security:
        - OAuth2: [bankfeeds]
      tags:
        - BankFeeds
      operationId: createStatements
      responses:
        '202':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Statements'
              example:  
                items: [
                        {
                          "id": "ed8580c9-fe82-4692-be66-9fc9c1c9a918",
                          "feedConnectionId": "5a896e9e-7dce-4b64-b2c5-2a51abedcac0",
                          "status": "REJECTED",
                          "errors": [
                            {
                              "type": "duplicate-statement",
                              "title": "Duplicate Statement Received",
                              "status": 409,
                              "detail": "The received statement was marked as a duplicate."
                            }
                          ]
                        },
                        {
                          "id": "26c52a2b-a92d-4d0f-9d38-6e217ef5c0f3",
                          "feedConnectionId": "746f347a-e58d-4906-98ab-9dfaa04f3cf2",
                          "status": "PENDING"
                        }
                      ]
        '400':
          description: Statement failed validation
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Statements'
              example:  {
                          "type": "invalid-request",
                          "title": "Invalid Request",
                          "status": 400,
                          "detail": "For the request field 'StatementLine.ChequeNumber' exceeded the maximum length of 20."
                        }
        '403':
          description: Invalid application or feed connection
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example: {
                          "type": "invalid-application",
                          "title": "Invalid Application",
                          "status": 403,
                          "detail": "The application has not been configured to use these API endpoints."
                        }
        '409':
          description: Duplicate statement received
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Statements'
              example:  {
                          "type": "duplicate-statement",
                          "title": "Duplicate Statement Received",
                          "status": 409,
                          "detail": "The received statement was marked as a duplicate."
                        }
        '413':
          description: Statement exceeds size limit
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Statements'
              example:  {
                          "type": "invalid-request",
                          "title": "Request too large",
                          "status": 413,
                          "detail": "Request size of 3500000 bytes exceeds the limit of 3000000 bytes."
                        }
        '422':
          description: Unprocessable Entity
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Statements'
              example:  {
                          "type": "invalid-end-balance",
                          "title": "Invalid End Balance",
                          "status": 422,
                          "detail": "End balance does not match start balance +/- statement line amounts."
                        }
        '500':
          description: Intermittent Xero Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Statements'
              example:  {
                          "type": "internal-error",
                          "title": "Intermittent Internal Xero Error",
                          "status": 500,
                          "detail": "The request should be retried. If the error persists, a Xero support issue should be raised."
                        }
      requestBody:
        description: Feed Connection(s) to add
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Statements'
            example:
              items: [
                       {
                         "feedConnectionId": "5a896e9e-7dce-4b64-b2c5-2a51abedcac0",
                         "startDate": "2018-06-10",
                         "endDate": "2018-06-11",
                         "startBalance": {
                            "amount": 100.00,
                            "creditDebitIndicator": "DEBIT"
                         },
                         "endBalance": {
                            "amount": 110.00,
                            "creditDebitIndicator": "DEBIT"
                         },
                         "statementLines": [
                           {
                             "postedDate": "2018-06-10",
                             "description": "Description for statement line 1",
                             "amount": 5.00,
                             "creditDebitIndicator": "CREDIT",
                             "transactionId": "transaction-id-1"
                           },
                           {
                             "postedDate": "2018-06-10",
                             "description": "Description for statement line 2",
                             "amount": 5.00,
                             "creditDebitIndicator": "CREDIT",
                             "transactionId": "transaction-id-2",
                  
                             "payeeName": "Payee name for statement line 2",
                             "reference": "Reference for statement line 2",
                             "chequeNumber": "021"
                           }
                         ]
                       },
                       {
                         "feedConnectionId": "746f347a-e58d-4906-98ab-9dfaa04f3cf2",
                         "startDate": "2018-06-10",
                         "endDate": "2018-06-11",
                         "startBalance": {
                            "amount": 200.00,
                            "creditDebitIndicator": "DEBIT"
                         },
                         "endBalance": {
                            "amount": 215.50,
                            "creditDebitIndicator": "DEBIT"
                         },
                         "statementLines": [
                           {
                             "postedDate": "2018-06-10",
                             "description": "Description for statement line 1",
                             "amount": 5.50,
                             "creditDebitIndicator": "CREDIT",
                             "transactionId": "transaction-id-10"
                           },
                           {
                             "postedDate": "2018-06-10",
                             "description": "Description for statement line 2",
                             "amount": 10.00,
                             "creditDebitIndicator": "CREDIT",
                             "transactionId": "transaction-id-11",
                  
                             "payeeName": "Payee name for statement line 2",
                             "reference": "Reference for statement line 2",
                             "chequeNumber": "031"
                           }
                         ]
                       }
                     ]
  /Statements/{statementId}:
    parameters:
      - $ref: '#/components/parameters/requiredHeader'
    get:
      security:
        - OAuth2: [bankfeeds]
      tags:
        - BankFeeds
      operationId: getStatement
      parameters:
        - name: statementId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: search results matching id for single statement
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Statement'
              example: 
                { 
                  "id": "ba4f3127-5e46-427d-80ea-dea2fcd26afe",
                  "feedConnectionId": "87cb0dc8-fa32-409c-b622-19f8de8dcc83",
                  "status": "PENDING",
                  "startDate": "2018-07-27",
                  "endDate": "2018-07-27",
                  "startBalance": {
                      "amount": "9.0000",
                      "creditDebitIndicator": "DEBIT"
                  },
                  "endBalance": {
                      "amount": "10.1340",
                      "creditDebitIndicator": "DEBIT"
                  },
                  "statementLineCount": "1"
                }
        '404':
          description: Statement not found
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: For more information
      flows: 
        authorizationCode:
          authorizationUrl: 'https://login.xero.com/identity/connect/authorize'
          tokenUrl: 'https://identity.xero.com/connect/token'
          scopes:
            email: Grant read-only access to your email
            openid: Grant read-only access to your open id
            profile: your profile information
            accounting.transactions: Grant read-write access to bank transactions, credit notes, invoices, repeating invoices
            accounting.transactions.read: Grant read-only access to invoices
            accounting.reports.read: Grant read-only access to accounting reports
            accounting.journals.read: Grant read-only access to journals
            accounting.settings: Grant read-write access to organisation and account settings
            accounting.settings.read: Grant read-only access to organisation and account settings
            accounting.contacts: Grant read-write access to contacts and contact groups
            accounting.contacts.read: Grant read-only access to contacts and contact groups
            accounting.attachments: Grant read-write access to attachments
            accounting.attachments.read: Grant read-only access to attachments
            assets assets.read: Grant read-only access to fixed assets
            bankfeeds: Grant read-write access to bankfeeds 
            files: Grant read-write access to files and folders
            files.read: Grant read-only access to files and folders
            payroll: Grant read-write access to payroll
            payroll.read: Grant read-only access to payroll
            payroll.employees: Grant read-write access to payroll employees
            payroll.employees.read: Grant read-only access to payroll employees
            payroll.leaveapplications: Grant read-write access to payroll leaveapplications
            payroll.leaveapplications.read: Grant read-only access to payroll leaveapplications
            payroll.payitems: Grant read-write access to payroll payitems
            payroll.payitems.read: Grant read-only access to payroll payitems
            payroll.payrollcalendars: Grant read-write access to payroll calendars
            payroll.payrollcalendars.read: Grant read-only access to payroll calendars
            payroll.payruns: Grant read-write access to payroll payruns
            payroll.payruns.read: Grant read-only access to payroll payruns
            payroll.payslip: Grant read-write access to payroll payslips
            payroll.payslip.read: Grant read-only access to payroll payslips
            payroll.settings.read: Grant read-only access to payroll settings
            payroll.superfunds: Grant read-write access to payroll superfunds
            payroll.superfunds.read: Grant read-only access to payroll superfunds
            payroll.superfundproducts.read: Grant read-only access to payroll superfundproducts
            payroll.timesheets: Grant read-write access to payroll timesheets
            payroll.timesheets.read: Grant read-only access to payroll timesheets
            paymentservices: Grant read-write access to payment services
            projects: Grant read-write access to projects
            projects.read: Grant read-only access to projects
  parameters:
    requiredHeader: 
      in: header
      name: Xero-Tenant-Id
      description: Xero identifier for Tenant
      schema:
        type: string
      required: true 
  schemas:
    FeedConnections:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        items:
          type: array
          items:
            $ref: '#/components/schemas/FeedConnection'
    FeedConnection:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          example: "0d3cf8d-95dc-4466-8dc0-47e6d1197e28"
        accountToken:
          type: string
          example: "10000123"
        accountNumber:
          type: string
          example: "3809087654321500"
        accountName:
          type: string
          example: "Joe's Savings Account"
        accountId:
          type: string
          example: "079a88ea-276d-41fb-a1f1-366ef3e22921"
        accountType:
          enum: [BANK,CREDITCARD]
          example: "BANK"
        currency:
          type: string
          example: "AUD"
        country:
          type: string
          example: "GB"
        status:
          type: string
          enum: [PENDING,REJECTED]
          example: "REJECTED"
        error:
          $ref: '#/components/schemas/Error'
    Statements:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        items:
          type: array
          items:
            $ref: '#/components/schemas/Statement'
    Pagination:
      properties:
        page:
          type: integer
          example: 1
        pageSize:
          type: integer
          example: 10
        pageCount:
          type: integer
          example: 1
        itemCount:
          type: integer
          example: 2
    Statement:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          example: "ba4f3127-5e46-427d-80ea-dea2fcd26afe"
        feedConnectionId:
          type: string
          example: "87cb0dc8-fa32-409c-b622-19f8de8dcc83"
        status:
          enum: ["PENDING","REJECTED","DELIVERED"]
          example: "PENDING"
        startDate:
          type: string
          format: date
          example: "2018-07-27"
        endDate:
          type: string
          format: date
          example: "2018-07-27"
        startBalance:
          $ref: '#/components/schemas/StartBalance'
        endBalance:
          $ref: '#/components/schemas/EndBalance'
        statementLines:
            $ref: '#/components/schemas/StatementLines'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
        statementLineCount:
          type: integer
          example: 1
    StartBalance:
      type: object
      properties:
        amount:
          type: string
          example: "9.0000"
        creditDebitIndicator:
          $ref: '#/components/schemas/CreditDebitIndicator'
    EndBalance:
      type: object
      properties:
        amount:
          type: string
          example: "10.1340"
        creditDebitIndicator:
          $ref: '#/components/schemas/CreditDebitIndicator'
    StatementLines:
      type: array
      items:
        $ref: '#/components/schemas/StatementLine'
    StatementLine:
      type: object
      properties:
        postedDate:
          type: string
          format: date
          example: "2018-06-10"
        description: 
          type: string
          example: "Description for statement line 2"
        amount: 
          type: string
          example: "5.00"
        creditDebitIndicator: 
          $ref: '#/components/schemas/CreditDebitIndicator'
        transactionId: 
          type: string
          example: "transaction-id-2"
        payeeName: 
          type: string
          example: "Payee name for statement line 2"
        reference: 
          type: string
          example: "Reference for statement line 2"
        chequeNumber: 
          type: string
          example: "021"
    Error:
      type: object
      description: On error, the API consumer will receive an HTTP response with a HTTP Status Code of 4xx or 5xx and a Content-Type of application/problem+json.
      properties:
        title:
          type: string
          example: "Invalid Application"
        status:
          type: integer
          example: 403
        detail:
          type: string
          example: "The application has not been configured to use these API endpoints."
        type:
          type: string
          enum: 
          - "invalid-request"
          - "invalid-application"
          - "invalid-feed-connection"
          - "duplicate-statement"
          - "invalid-end-balance"
          - "invalid-start-and-end-date"
          - "invalid-start-date"
          - "internal-error"
          example: "invalid-application"
    CreditDebitIndicator:
      type: string
      enum:
        - CREDIT
        - DEBIT