{
  "openapi" : "3.0.0",
  "servers" : [ {
    "url" : "https://api.xero.com/api.xro/2.0"
  }, {
    "url" : "https://virtserver.swaggerhub.com/Xero/accounting/2.0.0"
  } ],
  "info" : {
    "title" : "Accounting API",
    "version" : "2.0.0",
    "termsOfService" : "https://developer.xero.com/xero-developer-platform-terms-conditions/",
    "contact" : {
      "name" : "Xero Platform Team",
      "email" : "api@xero.com",
      "url" : "https://developer.xero.com"
    }
  },
  "paths" : {
    "/Accounts" : {
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getAccounts",
        "summary" : "Allows you to retrieve the full chart of accounts",
        "parameters" : [ {
          "in" : "header",
          "name" : "If-Modified-Since",
          "description" : "Only records created or modified since this timestamp will be returned",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "in" : "query",
          "name" : "where",
          "description" : "Filter by an any element",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "order",
          "description" : "Order by an any element",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success - return response of type Accounts array with 0 to n Account",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accounts"
                },
                "example" : "{ \"Accounts\": [{ \"AccountID\": \"ebd06280-af70-4bed-97c6-7451a454ad85\", \"Code\": \"091\", \"Name\": \"Business Savings Account\", \"Type\": \"BANK\", \"TaxType\": \"NONE\", \"EnablePaymentsToAccount\": false, \"BankAccountNumber\": \"0209087654321050\", \"BankAccountType\": \"BANK\", \"CurrencyCode\": \"NZD\" },{ \"AccountID\": \"7d05a53d-613d-4eb2-a2fc-dcb6adb80b80\", \"Code\": \"200\", \"Name\": \"Sales\", \"Type\": \"REVENUE\", \"TaxType\": \"OUTPUT2\", \"Description\": \"Income from any normal business activity\", \"EnablePaymentsToAccount\": false }] }"
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Accounting" ],
        "operationId" : "createAccount",
        "summary" : "Allows you to create a new chart of accounts",
        "responses" : {
          "200" : {
            "description" : "Success - created new Account and return response of type Accounts array with new Account",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accounts"
                },
                "example" : "{ \"Id\": \"11814c9d-3b5e-492e-93b0-fad16bf3244f\", \"Status\": \"OK\", \"ProviderName\": \"Xero API Partner\", \"DateTimeUTC\": \"\\/Date(1550793549392)\\/\", \"Accounts\": [ { \"AccountID\": \"66b262e2-561e-423e-8937-47d558f13442\", \"Code\": \"123456\", \"Name\": \"Foobar\", \"Status\": \"ACTIVE\", \"Type\": \"EXPENSE\", \"TaxType\": \"INPUT\", \"Description\": \"Hello World\", \"Class\": \"EXPENSE\", \"EnablePaymentsToAccount\": false, \"ShowInExpenseClaims\": false, \"ReportingCode\": \"EXP\", \"ReportingCodeName\": \"Expense\", \"UpdatedDateUTC\": \"\\/Date(1550793549320+0000)\\/\" } ] }"
              }
            }
          },
          "400" : {
            "description" : "Validation Error - some data was incorrect returns response of type Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                },
                "example" : "{ \"ErrorNumber\": 10, \"Type\": \"ValidationException\", \"Message\": \"A validation exception occurred\", \"Elements\": [ { \"AccountID\": \"00000000-0000-0000-0000-000000000000\", \"Code\": \"123456\", \"Name\": \"Foobar\", \"Type\": \"EXPENSE\", \"Description\": \"Hello World\", \"ValidationErrors\": [ { \"Message\": \"Please enter a unique Name.\" } ] } ] }"
              }
            }
          }
        },
        "requestBody" : {
          "required" : true,
          "description" : "Request of type Account",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Account"
              },
              "example" : "{ \"Code\":\"123456\", \"Name\":\"Foobar\", \"Type\":\"EXPENSE\", \"Description\":\"Hello World\" }"
            }
          }
        }
      }
    },
    "/Accounts/{AccountID}" : {
      "x-related-model" : "Account",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getAccount",
        "summary" : "Allows you to retrieve a single chart of accounts",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "AccountID",
          "description" : "Unique identifier for retrieving single object",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success - return response of type Accounts array with one Account",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accounts"
                },
                "example" : "{ \"Id\": \"323455cc-9511-4451-a873-248d2983f38e\", \"Status\": \"OK\", \"ProviderName\": \"Xero API Partner\", \"DateTimeUTC\": \"\\/Date(1550797359081)\\/\", \"Accounts\": [ { \"AccountID\": \"99ce6032-0678-4aa0-8148-240c75fee33a\", \"Code\": \"123456\", \"Name\": \"FooBar\", \"Status\": \"ACTIVE\", \"Type\": \"EXPENSE\", \"TaxType\": \"INPUT\", \"Description\": \"Hello World\", \"Class\": \"EXPENSE\", \"EnablePaymentsToAccount\": false, \"ShowInExpenseClaims\": false, \"ReportingCode\": \"EXP\", \"ReportingCodeName\": \"Expense\", \"UpdatedDateUTC\": \"\\/Date(1550797359120+0000)\\/\" } ] }"
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Accounting" ],
        "operationId" : "updateAccount",
        "summary" : "Allows you to update a chart of accounts",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "AccountID",
          "description" : "Unique identifier for retrieving single object",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success - update existing Account and return response of type Accounts array with updated Account",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accounts"
                },
                "example" : "{ \"Id\": \"9012e75c-ec08-40a9-ae15-153fc1f35c4d\", \"Status\": \"OK\", \"ProviderName\": \"Xero API Partner\", \"DateTimeUTC\": \"\\/Date(1550795389340)\\/\", \"Accounts\": [ { \"AccountID\": \"99ce6032-0678-4aa0-8148-240c75fee33a\", \"Code\": \"654321\", \"Name\": \"BarFoo\", \"Status\": \"ACTIVE\", \"Type\": \"EXPENSE\", \"TaxType\": \"INPUT\", \"Description\": \"Good Bye World\", \"Class\": \"EXPENSE\", \"EnablePaymentsToAccount\": false, \"ShowInExpenseClaims\": false, \"ReportingCode\": \"EXP\", \"ReportingCodeName\": \"Expense\", \"UpdatedDateUTC\": \"\\/Date(1550795389333+0000)\\/\" } ] }"
              }
            }
          },
          "400" : {
            "description" : "Validation Error - some data was incorrect returns response of type Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                },
                "example" : "{ \"ErrorNumber\": 10, \"Type\": \"ValidationException\", \"Message\": \"A validation exception occurred\", \"Elements\": [ { \"AccountID\": \"00000000-0000-0000-0000-000000000000\", \"Code\": \"123456\", \"Name\": \"Foobar\", \"Type\": \"EXPENSE\", \"Description\": \"Hello World\", \"ValidationErrors\": [ { \"Message\": \"Please enter a unique Name.\" } ] } ] }"
              }
            }
          }
        },
        "requestBody" : {
          "required" : true,
          "description" : "Request of type Accounts array with one Account",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accounts"
              },
              "example" : "{ \"Accounts\":[ { \"Code\":\"123456\", \"Name\":\"BarFoo\", \"AccountID\":\"99ce6032-0678-4aa0-8148-240c75fee33a\", \"Type\":\"EXPENSE\", \"Description\":\"GoodBye World\", \"TaxType\":\"INPUT\", \"EnablePaymentsToAccount\":false, \"ShowInExpenseClaims\":false, \"Class\":\"EXPENSE\", \"ReportingCode\":\"EXP\", \"ReportingCodeName\":\"Expense\", \"UpdatedDateUTC\":\"2019-02-21T16:29:47.96-08:00\" } ] }"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Accounting" ],
        "operationId" : "deleteAccount",
        "summary" : "Allows you to delete a chart of accounts",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "AccountID",
          "description" : "Unique identifier for retrieving single object",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success - delete existing Account and return response of type Accounts array with deleted Account",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accounts"
                },
                "example" : "{ \"Id\": \"76bb0543-8efe-4acc-b7f6-67dfcdec37b4\", \"Status\": \"OK\", \"ProviderName\": \"Xero API Partner\", \"DateTimeUTC\": \"\\/Date(1550798217216)\\/\", \"Accounts\": [ { \"AccountID\": \"7f3c0bec-f3e7-4073-b4d6-cc56dd027ef1\", \"Code\": \"123456\", \"Name\": \"FooBar\", \"Status\": \"DELETED\", \"Type\": \"EXPENSE\", \"TaxType\": \"INPUT\", \"Description\": \"Hello World\", \"Class\": \"EXPENSE\", \"EnablePaymentsToAccount\": false, \"ShowInExpenseClaims\": false, \"ReportingCode\": \"EXP\", \"ReportingCodeName\": \"Expense\", \"UpdatedDateUTC\": \"\\/Date(1550798217210+0000)\\/\" } ] }"
              }
            }
          },
          "400" : {
            "description" : "Validation Error - some data was incorrect returns response of type Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                },
                "example" : "{ \"ErrorNumber\": 10, \"Type\": \"ValidationException\", \"Message\": \"A validation exception occurred\", \"Elements\": [ { \"AccountID\": \"00000000-0000-0000-0000-000000000000\", \"Code\": \"123456\", \"Name\": \"Foobar\", \"Type\": \"EXPENSE\", \"Description\": \"Hello World\", \"ValidationErrors\": [ { \"Message\": \"Please enter a unique Name.\" } ] } ] }"
              }
            }
          }
        }
      }
    },
    "/Accounts/{AccountID}/Attachments" : {
      "x-related-model" : "Account",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getAccountAttachments",
        "summary" : "Allows you to retrieve Attachments for accounts",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "AccountID",
          "description" : "Unique identifier for Account object",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success - return response of type Attachments array of Attachment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Attachments"
                },
                "example" : "{ \"Id\": \"439c1573-3cd8-4697-a9f6-81fa651ee8f3\", \"Status\": \"OK\", \"ProviderName\": \"Xero API Partner\", \"DateTimeUTC\": \"\\/Date(1550852630329)\\/\", \"Attachments\": [ { \"AttachmentID\": \"52a643be-cd5c-489f-9778-53a9fd337756\", \"FileName\": \"sample5.jpg\", \"Url\": \"https://api.xero.com/api.xro/2.0/Accounts/da962997-a8bd-4dff-9616-01cdc199283f/Attachments/sample5.jpg\", \"MimeType\": \"image/jpg\", \"ContentLength\": 2878711 } ] }"
              }
            }
          }
        }
      }
    },
    "/Accounts/{AccountID}/Attachments/{AttachmentID}" : {
      "x-related-model" : "Account",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getAccountAttachmentById",
        "summary" : "Allows you to retrieve specific Attachment on Account",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "AccountID",
          "description" : "Unique identifier for Account object",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "required" : true,
          "in" : "path",
          "name" : "AttachmentID",
          "description" : "Unique identifier for Attachment object",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "required" : true,
          "in" : "header",
          "name" : "contentType",
          "description" : "The mime type of the attachment file you are retrieving i.e image/jpg, application/pdf",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success - return response of attachment for Account as binary data",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          }
        }
      }
    },
    "/Accounts/{AccountID}/Attachments/{FileName}" : {
      "x-related-model" : "Invoice",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getAccountAttachmentByFileName",
        "summary" : "Allows you to retrieve Attachment on Account by Filename",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "AccountID",
          "description" : "Unique identifier for Account object",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "required" : true,
          "in" : "path",
          "name" : "FileName",
          "description" : "Name of the attachment",
          "schema" : {
            "type" : "string"
          }
        }, {
          "required" : true,
          "in" : "header",
          "name" : "contentType",
          "description" : "The mime type of the attachment file you are retrieving i.e image/jpg, application/pdf",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success - return response of attachment for Account as binary data",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Accounting" ],
        "operationId" : "updateAccountAttachmentByFileName",
        "summary" : "Allows you to update Attachment on Account by Filename",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "AccountID",
          "description" : "Unique identifier for Account object",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "required" : true,
          "in" : "path",
          "name" : "FileName",
          "description" : "Name of the attachment",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success - return response of type Attachments array of Attachment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Attachments"
                },
                "example" : "{ \"Id\": \"c8d6413a-1da2-4faa-9848-21f60443e906\", \"Status\": \"OK\", \"ProviderName\": \"Xero API Partner\", \"DateTimeUTC\": \"\\/Date(1550859714477)\\/\", \"Attachments\": [ { \"AttachmentID\": \"3fa85f64-5717-4562-b3fc-2c963f66afa6\", \"FileName\": \"sample5.jpg\", \"Url\": \"https://api.xero.com/api.xro/2.0/Accounts/da962997-a8bd-4dff-9616-01cdc199283f/Attachments/sample5.jpg\", \"MimeType\": \"image/jpg\", \"ContentLength\": 2878711 } ] }"
              }
            }
          },
          "400" : {
            "description" : "Validation Error - some data was incorrect returns response of type Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody" : {
          "required" : true,
          "description" : "Byte array of file in body of request",
          "content" : {
            "application/octet-stream" : {
              "schema" : {
                "type" : "string",
                "format" : "byte"
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Accounting" ],
        "operationId" : "createAccountAttachmentByFileName",
        "summary" : "Allows you to create Attachment on Account",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "AccountID",
          "description" : "Unique identifier for Account object",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "required" : true,
          "in" : "path",
          "name" : "FileName",
          "description" : "Name of the attachment",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success - return response of type Attachments array of Attachment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Attachments"
                },
                "example" : "{ \"Id\": \"724cdff5-bcd1-4c5c-977e-e864c24258e0\", \"Status\": \"OK\", \"ProviderName\": \"Xero API Partner\", \"DateTimeUTC\": \"\\/Date(1550856817769)\\/\", \"Attachments\": [ { \"AttachmentID\": \"ab95b276-9dce-4925-9077-439818ba270f\", \"FileName\": \"sample5.jpg\", \"Url\": \"https://api.xero.com/api.xro/2.0/Accounts/da962997-a8bd-4dff-9616-01cdc199283f/Attachments/sample5.jpg\", \"MimeType\": \"image/jpg\", \"ContentLength\": 2878711 } ] }"
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400Error"
          }
        },
        "requestBody" : {
          "required" : true,
          "description" : "Byte array of file in body of request",
          "content" : {
            "application/octet-stream" : {
              "schema" : {
                "type" : "string",
                "format" : "byte"
              }
            }
          }
        }
      }
    },
    "/BatchPayments" : {
      "x-related-model" : "BatchPayments",
      "description" : "Batch payments allow you to bundle multiple bills or invoices into one payment transaction. This means a single payment in Xero can be reconciled with a single transaction on the bank statement making for a much simpler bank reconciliation experience.",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getBatchPayments",
        "summary" : "Retrieve either one or many BatchPayments for invoices",
        "parameters" : [ {
          "in" : "header",
          "name" : "If-Modified-Since",
          "description" : "Only records created or modified since this timestamp will be returned",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "in" : "query",
          "name" : "where",
          "description" : "Filter by an any element",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "order",
          "description" : "Order by an any element",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success - return response of type BatchPayments array of BatchPayment objects",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchPayments"
                },
                "example" : "{ \"Id\": \"6ab84949-4fe5-4788-a135-4d8f690d24d7\", \"Status\": \"OK\", \"ProviderName\": \"Xero API Partner\", \"DateTimeUTC\": \"\\/Date(1550866184006)\\/\", \"BatchPayments\": [ { \"Account\": { \"AccountID\": \"6f7594f2-f059-4d56-9e67-47ac9733bfe9\" }, \"Reference\": \"Hello World\", \"BatchPaymentID\": \"d0e9bbbf-5b8a-48b6-906a-035591fcb061\", \"DateString\": \"2017-11-28T00:00:00\", \"Date\": \"\\/Date(1511827200000+0000)\\/\", \"Payments\": [ { \"Invoice\": { \"InvoiceID\": \"0975dec2-0cf6-498d-9c9f-c6775b45c61d\", \"Payments\": [], \"CreditNotes\": [], \"Prepayments\": [], \"Overpayments\": [], \"HasErrors\": false, \"IsDiscounted\": false, \"LineItems\": [] }, \"PaymentID\": \"97ec2ef8-f4d6-4de5-9f2a-385d41cdc2fc\", \"Amount\": 200.00 }, { \"Invoice\": { \"InvoiceID\": \"600982d9-6605-4e11-afa1-d8dec2be7b52\", \"Payments\": [], \"CreditNotes\": [], \"Prepayments\": [], \"Overpayments\": [], \"HasErrors\": false, \"IsDiscounted\": false, \"LineItems\": [] }, \"PaymentID\": \"e232795f-b919-4865-a754-12f6ae8402c0\", \"Amount\": 200.00 }, { \"Invoice\": { \"InvoiceID\": \"99a2bd54-4ab1-413c-90bb-57f6464fe5d6\", \"Payments\": [], \"CreditNotes\": [], \"Prepayments\": [], \"Overpayments\": [], \"HasErrors\": false, \"IsDiscounted\": false, \"LineItems\": [] }, \"PaymentID\": \"c2d571a5-38ff-4d37-9d43-dfadb4ad53ff\", \"Amount\": 200.00 }, { \"Invoice\": { \"InvoiceID\": \"c81942c8-bfc5-4c88-a21a-b892a4a8c1c5\", \"Payments\": [], \"CreditNotes\": [], \"Prepayments\": [], \"Overpayments\": [], \"HasErrors\": false, \"IsDiscounted\": false, \"LineItems\": [] }, \"PaymentID\": \"0f3c18dc-49bd-47a4-a875-03c84a29978f\", \"Amount\": 200.00 }, { \"Invoice\": { \"InvoiceID\": \"6c9a1d89-8319-42f6-87d6-7690e748af85\", \"Payments\": [], \"CreditNotes\": [], \"Prepayments\": [], \"Overpayments\": [], \"HasErrors\": false, \"IsDiscounted\": false, \"LineItems\": [] }, \"PaymentID\": \"43541eed-f3ac-44ac-88cb-9fe1cb7ed8b8\", \"Amount\": 200.00 } ], \"Type\": \"RECBATCH\", \"Status\": \"AUTHORISED\", \"TotalAmount\": 1000.00, \"UpdatedDateUTC\": \"\\/Date(1511893792820+0000)\\/\", \"IsReconciled\": false } ] }"
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Accounting" ],
        "operationId" : "createBatchPayment",
        "summary" : "Create one or many BatchPayments for invoices",
        "responses" : {
          "200" : {
            "description" : "Success - return response of type BatchPayments array of BatchPayment objects",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchPayments"
                },
                "example" : "{ \"Id\": \"424745ed-6356-46ad-87d4-3585f9062fb4\", \"Status\": \"OK\", \"ProviderName\": \"Xero API Partner\", \"DateTimeUTC\": \"\\/Date(1550865988111)\\/\", \"BatchPayments\": [ { \"Account\": { \"AccountID\": \"5ec2f302-cd60-4f8b-a915-9229dd45e6fa\" }, \"Reference\": \"Foobar123\", \"BatchPaymentID\": \"d318c343-208e-49fe-b04a-45642349bcf1\", \"DateString\": \"2019-02-22T00:00:00\", \"Date\": \"\\/Date(1550793600000+0000)\\/\", \"Payments\": [ { \"Invoice\": { \"InvoiceID\": \"3323652c-155e-433b-8a73-4dde7cfbf410\", \"Payments\": [], \"CreditNotes\": [], \"Prepayments\": [], \"Overpayments\": [], \"HasErrors\": false, \"IsDiscounted\": false, \"LineItems\": [] }, \"PaymentID\": \"c05098fa-ae3c-4f00-80ec-0a9df07dedff\", \"Amount\": 1.00 }, { \"Invoice\": { \"InvoiceID\": \"e4abafb4-1f5b-4d9f-80b3-9a7b815bc302\", \"Payments\": [], \"CreditNotes\": [], \"Prepayments\": [], \"Overpayments\": [], \"HasErrors\": false, \"IsDiscounted\": false, \"LineItems\": [] }, \"PaymentID\": \"96409489-2f7d-4804-9a6d-6b939b0e038a\", \"Amount\": 1.00 }, { \"Invoice\": { \"InvoiceID\": \"e6039672-b161-40cd-b07b-a0178e7186ad\", \"Payments\": [], \"CreditNotes\": [], \"Prepayments\": [], \"Overpayments\": [], \"HasErrors\": false, \"IsDiscounted\": false, \"LineItems\": [] }, \"PaymentID\": \"d2796067-bf71-4f06-b386-81f1454fa866\", \"Amount\": 1.00 } ], \"Type\": \"RECBATCH\", \"Status\": \"AUTHORISED\", \"TotalAmount\": 3.00, \"UpdatedDateUTC\": \"\\/Date(1550865987783+0000)\\/\", \"IsReconciled\": false } ] }"
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400Error"
          }
        },
        "requestBody" : {
          "required" : true,
          "description" : "Request of type BatchPayments containing a Payments array with one or more Payment objects",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchPayments"
              },
              "example" : "{ \"BatchPayments\":[ { \"Account\":{ \"AccountID\":\"5ec2f302-cd60-4f8b-a915-9229dd45e6fa\" }, \"Reference\":\"Foobar38515\", \"Date\":\"2019-02-22\", \"Amount\":3.0, \"Payments\":[ { \"Invoice\":{ \"LineItems\":[\n], \"InvoiceID\":\"e6039672-b161-40cd-b07b-a0178e7186ad\" }, \"Account\":{ \"AccountID\":\"5ec2f302-cd60-4f8b-a915-9229dd45e6fa\" }, \"Date\":\"2019-02-22\", \"Amount\":1.0 }, { \"Invoice\":{ \"LineItems\":[\n], \"InvoiceID\":\"e4abafb4-1f5b-4d9f-80b3-9a7b815bc302\" }, \"Account\":{ \"AccountID\":\"5ec2f302-cd60-4f8b-a915-9229dd45e6fa\" }, \"Date\":\"2019-02-22\", \"Amount\":1.0 }, { \"Invoice\":{ \"LineItems\":[\n], \"InvoiceID\":\"3323652c-155e-433b-8a73-4dde7cfbf410\" }, \"Account\":{ \"AccountID\":\"5ec2f302-cd60-4f8b-a915-9229dd45e6fa\" }, \"Date\":\"2019-02-22\", \"Amount\":1.0 } ] } ] }"
            }
          }
        }
      }
    },
    "/BatchPayments/{BatchPaymentID}/History" : {
      "x-related-model" : "BatchPayment",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getBatchPaymentHistory",
        "summary" : "Allows you to retrieve history from a Batch Payment",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "BatchPaymentID",
          "description" : "Unique identifier for BatchPayment",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success - return response of type HistoryRecords array of HistoryRecord objects",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HistoryRecords"
                },
                "example" : "{ \"Id\": \"c58e2f9c-baad-42a4-8bb7-f32b6f88fa04\", \"Status\": \"OK\", \"ProviderName\": \"Xero API Partner\", \"DateTimeUTC\": \"\\/Date(1550898452503)\\/\", \"HistoryRecords\": [ { \"Changes\": \"Approved\", \"DateUTCString\": \"2017-11-28T18:29:52\", \"DateUTC\": \"\\/Date(1511893792813+0000)\\/\", \"User\": \"Sidney Maestre\", \"Details\": \"\" } ] }"
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Accounting" ],
        "operationId" : "createBatchPaymentHistoryRecord",
        "summary" : "Allows you to create a history record for a Batch Payment",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "BatchPaymentID",
          "description" : "Unique identifier for BatchPayment",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success - return response of type HistoryRecords array of HistoryRecord objects",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HistoryRecords"
                },
                "example" : "{ \"Id\": \"d7525479-3392-44c0-bb37-ff4a0b5df5bd\", \"Status\": \"OK\", \"ProviderName\": \"Xero API Partner\", \"DateTimeUTC\": \"\\/Date(1550899400362)\\/\", \"HistoryRecords\": [ { \"DateUTCString\": \"2019-02-23T05:23:20\", \"DateUTC\": \"\\/Date(1550899400362)\\/\", \"Details\": \"Hello World\", \"ValidationErrors\": [] } ] }"
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400Error"
          }
        },
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HistoryRecords"
              },
              "example" : "{ \"HistoryRecords\":[ { \"Details\":\"Hello World\" } ] }"
            }
          },
          "required" : true
        }
      }
    },
    "/BankTransactions" : {
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getBankTransactions",
        "summary" : "Allows you to retrieve any spend or receive money transactions",
        "parameters" : [ {
          "in" : "header",
          "name" : "If-Modified-Since",
          "description" : "Only records created or modified since this timestamp will be returned",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "in" : "query",
          "name" : "where",
          "description" : "Filter by an any element",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "order",
          "description" : "Order by an any element",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "page",
          "description" : "e.g. page=1 – Up to 100 bank transactions will be returned in a single API call with line items shown for each bank transaction",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "in" : "query",
          "name" : "unitdp",
          "description" : "e.g. unitdp=4 – You can opt in to use four decimal places for unit amounts",
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success - return response of type BankTransactions array with 0 to n BankTransaction",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BankTransactions"
                },
                "example" : "{ \"Id\":\"18e7e80c-5dca-4a57-974e-8b572cc5efe8\", \"Status\":\"OK\", \"ProviderName\":\"Xero API Partner\", \"DateTimeUTC\":\"\\/Date(1551212901659)\\/\", \"BankTransactions\":[ { \"BankTransactionID\":\"db54aab0-ad40-4ced-bcff-0940ba20db2c\", \"BankAccount\":{ \"AccountID\":\"6f7594f2-f059-4d56-9e67-47ac9733bfe9\", \"Code\":\"088\", \"Name\":\"Business Wells Fargo\" }, \"Type\":\"RECEIVE\", \"IsReconciled\":false, \"PrepaymentID\":\"cb62750f-b49c-464b-a45b-e2e2c514c8a9\", \"HasAttachments\":true, \"Contact\":{ \"ContactID\":\"9c2c64de-12c9-4167-b503-e2c0e1aa1f49\", \"Name\":\"sam\", \"Addresses\":[\n], \"Phones\":[\n], \"ContactGroups\":[\n], \"ContactPersons\":[\n], \"HasValidationErrors\":false }, \"DateString\":\"2016-10-13T00:00:00\", \"Date\":\"\\/Date(1476316800000+0000)\\/\", \"Status\":\"AUTHORISED\", \"LineAmountTypes\":\"Exclusive\", \"LineItems\":[\n], \"SubTotal\":10.00, \"TotalTax\":0.00, \"Total\":10.00, \"UpdatedDateUTC\":\"\\/Date(1476389616437+0000)\\/\", \"CurrencyCode\":\"USD\" }, { \"BankTransactionID\":\"29a69c45-64ca-4805-a1cc-34990de837b3\", \"BankAccount\":{ \"AccountID\":\"6f7594f2-f059-4d56-9e67-47ac9733bfe9\", \"Code\":\"088\", \"Name\":\"Business Wells Fargo\" }, \"Type\":\"SPEND-OVERPAYMENT\", \"IsReconciled\":false, \"OverpaymentID\":\"7d457db3-3b0a-47e9-8b79-81252a7bcdcb\", \"HasAttachments\":false, \"Contact\":{ \"ContactID\":\"9c2c64de-12c9-4167-b503-e2c0e1aa1f49\", \"Name\":\"sam\", \"Addresses\":[\n], \"Phones\":[\n], \"ContactGroups\":[\n], \"ContactPersons\":[\n], \"HasValidationErrors\":false }, \"DateString\":\"2016-10-13T00:00:00\", \"Date\":\"\\/Date(1476316800000+0000)\\/\", \"Status\":\"AUTHORISED\", \"LineAmountTypes\":\"NoTax\", \"LineItems\":[\n], \"SubTotal\":9.00, \"TotalTax\":0.00, \"Total\":9.00, \"UpdatedDateUTC\":\"\\/Date(1476389930500+0000)\\/\", \"CurrencyCode\":\"USD\" }, { \"BankTransactionID\":\"0b89bf5c-d40b-4514-96be-36a739fb0188\", \"BankAccount\":{ \"AccountID\":\"6f7594f2-f059-4d56-9e67-47ac9733bfe9\", \"Code\":\"088\", \"Name\":\"Business Wells Fargo\" }, \"Type\":\"SPEND-OVERPAYMENT\", \"IsReconciled\":false, \"OverpaymentID\":\"bf9b5f33-c0d6-4182-84a2-40848023e5a1\", \"HasAttachments\":false, \"Contact\":{ \"ContactID\":\"9c2c64de-12c9-4167-b503-e2c0e1aa1f49\", \"Name\":\"sam\", \"Addresses\":[\n], \"Phones\":[\n], \"ContactGroups\":[\n], \"ContactPersons\":[\n], \"HasValidationErrors\":false }, \"DateString\":\"2016-10-13T00:00:00\", \"Date\":\"\\/Date(1476316800000+0000)\\/\", \"Status\":\"AUTHORISED\", \"LineAmountTypes\":\"NoTax\", \"LineItems\":[\n], \"SubTotal\":8.00, \"TotalTax\":0.00, \"Total\":8.00, \"UpdatedDateUTC\":\"\\/Date(1476392487037+0000)\\/\", \"CurrencyCode\":\"USD\" } ] }"
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Accounting" ],
        "operationId" : "createBankTransaction",
        "summary" : "Allows you to create a spend or receive money transaction",
        "parameters" : [ {
          "in" : "query",
          "name" : "SummarizeErrors",
          "description" : "response format that shows validation errors for each bank transaction",
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success - return response of type BankTransactions array with new BankTransaction",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BankTransactions"
                },
                "example" : "{ \"Id\": \"5bc1d776-3c7f-4fe8-9b2d-09e747077a88\", \"Status\": \"OK\", \"ProviderName\": \"Xero API Partner\", \"DateTimeUTC\": \"\\/Date(1551213568047)\\/\", \"BankTransactions\": [ { \"BankTransactionID\": \"1289c190-e46d-434b-9628-463ffdb52f00\", \"BankAccount\": { \"AccountID\": \"6f7594f2-f059-4d56-9e67-47ac9733bfe9\", \"Code\": \"088\", \"Name\": \"Business Wells Fargo\" }, \"Type\": \"SPEND\", \"Reference\": \"\", \"IsReconciled\": false, \"CurrencyRate\": 1.000000, \"Contact\": { \"ContactID\": \"5cc8cf28-567e-4d43-b287-687cfcaec47c\", \"ContactStatus\": \"ACTIVE\", \"Name\": \"Katherine Warren\", \"FirstName\": \"Katherine\", \"LastName\": \"Warren\", \"EmailAddress\": \"kat.warren@clampett.com\", \"BankAccountDetails\": \"\", \"Addresses\": [ { \"AddressType\": \"STREET\", \"City\": \"\", \"Region\": \"\", \"PostalCode\": \"\", \"Country\": \"\" }, { \"AddressType\": \"POBOX\", \"AddressLine1\": \"\", \"AddressLine2\": \"\", \"AddressLine3\": \"\", \"AddressLine4\": \"\", \"City\": \"Palo Alto\", \"Region\": \"CA\", \"PostalCode\": \"94020\", \"Country\": \"United States\" } ], \"Phones\": [ { \"PhoneType\": \"DEFAULT\", \"PhoneNumber\": \"847-1294\", \"PhoneAreaCode\": \"(626)\", \"PhoneCountryCode\": \"\" }, { \"PhoneType\": \"DDI\", \"PhoneNumber\": \"\", \"PhoneAreaCode\": \"\", \"PhoneCountryCode\": \"\" }, { \"PhoneType\": \"FAX\", \"PhoneNumber\": \"\", \"PhoneAreaCode\": \"\", \"PhoneCountryCode\": \"\" }, { \"PhoneType\": \"MOBILE\", \"PhoneNumber\": \"\", \"PhoneAreaCode\": \"\", \"PhoneCountryCode\": \"\" } ], \"UpdatedDateUTC\": \"\\/Date(1503348544227+0000)\\/\", \"ContactGroups\": [], \"ContactPersons\": [], \"HasValidationErrors\": false }, \"DateString\": \"2019-02-26T00:00:00\", \"Date\": \"\\/Date(1551139200000+0000)\\/\", \"Status\": \"AUTHORISED\", \"LineAmountTypes\": \"Inclusive\", \"LineItems\": [ { \"Description\": \"Foobar\", \"UnitAmount\": 20.00, \"TaxType\": \"TAX001\", \"TaxAmount\": 1.74, \"LineAmount\": 20.00, \"AccountCode\": \"400\", \"Tracking\": [], \"Quantity\": 1.0000, \"LineItemID\": \"d2a06879-da49-4d6c-83b5-72a93a523ec6\", \"ValidationErrors\": [] } ], \"SubTotal\": 18.26, \"TotalTax\": 1.74, \"Total\": 20.00, \"UpdatedDateUTC\": \"\\/Date(1551213567813+0000)\\/\", \"CurrencyCode\": \"USD\", \"StatusAttributeString\": \"ERROR\", \"ValidationErrors\": [ { \"Message\": \"The Contact must contain at least 1 of the following elements to identify the contact: Name, ContactID, ContactNumber\" } ] } ] }"
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400Error"
          }
        },
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BankTransactions"
              },
              "example" : "{ \"BankTransactions\":[ { \"Type\":\"SPEND\", \"Contact\":{ \"ContactID\":\"5cc8cf28-567e-4d43-b287-687cfcaec47c\" }, \"Lineitems\":[ { \"Description\":\"Foobar\", \"Quantity\":1.0, \"UnitAmount\":20.0, \"AccountCode\":\"400\" } ], \"BankAccount\":{ \"Code\":\"088\" } } ] }"
            }
          }
        }
      }
    },
    "/BankTransactions/{BankTransactionID}" : {
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getBankTransaction",
        "summary" : "Allows you to retrieve a single spend or receive money transaction",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "BankTransactionID",
          "description" : "Xero generated unique identifier for a bank transaction",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success - return response of type BankTransactions array with a specific BankTransaction",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BankTransactions"
                },
                "example" : "{ \"Id\": \"612e204d-21ab-469b-ac84-afe0697b4461\", \"Status\": \"OK\", \"ProviderName\": \"Xero API Partner\", \"DateTimeUTC\": \"\\/Date(1551212902962)\\/\", \"BankTransactions\": [ { \"BankTransactionID\": \"db54aab0-ad40-4ced-bcff-0940ba20db2c\", \"BankAccount\": { \"AccountID\": \"6f7594f2-f059-4d56-9e67-47ac9733bfe9\", \"Code\": \"088\", \"Name\": \"Business Wells Fargo\" }, \"Type\": \"RECEIVE\", \"IsReconciled\": false, \"CurrencyRate\": 1.000000, \"PrepaymentID\": \"cb62750f-b49c-464b-a45b-e2e2c514c8a9\", \"HasAttachments\": true, \"Attachments\": [ { \"AttachmentID\": \"45dd3143-9856-42d2-9a6c-53814f67a33e\", \"FileName\": \"sample2.jpg\", \"Url\": \"https://api.xero.com/api.xro/2.0/banktransaction/db54aab0-ad40-4ced-bcff-0940ba20db2c/Attachments/sample2.jpg\", \"MimeType\": \"image/jpg\", \"ContentLength\": 2878711 } ], \"Contact\": { \"ContactID\": \"9c2c64de-12c9-4167-b503-e2c0e1aa1f49\", \"ContactStatus\": \"ACTIVE\", \"Name\": \"sam\", \"EmailAddress\": \"\", \"BankAccountDetails\": \"\", \"Addresses\": [ { \"AddressType\": \"STREET\", \"City\": \"\", \"Region\": \"\", \"PostalCode\": \"\", \"Country\": \"\" }, { \"AddressType\": \"POBOX\", \"City\": \"\", \"Region\": \"\", \"PostalCode\": \"\", \"Country\": \"\" } ], \"Phones\": [ { \"PhoneType\": \"DEFAULT\", \"PhoneNumber\": \"\", \"PhoneAreaCode\": \"\", \"PhoneCountryCode\": \"\" }, { \"PhoneType\": \"DDI\", \"PhoneNumber\": \"\", \"PhoneAreaCode\": \"\", \"PhoneCountryCode\": \"\" }, { \"PhoneType\": \"FAX\", \"PhoneNumber\": \"\", \"PhoneAreaCode\": \"\", \"PhoneCountryCode\": \"\" }, { \"PhoneType\": \"MOBILE\", \"PhoneNumber\": \"\", \"PhoneAreaCode\": \"\", \"PhoneCountryCode\": \"\" } ], \"UpdatedDateUTC\": \"\\/Date(1518821703467+0000)\\/\", \"ContactGroups\": [], \"DefaultCurrency\": \"USD\", \"ContactPersons\": [], \"HasValidationErrors\": false }, \"DateString\": \"2016-10-13T00:00:00\", \"Date\": \"\\/Date(1476316800000+0000)\\/\", \"Status\": \"AUTHORISED\", \"LineAmountTypes\": \"Exclusive\", \"LineItems\": [ { \"Description\": \"hello\", \"UnitAmount\": 10.00, \"TaxType\": \"OUTPUT\", \"TaxAmount\": 0.00, \"LineAmount\": 10.00, \"AccountCode\": \"400\", \"Tracking\": [], \"Quantity\": 1.0000, \"LineItemID\": \"40bec527-a744-4149-96c5-0ab643b51158\", \"ValidationErrors\": [] } ], \"SubTotal\": 10.00, \"TotalTax\": 0.00, \"Total\": 10.00, \"UpdatedDateUTC\": \"\\/Date(1476389616437+0000)\\/\", \"CurrencyCode\": \"USD\" } ] }"
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Accounting" ],
        "operationId" : "updateBankTransaction",
        "summary" : "Allows you to update a single spend or receive money transaction",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "BankTransactionID",
          "description" : "Xero generated unique identifier for a bank transaction",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success - return response of type BankTransactions array with updated BankTransaction",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BankTransactions"
                },
                "example" : "{ \"Id\": \"f2c7f037-96fc-49bd-8f59-d3c7bfdd4746\", \"Status\": \"OK\", \"ProviderName\": \"Xero API Partner\", \"DateTimeUTC\": \"\\/Date(1551213568875)\\/\", \"BankTransactions\": [ { \"BankTransactionID\": \"1289c190-e46d-434b-9628-463ffdb52f00\", \"BankAccount\": { \"AccountID\": \"6f7594f2-f059-4d56-9e67-47ac9733bfe9\", \"Code\": \"088\", \"Name\": \"Business Wells Fargo\" }, \"Type\": \"SPEND\", \"Reference\": \"You just updated\", \"IsReconciled\": false, \"CurrencyRate\": 1.000000, \"HasAttachments\": false, \"Attachments\": [], \"Contact\": { \"ContactID\": \"5cc8cf28-567e-4d43-b287-687cfcaec47c\", \"ContactStatus\": \"ACTIVE\", \"Name\": \"Katherine Warren\", \"FirstName\": \"Katherine\", \"LastName\": \"Warren\", \"EmailAddress\": \"kat.warren@clampett.com\", \"BankAccountDetails\": \"\", \"Addresses\": [ { \"AddressType\": \"STREET\", \"City\": \"\", \"Region\": \"\", \"PostalCode\": \"\", \"Country\": \"\" }, { \"AddressType\": \"POBOX\", \"AddressLine1\": \"\", \"AddressLine2\": \"\", \"AddressLine3\": \"\", \"AddressLine4\": \"\", \"City\": \"Palo Alto\", \"Region\": \"CA\", \"PostalCode\": \"94020\", \"Country\": \"United States\" } ], \"Phones\": [ { \"PhoneType\": \"DEFAULT\", \"PhoneNumber\": \"847-1294\", \"PhoneAreaCode\": \"(626)\", \"PhoneCountryCode\": \"\" }, { \"PhoneType\": \"DDI\", \"PhoneNumber\": \"\", \"PhoneAreaCode\": \"\", \"PhoneCountryCode\": \"\" }, { \"PhoneType\": \"FAX\", \"PhoneNumber\": \"\", \"PhoneAreaCode\": \"\", \"PhoneCountryCode\": \"\" }, { \"PhoneType\": \"MOBILE\", \"PhoneNumber\": \"\", \"PhoneAreaCode\": \"\", \"PhoneCountryCode\": \"\" } ], \"UpdatedDateUTC\": \"\\/Date(1503348544227+0000)\\/\", \"ContactGroups\": [], \"ContactPersons\": [], \"HasValidationErrors\": false }, \"DateString\": \"2019-02-25T00:00:00\", \"Date\": \"\\/Date(1551052800000+0000)\\/\", \"Status\": \"AUTHORISED\", \"LineAmountTypes\": \"Inclusive\", \"LineItems\": [ { \"Description\": \"Foobar\", \"UnitAmount\": 20.00, \"TaxType\": \"TAX001\", \"TaxAmount\": 1.74, \"LineAmount\": 20.00, \"AccountCode\": \"400\", \"Tracking\": [], \"Quantity\": 1.0000, \"LineItemID\": \"d2a06879-da49-4d6c-83b5-72a93a523ec6\", \"ValidationErrors\": [] } ], \"SubTotal\": 18.26, \"TotalTax\": 1.74, \"Total\": 20.00, \"UpdatedDateUTC\": \"\\/Date(1551213568733+0000)\\/\", \"CurrencyCode\": \"USD\" } ] }"
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400Error"
          }
        },
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BankTransactions"
              },
              "example" : "{ \"BankTransactions\":[ { \"Type\":\"SPEND\", \"Contact\":{ \"ContactID\":\"5cc8cf28-567e-4d43-b287-687cfcaec47c\", \"ContactStatus\":\"ACTIVE\", \"Name\":\"Katherine Warren\", \"FirstName\":\"Katherine\", \"LastName\":\"Warren\", \"EmailAddress\":\"kat.warren@clampett.com\", \"ContactPersons\":[\n], \"BankAccountDetails\":\"\", \"Addresses\":[ { \"AddressType\":\"STREET\", \"City\":\"\", \"Region\":\"\", \"PostalCode\":\"\", \"Country\":\"\" }, { \"AddressType\":\"POBOX\", \"AddressLine1\":\"\", \"AddressLine2\":\"\", \"AddressLine3\":\"\", \"AddressLine4\":\"\", \"City\":\"Palo Alto\", \"Region\":\"CA\", \"PostalCode\":\"94020\", \"Country\":\"United States\" } ], \"Phones\":[ { \"PhoneType\":\"DEFAULT\", \"PhoneNumber\":\"847-1294\", \"PhoneAreaCode\":\"(626)\", \"PhoneCountryCode\":\"\" }, { \"PhoneType\":\"DDI\", \"PhoneNumber\":\"\", \"PhoneAreaCode\":\"\", \"PhoneCountryCode\":\"\" }, { \"PhoneType\":\"FAX\", \"PhoneNumber\":\"\", \"PhoneAreaCode\":\"\", \"PhoneCountryCode\":\"\" }, { \"PhoneType\":\"MOBILE\", \"PhoneNumber\":\"\", \"PhoneAreaCode\":\"\", \"PhoneCountryCode\":\"\" } ], \"UpdatedDateUTC\":\"2017-08-21T13:49:04.227-07:00\", \"ContactGroups\":[\n] }, \"Lineitems\":[\n], \"BankAccount\":{ \"Code\":\"088\", \"Name\":\"Business Wells Fargo\", \"AccountID\":\"6f7594f2-f059-4d56-9e67-47ac9733bfe9\" }, \"IsReconciled\":false, \"Date\":\"2019-02-25\", \"Reference\":\"You just updated\", \"CurrencyCode\":\"USD\", \"CurrencyRate\":1.0, \"Status\":\"AUTHORISED\", \"LineAmountTypes\":\"Inclusive\", \"TotalTax\":1.74, \"BankTransactionID\":\"1289c190-e46d-434b-9628-463ffdb52f00\", \"UpdatedDateUTC\":\"2019-02-26T12:39:27.813-08:00\" } ] }"
            }
          }
        }
      }
    },
    "/BankTransactions/{BankTransactionID}/Attachments" : {
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getBankTransactionAttachments",
        "summary" : "Allows you to retrieve any attachments to bank transactions",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "BankTransactionID",
          "description" : "Xero generated unique identifier for a bank transaction",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success - return response of type Attachments array with 0 to n Attachment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Attachments"
                },
                "example" : "{ \"Id\": \"c50798e1-29e9-4a30-a452-bb6e42e400c8\", \"Status\": \"OK\", \"ProviderName\": \"Xero API Partner\", \"DateTimeUTC\": \"\\/Date(1551303999577)\\/\", \"Attachments\": [ { \"AttachmentID\": \"4508a692-e52c-4ad8-a138-2f13e22bf57b\", \"FileName\": \"sample5.jpg\", \"Url\": \"https://api.xero.com/api.xro/2.0/BankTransactions/db54aab0-ad40-4ced-bcff-0940ba20db2c/Attachments/sample5.jpg\", \"MimeType\": \"image/jpg\", \"ContentLength\": 2878711 }, { \"AttachmentID\": \"45dd3143-9856-42d2-9a6c-53814f67a33e\", \"FileName\": \"sample2.jpg\", \"Url\": \"https://api.xero.com/api.xro/2.0/BankTransactions/db54aab0-ad40-4ced-bcff-0940ba20db2c/Attachments/sample2.jpg\", \"MimeType\": \"image/jpg\", \"ContentLength\": 2878711 } ] }"
              }
            }
          }
        }
      }
    },
    "/BankTransactions/{BankTransactionID}/Attachments/{AttachmentID}" : {
      "x-related-model" : "BankTransaction",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getBankTransactionAttachmentById",
        "summary" : "Allows you to retrieve Attachments on a specific BankTransaction",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "BankTransactionID",
          "description" : "Xero generated unique identifier for a bank transaction",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "required" : true,
          "in" : "path",
          "name" : "AttachmentID",
          "description" : "Xero generated unique identifier for an attachment",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "required" : true,
          "in" : "header",
          "name" : "contentType",
          "description" : "The mime type of the attachment file you are retrieving i.e image/jpg, application/pdf",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success - return response of attachment for BankTransaction as binary data",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          }
        }
      }
    },
    "/BankTransactions/{BankTransactionID}/Attachments/{FileName}" : {
      "x-related-model" : "BankTransaction",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getBankTransactionAttachmentByFileName",
        "summary" : "Allows you to retrieve Attachments on BankTransaction by Filename",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "BankTransactionID",
          "description" : "Xero generated unique identifier for a bank transaction",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "required" : true,
          "in" : "path",
          "name" : "FileName",
          "description" : "The name of the file being attached",
          "schema" : {
            "type" : "string"
          }
        }, {
          "required" : true,
          "in" : "header",
          "name" : "contentType",
          "description" : "The mime type of the attachment file you are retrieving i.e image/jpg, application/pdf",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success - return response of attachment for BankTransaction as binary data",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Accounting" ],
        "operationId" : "updateBankTransactionAttachmentByFileName",
        "summary" : "Allows you to update an Attachment on BankTransaction by Filename",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "BankTransactionID",
          "description" : "Xero generated unique identifier for a bank transaction",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "required" : true,
          "in" : "path",
          "name" : "FileName",
          "description" : "The name of the file being attached",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success - return response of Attachments array of Attachment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Attachments"
                },
                "example" : "{ \"Id\": \"572ad2fe-8c23-45aa-82f9-864485327685\", \"Status\": \"OK\", \"ProviderName\": \"Xero API Partner\", \"DateTimeUTC\": \"\\/Date(1551286166630)\\/\", \"Attachments\": [ { \"AttachmentID\": \"4508a692-e52c-4ad8-a138-2f13e22bf57b\", \"FileName\": \"sample5.jpg\", \"Url\": \"https://api.xero.com/api.xro/2.0/BankTransactions/db54aab0-ad40-4ced-bcff-0940ba20db2c/Attachments/sample5.jpg\", \"MimeType\": \"image/jpg\", \"ContentLength\": 2878711 } ] }"
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400Error"
          }
        },
        "requestBody" : {
          "required" : true,
          "description" : "Byte array of file in body of request",
          "content" : {
            "application/octet-stream" : {
              "schema" : {
                "type" : "string",
                "format" : "byte"
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Accounting" ],
        "operationId" : "createBankTransactionAttachmentByFileName",
        "summary" : "Allows you to createa an Attachment on BankTransaction by Filename",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "BankTransactionID",
          "description" : "Xero generated unique identifier for a bank transaction",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "required" : true,
          "in" : "path",
          "name" : "FileName",
          "description" : "The name of the file being attached",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success - return response of Attachments array of Attachment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Attachments"
                },
                "example" : "{ \"Id\": \"572ad2fe-8c23-45aa-82f9-864485327685\", \"Status\": \"OK\", \"ProviderName\": \"Xero API Partner\", \"DateTimeUTC\": \"\\/Date(1551286166630)\\/\", \"Attachments\": [ { \"AttachmentID\": \"4508a692-e52c-4ad8-a138-2f13e22bf57b\", \"FileName\": \"sample5.jpg\", \"Url\": \"https://api.xero.com/api.xro/2.0/BankTransactions/db54aab0-ad40-4ced-bcff-0940ba20db2c/Attachments/sample5.jpg\", \"MimeType\": \"image/jpg\", \"ContentLength\": 2878711 } ] }"
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400Error"
          }
        },
        "requestBody" : {
          "required" : true,
          "description" : "Byte array of file in body of request",
          "content" : {
            "application/octet-stream" : {
              "schema" : {
                "type" : "string",
                "format" : "byte"
              }
            }
          }
        }
      }
    },
    "/BankTransactions/{BankTransactionID}/History" : {
      "x-related-model" : "BankTransaction",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getBankTransactionsHistory",
        "summary" : "Allows you to retrieve history from a bank transactions",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "BankTransactionID",
          "description" : "Xero generated unique identifier for a bank transaction",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success - return response of HistoryRecords array of 0 to N HistoryRecord",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HistoryRecords"
                },
                "example" : "{ \"Id\": \"238ed37f-5636-4644-beb9-eb44380a02b8\", \"Status\": \"OK\", \"ProviderName\": \"Xero API Partner\", \"DateTimeUTC\": \"\\/Date(1551214417576)\\/\", \"HistoryRecords\": [ { \"Changes\": \"Attached a file\", \"DateUTCString\": \"2018-11-08T14:51:16\", \"DateUTC\": \"\\/Date(1541688676083+0000)\\/\", \"User\": \"System Generated\", \"Details\": \"Attached the file sample2.jpg through the Xero API using Xero API Partner\" }, { \"Changes\": \"Created\", \"DateUTCString\": \"2016-10-13T20:13:36\", \"DateUTC\": \"\\/Date(1476389616423+0000)\\/\", \"User\": \"Sidney Maestre\", \"Details\": \"\" } ] }"
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Accounting" ],
        "operationId" : "createBankTransactionHistoryRecord",
        "summary" : "Allows you to create history record for a bank transactions",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "BankTransactionID",
          "description" : "Xero generated unique identifier for a bank transaction",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success - return response of HistoryRecords array of 0 to N HistoryRecord",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HistoryRecords"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400Error"
          }
        },
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HistoryRecords"
              }
            }
          },
          "required" : true
        }
      }
    },
    "/BankTransfers" : {
      "x-related-model" : "BankTransfer",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getBankTransfers",
        "summary" : "Allows you to retrieve all bank transfers",
        "parameters" : [ {
          "in" : "header",
          "name" : "If-Modified-Since",
          "description" : "Only records created or modified since this timestamp will be returned",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "in" : "query",
          "name" : "where",
          "description" : "Filter by an any element",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "order",
          "description" : "Order by an any element",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success - return response of BankTransfers array of 0 to N BankTransfer",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BankTransfers"
                },
                "example" : "{ \"Id\": \"dfc0d130-9007-4a98-a5ef-6f01700f18e2\", \"Status\": \"OK\", \"ProviderName\": \"Xero API Partner\", \"DateTimeUTC\": \"\\/Date(1551311318988)\\/\", \"BankTransfers\": [ { \"BankTransferID\": \"6221458a-ef7a-4d5f-9b1c-1b96ce03833c\", \"CreatedDateUTCString\": \"2016-10-17T20:46:01\", \"CreatedDateUTC\": \"\\/Date(1476737161140+0000)\\/\", \"DateString\": \"2016-11-12T21:10:00\", \"Date\": \"\\/Date(1478985000000+0000)\\/\", \"FromBankAccount\": { \"AccountID\": \"6f7594f2-f059-4d56-9e67-47ac9733bfe9\", \"Name\": \"Business Wells Fargo\" }, \"ToBankAccount\": { \"AccountID\": \"7e5e243b-9fcd-4aef-8e3a-c70be1e39bfa\", \"Name\": \"My Savings\" }, \"Amount\": 20.00, \"FromBankTransactionID\": \"a3eca480-bc04-4292-9bbd-5c57b8ba12b4\", \"ToBankTransactionID\": \"4ca13f40-f3a0-4530-a442-a600f5696118\", \"HasAttachments\": true }, { \"BankTransferID\": \"9f0153d5-617c-4903-887b-3875807aa27a\", \"CreatedDateUTCString\": \"2016-10-21T23:28:42\", \"CreatedDateUTC\": \"\\/Date(1477092522333+0000)\\/\", \"DateString\": \"2016-10-19T20:10:00\", \"Date\": \"\\/Date(1476907800000+0000)\\/\", \"FromBankAccount\": { \"AccountID\": \"6f7594f2-f059-4d56-9e67-47ac9733bfe9\", \"Name\": \"Business Wells Fargo\" }, \"ToBankAccount\": { \"AccountID\": \"7e5e243b-9fcd-4aef-8e3a-c70be1e39bfa\", \"Name\": \"My Savings\" }, \"Amount\": 20.00, \"FromBankTransactionID\": \"cb74287e-5682-4973-b354-93e2c7a836d3\", \"ToBankTransactionID\": \"4c48ba6c-f318-4405-aee6-b5efa2c70f55\", \"HasAttachments\": false } ] }"
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Accounting" ],
        "operationId" : "createBankTransfer",
        "summary" : "Allows you to create a bank transfers",
        "responses" : {
          "200" : {
            "description" : "Success - return response of BankTransfers array of one BankTransfer",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BankTransfers"
                },
                "example" : "{ \"Id\": \"ae767b68-affd-4e17-bac0-83eaf1854dcd\", \"Status\": \"OK\", \"ProviderName\": \"Xero API Partner\", \"DateTimeUTC\": \"\\/Date(1551311317475)\\/\", \"BankTransfers\": [ { \"BankTransferID\": \"76eea4b6-f026-464c-b6f3-5fb39a196145\", \"DateString\": \"2019-02-27T00:00:00\", \"Date\": \"\\/Date(1551225600000+0000)\\/\", \"FromBankAccount\": { \"AccountID\": \"7e5e243b-9fcd-4aef-8e3a-c70be1e39bfa\", \"Code\": \"090\", \"Name\": \"My Savings\" }, \"ToBankAccount\": { \"AccountID\": \"6f7594f2-f059-4d56-9e67-47ac9733bfe9\", \"Code\": \"088\", \"Name\": \"Business Wells Fargo\" }, \"Amount\": 50.00, \"FromBankTransactionID\": \"e4059952-5acb-4a56-b076-53fad85f2930\", \"ToBankTransactionID\": \"88e4ac17-293b-4e5a-8d8b-3ce3a0b1ee17\", \"CurrencyRate\": 1.000000, \"ValidationErrors\": [] } ] }"
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400Error"
          }
        },
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BankTransfers"
              },
              "example" : "{ \"BankTransfers\":[ { \"FromBankAccount\":{ \"Code\":\"090\", \"Name\":\"My Savings\", \"AccountID\":\"7e5e243b-9fcd-4aef-8e3a-c70be1e39bfa\", \"Type\":\"BANK\", \"BankAccountNumber\":\"123455\", \"Status\":\"ACTIVE\", \"BankAccountType\":\"BANK\", \"CurrencyCode\":\"USD\", \"TaxType\":\"NONE\", \"EnablePaymentsToAccount\":false, \"ShowInExpenseClaims\":false, \"Class\":\"ASSET\", \"ReportingCode\":\"ASS\", \"ReportingCodeName\":\"Assets\", \"HasAttachments\":false, \"UpdatedDateUTC\":\"2016-10-17T13:45:33.993-07:00\" }, \"ToBankAccount\":{ \"Code\":\"088\", \"Name\":\"Business Wells Fargo\", \"AccountID\":\"6f7594f2-f059-4d56-9e67-47ac9733bfe9\", \"Type\":\"BANK\", \"BankAccountNumber\":\"123455\", \"Status\":\"ACTIVE\", \"BankAccountType\":\"BANK\", \"CurrencyCode\":\"USD\", \"TaxType\":\"NONE\", \"EnablePaymentsToAccount\":false, \"ShowInExpenseClaims\":false, \"Class\":\"ASSET\", \"ReportingCode\":\"ASS\", \"ReportingCodeName\":\"Assets\", \"HasAttachments\":false, \"UpdatedDateUTC\":\"2016-06-03T08:31:14.517-07:00\" }, \"Amount\":\"50.00\" } ] }"
            }
          },
          "required" : true
        }
      }
    },
    "/BankTransfers/{BankTransferID}" : {
      "x-related-model" : "BankTransfer",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getBankTransfer",
        "summary" : "Allows you to retrieve any bank transfers",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "BankTransferID",
          "description" : "Xero generated unique identifier for a bank transfer",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success - return response of BankTransfers array with one BankTransfer",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BankTransfers"
                },
                "example" : "{ \"Id\": \"1a5fa46d-5ece-4ef2-89b1-77c293b5d833\", \"Status\": \"OK\", \"ProviderName\": \"Xero API Partner\", \"DateTimeUTC\": \"\\/Date(1551311320368)\\/\", \"BankTransfers\": [ { \"BankTransferID\": \"6221458a-ef7a-4d5f-9b1c-1b96ce03833c\", \"CreatedDateUTCString\": \"2016-10-17T20:46:01\", \"CreatedDateUTC\": \"\\/Date(1476737161140+0000)\\/\", \"DateString\": \"2016-11-12T21:10:00\", \"Date\": \"\\/Date(1478985000000+0000)\\/\", \"FromBankAccount\": { \"AccountID\": \"6f7594f2-f059-4d56-9e67-47ac9733bfe9\", \"Code\": \"088\", \"Name\": \"Business Wells Fargo\" }, \"ToBankAccount\": { \"AccountID\": \"7e5e243b-9fcd-4aef-8e3a-c70be1e39bfa\", \"Code\": \"090\", \"Name\": \"My Savings\" }, \"Amount\": 20.00, \"FromBankTransactionID\": \"a3eca480-bc04-4292-9bbd-5c57b8ba12b4\", \"ToBankTransactionID\": \"4ca13f40-f3a0-4530-a442-a600f5696118\", \"CurrencyRate\": 1.000000, \"HasAttachments\": true, \"Attachments\": [ { \"AttachmentID\": \"e05a6fd8-0e47-47a9-9799-b809c8267260\", \"FileName\": \"HelloWorld.jpg\", \"Url\": \"https://api.xero.com/api.xro/2.0/banktransfer/6221458a-ef7a-4d5f-9b1c-1b96ce03833c/Attachments/HelloWorld.jpg\", \"MimeType\": \"image/jpg\", \"ContentLength\": 2878711 } ] } ] }"
              }
            }
          }
        }
      }
    },
    "/BankTransfers/{BankTransferID}/Attachments" : {
      "x-related-model" : "BankTransfer",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getBankTransferAttachments",
        "summary" : "Allows you to retrieve Attachments from  bank transfers",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "BankTransferID",
          "description" : "Xero generated unique identifier for a bank transfer",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success - return response of Attachments array of 0 to N Attachment for a Bank Transfer",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Attachments"
                },
                "example" : "{ \"Id\": \"5cb6b587-7b02-46b6-97fe-d8ad8f20321b\", \"Status\": \"OK\", \"ProviderName\": \"Xero API Partner\", \"DateTimeUTC\": \"\\/Date(1551397557272)\\/\", \"Attachments\": [ { \"AttachmentID\": \"e05a6fd8-0e47-47a9-9799-b809c8267260\", \"FileName\": \"HelloWorld.jpg\", \"Url\": \"https://api.xero.com/api.xro/2.0/BankTransfers/6221458a-ef7a-4d5f-9b1c-1b96ce03833c/Attachments/HelloWorld.jpg\", \"MimeType\": \"image/jpg\", \"ContentLength\": 2878711 } ] }"
              }
            }
          }
        }
      }
    },
    "/BankTransfers/{BankTransferID}/Attachments/{AttachmentID}" : {
      "x-related-model" : "Invoice",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getBankTransferAttachmentById",
        "summary" : "Allows you to retrieve Attachments on BankTransfer",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "BankTransferID",
          "description" : "Xero generated unique identifier for a bank transfer",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "required" : true,
          "in" : "path",
          "name" : "AttachmentID",
          "description" : "Xero generated unique identifier for an Attachment to a bank transfer",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "required" : true,
          "in" : "header",
          "name" : "contentType",
          "description" : "The mime type of the attachment file you are retrieving i.e image/jpg, application/pdf",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success - return response of binary data from the Attachment to a Bank Transfer",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          }
        }
      }
    },
    "/BankTransfers/{BankTransferID}/Attachments/{FileName}" : {
      "x-related-model" : "BankTransfer",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getBankTransferAttachmentByFileName",
        "summary" : "Allows you to retrieve Attachments on BankTransfer by file name",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "BankTransferID",
          "description" : "Xero generated unique identifier for a bank transfer",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "required" : true,
          "in" : "path",
          "name" : "FileName",
          "description" : "The name of the file being attached to a Bank Transfer",
          "schema" : {
            "type" : "string"
          }
        }, {
          "required" : true,
          "in" : "header",
          "name" : "contentType",
          "description" : "The mime type of the attachment file you are retrieving i.e image/jpg, application/pdf",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success - return response of binary data from the Attachment to a Bank Transfer",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Accounting" ],
        "operationId" : "updateBankTransferAttachmentByFileName",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "BankTransferID",
          "description" : "Xero generated unique identifier for a bank transfer",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "required" : true,
          "in" : "path",
          "name" : "FileName",
          "description" : "The name of the file being attached to a Bank Transfer",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success - return response of Attachments array of 0 to N Attachment for a Bank Transfer",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Attachments"
                },
                "example" : "{ \"Id\": \"c7810140-19c2-4ff7-b3ec-b7e95ce7becf\", \"Status\": \"OK\", \"ProviderName\": \"Xero API Partner\", \"DateTimeUTC\": \"\\/Date(1551398138226)\\/\", \"Attachments\": [ { \"AttachmentID\": \"0851935c-c4c5-4de8-9247-ce22efde6f82\", \"FileName\": \"sample5.jpg\", \"Url\": \"https://api.xero.com/api.xro/2.0/BankTransfers/6221458a-ef7a-4d5f-9b1c-1b96ce03833c/Attachments/sample5.jpg\", \"MimeType\": \"image/jpg\", \"ContentLength\": 2878711 } ] }"
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400Error"
          }
        },
        "requestBody" : {
          "required" : true,
          "description" : "Byte array of file in body of request",
          "content" : {
            "application/octet-stream" : {
              "schema" : {
                "type" : "string",
                "format" : "byte"
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Accounting" ],
        "operationId" : "createBankTransferAttachmentByFileName",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "BankTransferID",
          "description" : "Xero generated unique identifier for a bank transfer",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "required" : true,
          "in" : "path",
          "name" : "FileName",
          "description" : "The name of the file being attached to a Bank Transfer",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success - return response of Attachments array of 0 to N Attachment for a Bank Transfer",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Attachments"
                },
                "example" : "{ \"Id\": \"b73ba149-76a9-4e7c-a5c6-b9230022f416\", \"Status\": \"OK\", \"ProviderName\": \"Xero API Partner\", \"DateTimeUTC\": \"\\/Date(1551397998372)\\/\", \"Attachments\": [ { \"AttachmentID\": \"9478be4c-c707-48c1-b4a7-83d8eaf442b5\", \"FileName\": \"sample5.jpg\", \"Url\": \"https://api.xero.com/api.xro/2.0/BankTransfers/6221458a-ef7a-4d5f-9b1c-1b96ce03833c/Attachments/sample5.jpg\", \"MimeType\": \"image/jpg\", \"ContentLength\": 2878711 } ] }"
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400Error"
          }
        },
        "requestBody" : {
          "required" : true,
          "description" : "Byte array of file in body of request",
          "content" : {
            "application/octet-stream" : {
              "schema" : {
                "type" : "string",
                "format" : "byte"
              }
            }
          }
        }
      }
    },
    "/BankTransfers/{BankTransferID}/History" : {
      "x-related-model" : "BankTransfer",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getBankTransferHistory",
        "summary" : "Allows you to retrieve history from a bank transfers",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "BankTransferID",
          "description" : "Xero generated unique identifier for a bank transfer",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success - return response of HistoryRecords array of 0 to N HistoryRecord for a Bank Transfer",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HistoryRecords"
                },
                "example" : "{ \"Id\": \"cd54cc7b-b721-4207-b11d-7d13c7902f91\", \"Status\": \"OK\", \"ProviderName\": \"Xero API Partner\", \"DateTimeUTC\": \"\\/Date(1551311321819)\\/\", \"HistoryRecords\": [ { \"Changes\": \"Attached a file\", \"DateUTCString\": \"2018-11-08T15:01:21\", \"DateUTC\": \"\\/Date(1541689281470+0000)\\/\", \"User\": \"System Generated\", \"Details\": \"Attached the file sample2.jpg through the Xero API using Xero API Partner\" }, { \"Changes\": \"Credit Applied\", \"DateUTCString\": \"2016-10-17T20:46:01\", \"DateUTC\": \"\\/Date(1476737161173+0000)\\/\", \"User\": \"System Generated\", \"Details\": \"Bank transfer from Business Wells Fargo to My Savings on November 12, 2016 for 20.00.\" } ] }"
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Accounting" ],
        "operationId" : "createBankTransferHistoryRecord",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "BankTransferID",
          "description" : "Xero generated unique identifier for a bank transfer",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success - return response HistoryRecords array with the newly created HistoryRecord for a Bank Transfer",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HistoryRecords"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400Error"
          }
        },
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HistoryRecords"
              }
            }
          },
          "required" : true
        }
      }
    },
    "/BrandingThemes" : {
      "x-related-model" : "BrandingTheme",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getBrandingThemes",
        "summary" : "Allows you to retrieve all the BrandingThemes",
        "responses" : {
          "200" : {
            "description" : "Success - return response of type BrandingThemes",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BrandingThemes"
                },
                "example" : "{ \"Id\": \"d1a1beea-bdfe-4ee4-9dbc-27226a26cd68\", \"Status\": \"OK\", \"ProviderName\": \"Xero API Partner\", \"DateTimeUTC\": \"\\/Date(1550881711906)\\/\", \"BrandingThemes\": [ { \"BrandingThemeID\": \"dabc7637-62c1-4941-8a6e-ee44fa5090e7\", \"Name\": \"Standard\", \"SortOrder\": 0, \"CreatedDateUTC\": \"\\/Date(1464967643813+0000)\\/\" } ] }"
              }
            }
          }
        }
      }
    },
    "/BrandingThemes/{BrandingThemeID}" : {
      "x-related-model" : "BrandingTheme",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getBrandingTheme",
        "summary" : "Allows you to retrieve a specific BrandingThemes",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "BrandingThemeID",
          "description" : "Unique identifier for a Branding Theme",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success - return response of type BrandingThemes with one BrandingTheme",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BrandingThemes"
                },
                "example" : "{ \"Id\": \"df671650-cf14-4a7f-b609-4166933719bc\", \"Status\": \"OK\", \"ProviderName\": \"Xero API Partner\", \"DateTimeUTC\": \"\\/Date(1550881713071)\\/\", \"BrandingThemes\": [ { \"BrandingThemeID\": \"dabc7637-62c1-4941-8a6e-ee44fa5090e7\", \"Name\": \"Standard\", \"SortOrder\": 0, \"CreatedDateUTC\": \"\\/Date(1464967643813+0000)\\/\" } ] }"
              }
            }
          }
        }
      }
    },
    "/BrandingThemes/{BrandingThemeID}/PaymentServices" : {
      "x-related-model" : "BrandingTheme",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getBrandingThemePaymentServices",
        "summary" : "Allows you to retrieve the Payment services for a Branding Theme",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "BrandingThemeID",
          "description" : "Unique identifier for a Branding Theme",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success - return response of type PaymentServices array with 0 to N PaymentService",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentServices"
                },
                "example" : "{ \"Id\": \"bfd5adbe-0e92-48f0-8c5a-39072f6c4ed3\", \"Status\": \"OK\", \"ProviderName\": \"Xero API Partner\", \"DateTimeUTC\": \"\\/Date(1551139339419)\\/\", \"PaymentServices\": [ { \"PaymentServiceID\": \"8cc53aa4-ae01-45b9-b06c-69c42eeae61f\", \"PaymentServiceName\": \"Sidney Maestre\", \"PaymentServiceType\": \"PayPal\" }, { \"PaymentServiceID\": \"dede7858-14e3-4a46-bf95-4d4cc491e645\", \"PaymentServiceName\": \"ACME Payment\", \"PaymentServiceUrl\": \"https://www.payupnow.com/\", \"PaymentServiceType\": \"Custom\", \"PayNowText\": \"Pay Now\" } ] }"
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Accounting" ],
        "operationId" : "createBrandingThemePaymentServices",
        "summary" : "Allow for the creation of new custom payment service for specified Branding Theme",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "BrandingThemeID",
          "description" : "Unique identifier for a Branding Theme",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success - return response of type PaymentServices array with newly created PaymentService",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentServices"
                },
                "example" : "{ \"Id\":\"918feecb-067a-4ed9-841b-571c04eaada3\", \"Status\":\"OK\", \"ProviderName\":\"Xero API Partner\", \"DateTimeUTC\":\"\\/Date(1551139338915)\\/\", \"PaymentServices\":[ { \"PaymentServiceID\":\"dede7858-14e3-4a46-bf95-4d4cc491e645\", \"PaymentServiceName\":\"ACME Payments\", \"PaymentServiceUrl\":\"https://www.payupnow.com/\", \"PaymentServiceType\":\"Custom\", \"PayNowText\":\"Pay Now\" } ] }"
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400Error"
          }
        },
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PaymentService"
              },
              "example" : "{ \"PaymentServiceID\":\"dede7858-14e3-4a46-bf95-4d4cc491e645\", \"PaymentServiceName\":\"ACME Payments\", \"PaymentServiceUrl\":\"https://www.payupnow.com/\", \"PayNowText\":\"Pay Now\" }"
            }
          },
          "required" : true
        }
      }
    },
    "/Contacts" : {
      "x-related-model" : "Contact",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getContacts",
        "summary" : "Allows you to retrieve, add and update contacts in a Xero organisation",
        "parameters" : [ {
          "in" : "header",
          "name" : "If-Modified-Since",
          "description" : "Only records created or modified since this timestamp will be returned",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "in" : "query",
          "name" : "where",
          "description" : "Filter by an any element",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "order",
          "description" : "Order by an any element",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "IDs",
          "description" : "Filter by a comma separated list of ContactIDs. Allows you to retrieve a specific set of contacts in a single call.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "page",
          "description" : "e.g. page=1 - Up to 100 contacts will be returned in a single API call.",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "in" : "query",
          "name" : "includeArchived",
          "description" : "e.g. includeArchived=true - Contacts with a status of ARCHIVED will be included in the response",
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success - return response of type Contacts array with 0 to N Contact",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Contacts"
                },
                "example" : "{ \"Id\": \"04e93d48-e72f-4775-b7dd-15a041fab972\", \"Status\": \"OK\", \"ProviderName\": \"Xero API Partner\", \"DateTimeUTC\": \"\\/Date(1551399323399)\\/\", \"Contacts\": [ { \"ContactID\": \"5cc8cf28-567e-4d43-b287-687cfcaec47c\", \"ContactStatus\": \"ACTIVE\", \"Name\": \"Katherine Warren\", \"FirstName\": \"Katherine\", \"LastName\": \"Warren\", \"EmailAddress\": \"kat.warren@clampett.com\", \"BankAccountDetails\": \"\", \"Addresses\": [ { \"AddressType\": \"STREET\", \"City\": \"\", \"Region\": \"\", \"PostalCode\": \"\", \"Country\": \"\" }, { \"AddressType\": \"POBOX\", \"AddressLine1\": \"\", \"AddressLine2\": \"\", \"AddressLine3\": \"\", \"AddressLine4\": \"\", \"City\": \"Palo Alto\", \"Region\": \"CA\", \"PostalCode\": \"94020\", \"Country\": \"United States\" } ], \"Phones\": [ { \"PhoneType\": \"DDI\", \"PhoneNumber\": \"\", \"PhoneAreaCode\": \"\", \"PhoneCountryCode\": \"\" }, { \"PhoneType\": \"DEFAULT\", \"PhoneNumber\": \"847-1294\", \"PhoneAreaCode\": \"(626)\", \"PhoneCountryCode\": \"\" }, { \"PhoneType\": \"FAX\", \"PhoneNumber\": \"\", \"PhoneAreaCode\": \"\", \"PhoneCountryCode\": \"\" }, { \"PhoneType\": \"MOBILE\", \"PhoneNumber\": \"\", \"PhoneAreaCode\": \"\", \"PhoneCountryCode\": \"\" } ], \"UpdatedDateUTC\": \"\\/Date(1503348544227+0000)\\/\", \"ContactGroups\": [], \"IsSupplier\": true, \"IsCustomer\": true, \"Balances\": { \"AccountsReceivable\": { \"Outstanding\": 760.00, \"Overdue\": 920.00 }, \"AccountsPayable\": { \"Outstanding\": 231.60, \"Overdue\": 360.00 } }, \"ContactPersons\": [], \"HasAttachments\": false, \"HasValidationErrors\": false }, { \"ContactID\": \"3ec601ad-eddc-4ccb-a8ac-736e88293b1b\", \"ContactStatus\": \"ACTIVE\", \"Name\": \"Lisa Parker\", \"FirstName\": \"Lisa\", \"LastName\": \"Parker\", \"EmailAddress\": \"lparker@parkerandco.com\", \"BankAccountDetails\": \"\", \"Addresses\": [ { \"AddressType\": \"STREET\", \"City\": \"\", \"Region\": \"\", \"PostalCode\": \"\", \"Country\": \"\" }, { \"AddressType\": \"POBOX\", \"AddressLine1\": \"\", \"AddressLine2\": \"\", \"AddressLine3\": \"\", \"AddressLine4\": \"\", \"City\": \"Anchorage\", \"Region\": \"AK\", \"PostalCode\": \"99501\", \"Country\": \"United States\" } ], \"Phones\": [ { \"PhoneType\": \"DDI\", \"PhoneNumber\": \"\", \"PhoneAreaCode\": \"\", \"PhoneCountryCode\": \"\" }, { \"PhoneType\": \"DEFAULT\", \"PhoneNumber\": \"266-3583\", \"PhoneAreaCode\": \"(510)\", \"PhoneCountryCode\": \"\" }, { \"PhoneType\": \"FAX\", \"PhoneNumber\": \"\", \"PhoneAreaCode\": \"\", \"PhoneCountryCode\": \"\" }, { \"PhoneType\": \"MOBILE\", \"PhoneNumber\": \"\", \"PhoneAreaCode\": \"\", \"PhoneCountryCode\": \"\" } ], \"UpdatedDateUTC\": \"\\/Date(1503348546760+0000)\\/\", \"ContactGroups\": [], \"IsSupplier\": false, \"IsCustomer\": false, \"ContactPersons\": [], \"HasAttachments\": false, \"HasValidationErrors\": false } ] }"
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Accounting" ],
        "operationId" : "createContact",
        "responses" : {
          "200" : {
            "description" : "Success - return response of type Contacts array with newly created Contact",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Contacts"
                },
                "example" : "{ \"Id\": \"e997d6d7-6dad-4458-beb8-d9c1bf7f2edf\", \"Status\": \"OK\", \"ProviderName\": \"Xero API Partner\", \"DateTimeUTC\": \"\\/Date(1551399321121)\\/\", \"Contacts\": [ { \"ContactID\": \"3ff6d40c-af9a-40a3-89ce-3c1556a25591\", \"ContactStatus\": \"ACTIVE\", \"Name\": \"Foo9987\", \"EmailAddress\": \"sid32476@blah.com\", \"BankAccountDetails\": \"\", \"Addresses\": [ { \"AddressType\": \"STREET\", \"City\": \"\", \"Region\": \"\", \"PostalCode\": \"\", \"Country\": \"\" }, { \"AddressType\": \"POBOX\", \"City\": \"\", \"Region\": \"\", \"PostalCode\": \"\", \"Country\": \"\" } ], \"Phones\": [ { \"PhoneType\": \"DEFAULT\", \"PhoneNumber\": \"\", \"PhoneAreaCode\": \"\", \"PhoneCountryCode\": \"\" }, { \"PhoneType\": \"DDI\", \"PhoneNumber\": \"\", \"PhoneAreaCode\": \"\", \"PhoneCountryCode\": \"\" }, { \"PhoneType\": \"FAX\", \"PhoneNumber\": \"\", \"PhoneAreaCode\": \"\", \"PhoneCountryCode\": \"\" }, { \"PhoneType\": \"MOBILE\", \"PhoneNumber\": \"555-1212\", \"PhoneAreaCode\": \"415\", \"PhoneCountryCode\": \"\" } ], \"UpdatedDateUTC\": \"\\/Date(1551399321043+0000)\\/\", \"ContactGroups\": [], \"IsSupplier\": false, \"IsCustomer\": false, \"SalesTrackingCategories\": [], \"PurchasesTrackingCategories\": [], \"PaymentTerms\": { \"Bills\": { \"Day\": 15, \"Type\": \"OFCURRENTMONTH\" }, \"Sales\": { \"Day\": 10, \"Type\": \"DAYSAFTERBILLMONTH\" } }, \"ContactPersons\": [], \"HasValidationErrors\": false } ] }"
              }
            }
          },
          "400" : {
            "description" : "Validation Error - some data was incorrect returns response of type Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                },
                "example" : "{ \"ErrorNumber\": 10, \"Type\": \"ValidationException\", \"Message\": \"A validation exception occurred\", \"Elements\": [ { \"ContactID\": \"00000000-0000-0000-0000-000000000000\", \"AccountNumber\": \"12345-ABCD\", \"Name\": \"Sidney Maestre\", \"EmailAddress\": \"foo78858@bar.com\", \"AccountsReceivableTaxType\": \"NONE\", \"AccountsPayableTaxType\": \"INPUT\", \"Addresses\": [ { \"AddressType\": \"STREET\", \"AddressLine1\": \"101 Green St\", \"AddressLine2\": \"5th floor\", \"City\": \"San Francisco\", \"Region\": \"CA\", \"PostalCode\": \"94041\", \"Country\": \"US\", \"AttentionTo\": \"Rod Drury\", \"ValidationErrors\": [] } ], \"Phones\": [ { \"PhoneType\": \"MOBILE\", \"PhoneNumber\": \"555-1212\", \"PhoneAreaCode\": \"415\", \"ValidationErrors\": [] } ], \"ContactGroups\": [], \"PaymentTerms\": { \"Bills\": { \"Day\": 15, \"Type\": \"OFCURRENTMONTH\", \"ValidationErrors\": [] }, \"Sales\": { \"Day\": 10, \"Type\": \"DAYSAFTERBILLMONTH\", \"ValidationErrors\": [] } }, \"ContactPersons\": [], \"HasValidationErrors\": true, \"ValidationErrors\": [ { \"Message\": \"The contact name Sidney Maestre is already assigned to another contact. The contact name must be unique across all active contacts.\" } ] } ] }"
              }
            }
          }
        },
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Contact"
              },
              "example" : "{ \"Name\":\"Foo9987\", \"EmailAddress\":\"sid32476@blah.com\", \"Phones\":[ { \"PhoneType\":\"MOBILE\", \"PhoneNumber\":\"555-1212\", \"PhoneAreaCode\":\"415\" } ], \"PaymentTerms\":{ \"Bills\":{ \"Day\":15, \"Type\":\"OFCURRENTMONTH\" }, \"Sales\":{ \"Day\":10, \"Type\":\"DAYSAFTERBILLMONTH\" } } }"
            }
          }
        }
      }
    },
    "/Contacts/{ContactID}" : {
      "x-related-model" : "Contact",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getContact",
        "summary" : "Allows you to retrieve, add and update contacts in a Xero organisation",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "ContactID",
          "description" : "Unique identifier for a Contact",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success - return response of type Contacts array with a unique Contact",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Contacts"
                },
                "example" : "{ \"Id\": \"5c83b115-a6e8-4f2a-877f-ba63d009235b\", \"Status\": \"OK\", \"ProviderName\": \"Xero API Partner\", \"DateTimeUTC\": \"\\/Date(1551462703288)\\/\", \"Contacts\": [ { \"ContactID\": \"8138a266-fb42-49b2-a104-014b7045753d\", \"ContactNumber\": \"SB2\", \"AccountNumber\": \"1234567\", \"ContactStatus\": \"ACTIVE\", \"Name\": \"Acme Parts Co.\", \"FirstName\": \"Blake\", \"LastName\": \"Kohler\", \"EmailAddress\": \"bk@krave.co\", \"SkypeUserName\": \"blake\", \"BankAccountDetails\": \"12334567\", \"TaxNumber\": \"123-22-3456\", \"AccountsReceivableTaxType\": \"TAX003\", \"AccountsPayableTaxType\": \"TAX022\", \"Addresses\": [ { \"AddressType\": \"STREET\", \"AddressLine1\": \"123 Fake Street\", \"City\": \"Vancouver\", \"Region\": \"British Columbia\", \"PostalCode\": \"V6B 2T4\", \"Country\": \"\", \"AttentionTo\": \"\" }, { \"AddressType\": \"POBOX\", \"AddressLine1\": \"1234 Fake Street\", \"City\": \"Vancouver\", \"Region\": \"British Columbia\", \"PostalCode\": \"V6B 2T4\", \"Country\": \"\", \"AttentionTo\": \"Blake\" } ], \"Phones\": [ { \"PhoneType\": \"DDI\", \"PhoneNumber\": \"489-44493\", \"PhoneAreaCode\": \"345\", \"PhoneCountryCode\": \"4\" }, { \"PhoneType\": \"DEFAULT\", \"PhoneNumber\": \"408-0914\", \"PhoneAreaCode\": \"604\", \"PhoneCountryCode\": \"1\" }, { \"PhoneType\": \"FAX\", \"PhoneNumber\": \"123-9933\", \"PhoneAreaCode\": \"123\", \"PhoneCountryCode\": \"2\" }, { \"PhoneType\": \"MOBILE\", \"PhoneNumber\": \"999-44\", \"PhoneAreaCode\": \"234\", \"PhoneCountryCode\": \"3\" } ], \"UpdatedDateUTC\": \"\\/Date(1551459777193+0000)\\/\", \"ContactGroups\": [], \"IsSupplier\": true, \"IsCustomer\": true, \"DefaultCurrency\": \"USD\", \"Discount\": 13.00, \"Website\": \"http://www.google.com\", \"BrandingTheme\": { \"BrandingThemeID\": \"dabc7637-62c1-4941-8a6e-ee44fa5090e7\", \"Name\": \"Standard\" }, \"PurchasesDefaultAccountCode\": \"660\", \"SalesDefaultAccountCode\": \"002\", \"BatchPayments\": { \"BankAccountNumber\": \"12334567\", \"BankAccountName\": \"Citi Bank\", \"Details\": \"biz checking\", \"Code\": \"\", \"Reference\": \"\" }, \"Balances\": { \"AccountsReceivable\": { \"Outstanding\": 118.90, \"Overdue\": 136.90 }, \"AccountsPayable\": { \"Outstanding\": -43.60, \"Overdue\": 40.00 } }, \"PaymentTerms\": { \"Bills\": { \"Day\": 12, \"Type\": \"OFFOLLOWINGMONTH\" }, \"Sales\": { \"Day\": 14, \"Type\": \"OFCURRENTMONTH\" } }, \"ContactPersons\": [ { \"FirstName\": \"Sue\", \"LastName\": \"Johnson\", \"EmailAddress\": \"sue.johnson@krave.com\", \"IncludeInEmails\": true } ], \"HasAttachments\": true, \"Attachments\": [ { \"AttachmentID\": \"04e0a3e3-b116-456a-9f32-9706f0d33afa\", \"FileName\": \"sample5.jpg\", \"Url\": \"https://api.xero.com/api.xro/2.0/contact/8138a266-fb42-49b2-a104-014b7045753d/Attachments/sample5.jpg\", \"MimeType\": \"image/jpg\", \"ContentLength\": 2878711 } ], \"HasValidationErrors\": false } ] }"
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Accounting" ],
        "operationId" : "updateContact",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "ContactID",
          "description" : "Unique identifier for a Contact",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success - return response of type Contacts array with an updated Contact",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Contacts"
                },
                "example" : "{ \"Id\": \"4166b727-c3f0-4881-acd0-d4f7c0e8fcda\", \"Status\": \"OK\", \"ProviderName\": \"Xero API Partner\", \"DateTimeUTC\": \"\\/Date(1551400031795)\\/\", \"Contacts\": [ { \"ContactID\": \"d5be01fb-b09f-4c3a-9c67-e10c2a03412c\", \"ContactStatus\": \"ACTIVE\", \"Name\": \"FooBar\", \"EmailAddress\": \"sid30680@blah.com\", \"BankAccountDetails\": \"\", \"Addresses\": [ { \"AddressType\": \"STREET\", \"City\": \"\", \"Region\": \"\", \"PostalCode\": \"\", \"Country\": \"\" }, { \"AddressType\": \"POBOX\", \"City\": \"\", \"Region\": \"\", \"PostalCode\": \"\", \"Country\": \"\" } ], \"Phones\": [ { \"PhoneType\": \"DEFAULT\", \"PhoneNumber\": \"\", \"PhoneAreaCode\": \"\", \"PhoneCountryCode\": \"\" }, { \"PhoneType\": \"DDI\", \"PhoneNumber\": \"\", \"PhoneAreaCode\": \"\", \"PhoneCountryCode\": \"\" }, { \"PhoneType\": \"FAX\", \"PhoneNumber\": \"\", \"PhoneAreaCode\": \"\", \"PhoneCountryCode\": \"\" }, { \"PhoneType\": \"MOBILE\", \"PhoneNumber\": \"555-1212\", \"PhoneAreaCode\": \"415\", \"PhoneCountryCode\": \"\" } ], \"UpdatedDateUTC\": \"\\/Date(1551400031763+0000)\\/\", \"ContactGroups\": [], \"IsSupplier\": false, \"IsCustomer\": false, \"SalesTrackingCategories\": [], \"PurchasesTrackingCategories\": [], \"PaymentTerms\": { \"Bills\": { \"Day\": 15, \"Type\": \"OFCURRENTMONTH\" }, \"Sales\": { \"Day\": 10, \"Type\": \"DAYSAFTERBILLMONTH\" } }, \"ContactPersons\": [], \"HasValidationErrors\": false } ] }"
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400Error"
          }
        },
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Contacts"
[...]
