{
  "openapi" : "3.0.0",
  "servers" : [ {
    "url" : "https://api.xero.com/api.xro/2.0"
  }, {
    "url" : "https://virtserver.swaggerhub.com/Xero/accounting/2.0.0"
  } ],
  "info" : {
    "title" : "Accounting API",
    "version" : "2.0.0",
    "termsOfService" : "https://developer.xero.com/xero-developer-platform-terms-conditions/",
    "contact" : {
      "name" : "Xero Platform Team",
      "email" : "api@xero.com",
      "url" : "https://developer.xero.com"
    }
  },
  "paths" : {
    "/Accounts" : {
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getAccounts",
        "summary" : "Allows you to retrieve the full chart of accounts",
        "responses" : {
          "200" : {
            "description" : "Success - return response of type Accounts",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accounts"
                },
                "example" : "{ \"Accounts\": [{ \"AccountID\": \"ebd06280-af70-4bed-97c6-7451a454ad85\", \"Code\": \"091\", \"Name\": \"Business Savings Account\", \"Type\": \"BANK\", \"TaxType\": \"NONE\", \"EnablePaymentsToAccount\": false, \"BankAccountNumber\": \"0209087654321050\", \"BankAccountType\": \"BANK\", \"CurrencyCode\": \"NZD\" },{ \"AccountID\": \"7d05a53d-613d-4eb2-a2fc-dcb6adb80b80\", \"Code\": \"200\", \"Name\": \"Sales\", \"Type\": \"REVENUE\", \"TaxType\": \"OUTPUT2\", \"Description\": \"Income from any normal business activity\", \"EnablePaymentsToAccount\": false }] }"
              }
            }
          }
        },
        "parameters" : [ {
          "in" : "header",
          "name" : "If-Modified-Since",
          "description" : "Only records created or modified since this timestamp will be returned",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "in" : "query",
          "name" : "where",
          "description" : "Filter by an any element",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "order",
          "description" : "Order by an any element",
          "schema" : {
            "type" : "string"
          }
        } ]
      },
      "put" : {
        "tags" : [ "Accounting" ],
        "operationId" : "createAccount",
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accounts"
                },
                "example" : "{ \"Id\": \"11814c9d-3b5e-492e-93b0-fad16bf3244f\", \"Status\": \"OK\", \"ProviderName\": \"Xero API Partner\", \"DateTimeUTC\": \"\\/Date(1550793549392)\\/\", \"Accounts\": [ { \"AccountID\": \"66b262e2-561e-423e-8937-47d558f13442\", \"Code\": \"123456\", \"Name\": \"Foobar\", \"Status\": \"ACTIVE\", \"Type\": \"EXPENSE\", \"TaxType\": \"INPUT\", \"Description\": \"Hello World\", \"Class\": \"EXPENSE\", \"EnablePaymentsToAccount\": false, \"ShowInExpenseClaims\": false, \"ReportingCode\": \"EXP\", \"ReportingCodeName\": \"Expense\", \"UpdatedDateUTC\": \"\\/Date(1550793549320+0000)\\/\" } ] }"
              }
            }
          },
          "400" : {
            "description" : "A successful request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                },
                "example" : "{ \"ErrorNumber\": 10, \"Type\": \"ValidationException\", \"Message\": \"A validation exception occurred\", \"Elements\": [ { \"AccountID\": \"00000000-0000-0000-0000-000000000000\", \"Code\": \"123456\", \"Name\": \"Foobar\", \"Type\": \"EXPENSE\", \"Description\": \"Hello World\", \"ValidationErrors\": [ { \"Message\": \"Please enter a unique Name.\" } ] } ] }"
              }
            }
          }
        },
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Account"
              }
            }
          }
        }
      }
    },
    "/Accounts/{AccountID}" : {
      "x-related-model" : "Account",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getAccount",
        "summary" : "Allows you to retrieve the full chart of accounts",
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accounts"
                },
                "example" : "{ \"Id\": \"323455cc-9511-4451-a873-248d2983f38e\", \"Status\": \"OK\", \"ProviderName\": \"Xero API Partner\", \"DateTimeUTC\": \"\\/Date(1550797359081)\\/\", \"Accounts\": [ { \"AccountID\": \"99ce6032-0678-4aa0-8148-240c75fee33a\", \"Code\": \"123456\", \"Name\": \"FooBar\", \"Status\": \"ACTIVE\", \"Type\": \"EXPENSE\", \"TaxType\": \"INPUT\", \"Description\": \"Hello World\", \"Class\": \"EXPENSE\", \"EnablePaymentsToAccount\": false, \"ShowInExpenseClaims\": false, \"ReportingCode\": \"EXP\", \"ReportingCodeName\": \"Expense\", \"UpdatedDateUTC\": \"\\/Date(1550797359120+0000)\\/\" } ] }"
              }
            }
          }
        },
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "AccountID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ]
      },
      "post" : {
        "tags" : [ "Accounting" ],
        "operationId" : "updateAccount",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "AccountID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accounts"
                },
                "example" : "{ \"Id\": \"9012e75c-ec08-40a9-ae15-153fc1f35c4d\", \"Status\": \"OK\", \"ProviderName\": \"Java Partner Example\", \"DateTimeUTC\": \"\\/Date(1550795389340)\\/\", \"Accounts\": [ { \"AccountID\": \"99ce6032-0678-4aa0-8148-240c75fee33a\", \"Code\": \"654321\", \"Name\": \"BarFoo\", \"Status\": \"ACTIVE\", \"Type\": \"EXPENSE\", \"TaxType\": \"INPUT\", \"Description\": \"Good Bye World\", \"Class\": \"EXPENSE\", \"EnablePaymentsToAccount\": false, \"ShowInExpenseClaims\": false, \"ReportingCode\": \"EXP\", \"ReportingCodeName\": \"Expense\", \"UpdatedDateUTC\": \"\\/Date(1550795389333+0000)\\/\" } ] }"
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400Error"
          }
        },
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accounts"
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Accounting" ],
        "operationId" : "deleteAccount",
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accounts"
                },
                "example" : "{ \"Id\": \"76bb0543-8efe-4acc-b7f6-67dfcdec37b4\", \"Status\": \"OK\", \"ProviderName\": \"Xero API Partner\", \"DateTimeUTC\": \"\\/Date(1550798217216)\\/\", \"Accounts\": [ { \"AccountID\": \"7f3c0bec-f3e7-4073-b4d6-cc56dd027ef1\", \"Code\": \"123456\", \"Name\": \"FooBar\", \"Status\": \"DELETED\", \"Type\": \"EXPENSE\", \"TaxType\": \"INPUT\", \"Description\": \"Hello World\", \"Class\": \"EXPENSE\", \"EnablePaymentsToAccount\": false, \"ShowInExpenseClaims\": false, \"ReportingCode\": \"EXP\", \"ReportingCodeName\": \"Expense\", \"UpdatedDateUTC\": \"\\/Date(1550798217210+0000)\\/\" } ] }"
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400Error"
          }
        },
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "AccountID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ]
      }
    },
    "/Accounts/{AccountID}/Attachments" : {
      "x-related-model" : "Account",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getAccountAttachments",
        "summary" : "Allows you to retrieve Attachments for accounts",
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Attachments"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Attachments"
                }
              }
            }
          }
        },
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "AccountID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ]
      }
    },
    "/Accounts/{AccountID}/Attachments/{AttachmentID}" : {
      "x-related-model" : "Account",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getAccountAttachmentById",
        "summary" : "Allows you to retrieve Attachments on Account",
        "responses" : {
          "200" : {
            "description" : "Returns a binary string (ByteArray)",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          }
        },
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "AccountID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "required" : true,
          "in" : "path",
          "name" : "AttachmentID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "required" : true,
          "description" : "The mime type of the attachment file you are retrieving i.e image/jpg, application/pdf",
          "in" : "header",
          "name" : "contentType",
          "schema" : {
            "type" : "string"
          }
        } ]
      },
      "post" : {
        "tags" : [ "Accounting" ],
        "operationId" : "updateAccountAttachmentById",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "AccountID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "required" : true,
          "in" : "path",
          "name" : "AttachmentID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Attachments"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Attachments"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400Error"
          }
        },
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/octet-stream" : {
              "schema" : {
                "type" : "string",
                "format" : "binary"
              }
            }
          }
        }
      }
    },
    "/Accounts/{AccountID}/Attachments/{FileName}" : {
      "x-related-model" : "Invoice",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getAccountAttachmentByFileName",
        "summary" : "Allows you to retrieve Attachments on Account by Filename",
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          }
        },
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "AccountID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "required" : true,
          "in" : "path",
          "name" : "FileName",
          "schema" : {
            "type" : "string"
          }
        }, {
          "required" : true,
          "in" : "header",
          "name" : "contentType",
          "schema" : {
            "type" : "string"
          }
        } ]
      },
      "post" : {
        "tags" : [ "Accounting" ],
        "operationId" : "updateAccountAttachmentByFileName",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "AccountID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "required" : true,
          "in" : "path",
          "name" : "FileName",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Attachments"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Attachments"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400Error"
          }
        },
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/octet-stream" : {
              "schema" : {
                "type" : "string",
                "format" : "binary"
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Accounting" ],
        "operationId" : "createAccountAttachmentByFileName",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "AccountID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "required" : true,
          "in" : "path",
          "name" : "FileName",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Attachments"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Attachments"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400Error"
          }
        },
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/octet-stream" : {
              "schema" : {
                "type" : "string",
                "format" : "byte"
              }
            }
          }
        }
      }
    },
    "/BatchPayments" : {
      "x-related-model" : "BatchPayments",
      "description" : "Batch payments allow you to bundle multiple bills or invoices into one payment transaction. This means a single payment in Xero can be reconciled with a single transaction on the bank statement making for a much simpler bank reconciliation experience.",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getBatchPayments",
        "summary" : "Retrieve either one or many BatchPayments for invoices",
        "responses" : {
          "200" : {
            "description" : "A successful response",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchPayments"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchPayments"
                }
              }
            }
          }
        },
        "parameters" : [ {
          "in" : "header",
          "name" : "If-Modified-Since",
          "description" : "Only records created or modified since this timestamp will be returned",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "in" : "query",
          "name" : "where",
          "description" : "Filter by an any element",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "order",
          "description" : "Order by an any element",
          "schema" : {
            "type" : "string"
          }
        } ]
      },
      "put" : {
        "tags" : [ "Accounting" ],
        "operationId" : "createBatchPayment",
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchPayments"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchPayments"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400Error"
          }
        },
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchPayments"
              }
            }
          }
        }
      }
    },
    "/BatchPayments/{BatchPaymentID}/History" : {
      "x-related-model" : "BatchPayment",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getBatchPaymentHistory",
        "summary" : "Allows you to retrieve history from a Batch Payment",
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HistoryRecords"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HistoryRecords"
                }
              }
            }
          }
        },
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "BatchPaymentID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ]
      },
      "put" : {
        "tags" : [ "Accounting" ],
        "operationId" : "createBatchPaymentHistoryRecord",
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HistoryRecords"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HistoryRecords"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400Error"
          }
        },
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "BatchPaymentID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "text/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/HistoryRecords"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HistoryRecords"
              }
            }
          },
          "required" : true
        }
      }
    },
    "/BankTransactions" : {
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getBankTransactions",
        "summary" : "Allows you to retrieve any spend or receive money transactions",
        "responses" : {
          "200" : {
            "description" : "A successful response",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BankTransactions"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BankTransactions"
                }
              }
            }
          }
        },
        "parameters" : [ {
          "in" : "header",
          "name" : "If-Modified-Since",
          "description" : "Only records created or modified since this timestamp will be returned",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "in" : "query",
          "name" : "where",
          "description" : "Filter by an any element",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "order",
          "description" : "Order by an any element",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "page",
          "description" : "e.g. page=1 – Up to 100 bank transactions will be returned in a single API call with line items shown for each bank transaction",
          "schema" : {
            "type" : "integer"
          }
        } ]
      },
      "put" : {
        "tags" : [ "Accounting" ],
        "operationId" : "createBankTransaction",
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BankTransactions"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BankTransactions"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400Error"
          }
        },
        "parameters" : [ {
          "in" : "query",
          "name" : "SummarizeErrors",
          "description" : "response format that shows validation errors for each bank transaction",
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BankTransactions"
              }
            }
          }
        }
      }
    },
    "/BankTransactions/{BankTransactionID}" : {
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getBankTransaction",
        "summary" : "Allows you to retrieve any spend or receive money transactions",
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BankTransactions"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BankTransactions"
                }
              }
            }
          }
        },
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "BankTransactionID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ]
      },
      "post" : {
        "tags" : [ "Accounting" ],
        "operationId" : "updateBankTransaction",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "BankTransactionID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BankTransactions"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BankTransactions"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400Error"
          }
        },
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BankTransactions"
              }
            }
          }
        }
      }
    },
    "/BankTransactions/{BankTransactionID}/Attachments" : {
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getBankTransactionAttachments",
        "summary" : "Allows you to retrieve any attachments to bank transactions",
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Attachments"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Attachments"
                }
              }
            }
          }
        },
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "BankTransactionID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ]
      }
    },
    "/BankTransactions/{BankTransactionID}/Attachments/{AttachmentID}" : {
      "x-related-model" : "BankTransaction",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getBankTransactionAttachmentById",
        "summary" : "Allows you to retrieve Attachments on BankTransaction",
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          }
        },
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "BankTransactionID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "required" : true,
          "in" : "path",
          "name" : "AttachmentID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "required" : true,
          "in" : "header",
          "name" : "contentType",
          "schema" : {
            "type" : "string"
          }
        } ]
      },
      "post" : {
        "tags" : [ "Accounting" ],
        "operationId" : "updateBankTransactionAttachmentById",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "BankTransactionID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "required" : true,
          "in" : "path",
          "name" : "AttachmentID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Attachments"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Attachments"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400Error"
          }
        },
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/octet-stream" : {
              "schema" : {
                "type" : "string",
                "format" : "binary"
              }
            }
          }
        }
      }
    },
    "/BankTransactions/{BankTransactionID}/Attachments/{FileName}" : {
      "x-related-model" : "BankTransaction",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getBankTransactionAttachmentByFileName",
        "summary" : "Allows you to retrieve Attachments on BankTransaction by Filename",
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          }
        },
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "BankTransactionID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "required" : true,
          "in" : "path",
          "name" : "FileName",
          "schema" : {
            "type" : "string"
          }
        }, {
          "required" : true,
          "in" : "header",
          "name" : "contentType",
          "schema" : {
            "type" : "string"
          }
        } ]
      },
      "post" : {
        "tags" : [ "Accounting" ],
        "operationId" : "updateBankTransactionAttachmentByFileName",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "BankTransactionID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "required" : true,
          "in" : "path",
          "name" : "FileName",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Attachments"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Attachments"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400Error"
          }
        },
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/octet-stream" : {
              "schema" : {
                "type" : "string",
                "format" : "binary"
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Accounting" ],
        "operationId" : "createBankTransactionAttachmentByFileName",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "BankTransactionID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "required" : true,
          "in" : "path",
          "name" : "FileName",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Attachments"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Attachments"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400Error"
          }
        },
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/octet-stream" : {
              "schema" : {
                "type" : "string",
                "format" : "byte"
              }
            }
          }
        }
      }
    },
    "/BankTransactions/{BankTransactionID}/History" : {
      "x-related-model" : "BankTransaction",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getBankTransactionsHistory",
        "summary" : "Allows you to retrieve history from a bank transfers",
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HistoryRecords"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HistoryRecords"
                }
              }
            }
          }
        },
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "BankTransactionID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ]
      },
      "put" : {
        "tags" : [ "Accounting" ],
        "operationId" : "createBankTransactionHistoryRecord",
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HistoryRecords"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HistoryRecords"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400Error"
          }
        },
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "BankTransactionID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "text/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/HistoryRecords"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HistoryRecords"
              }
            }
          },
          "required" : true
        }
      }
    },
    "/BankTransfers" : {
      "x-related-model" : "BankTransfer",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getBankTransfers",
        "summary" : "Allows you to retrieve any bank transfers",
        "responses" : {
          "200" : {
            "description" : "A successful response",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BankTransfers"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BankTransfers"
                }
              }
            }
          }
        },
        "parameters" : [ {
          "in" : "header",
          "name" : "If-Modified-Since",
          "description" : "Only records created or modified since this timestamp will be returned",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "in" : "query",
          "name" : "where",
          "description" : "Filter by an any element",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "order",
          "description" : "Order by an any element",
          "schema" : {
            "type" : "string"
          }
        } ]
      },
      "put" : {
        "tags" : [ "Accounting" ],
        "operationId" : "createBankTransfer",
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BankTransfers"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BankTransfers"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400Error"
          }
        },
        "requestBody" : {
          "content" : {
            "text/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/BankTransfers"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BankTransfers"
              }
            }
          },
          "required" : true
        }
      }
    },
    "/BankTransfers/{BankTransferID}" : {
      "x-related-model" : "BankTransfer",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getBankTransfer",
        "summary" : "Allows you to retrieve any bank transfers",
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BankTransfers"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BankTransfers"
                }
              }
            }
          }
        },
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "BankTransferID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ]
      }
    },
    "/BankTransfers/{BankTransferID}/Attachments" : {
      "x-related-model" : "BankTransfer",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getBankTransferAttachments",
        "summary" : "Allows you to retrieve Attachments from  bank transfers",
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Attachments"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Attachments"
                }
              }
            }
          }
        },
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "BankTransferID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ]
      }
    },
    "/BankTransfers/{BankTransferID}/Attachments/{AttachmentID}" : {
      "x-related-model" : "Invoice",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getBankTransferAttachmentById",
        "summary" : "Allows you to retrieve Attachments on BankTransfer",
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          }
        },
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "BankTransferID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "required" : true,
          "in" : "path",
          "name" : "AttachmentID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "required" : true,
          "in" : "header",
          "name" : "contentType",
          "schema" : {
            "type" : "string"
          }
        } ]
      },
      "post" : {
        "tags" : [ "Accounting" ],
        "operationId" : "updateBankTransferAttachmentById",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "BankTransferID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "required" : true,
          "in" : "path",
          "name" : "AttachmentID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Attachments"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Attachments"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400Error"
          }
        },
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/octet-stream" : {
              "schema" : {
                "type" : "string",
                "format" : "binary"
              }
            }
          }
        }
      }
    },
    "/BankTransfers/{BankTransferID}/Attachments/{FileName}" : {
      "x-related-model" : "BankTransfer",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getBankTransferAttachmentByFileName",
        "summary" : "Allows you to retrieve Attachments on BankTransfer by file name",
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          }
        },
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "BankTransferID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "required" : true,
          "in" : "path",
          "name" : "FileName",
          "schema" : {
            "type" : "string"
          }
        }, {
          "required" : true,
          "in" : "header",
          "name" : "contentType",
          "schema" : {
            "type" : "string"
          }
        } ]
      },
      "post" : {
        "tags" : [ "Accounting" ],
        "operationId" : "updateBankTransferAttachmentByFileName",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "BankTransferID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "required" : true,
          "in" : "path",
          "name" : "FileName",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Attachments"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Attachments"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400Error"
          }
        },
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/octet-stream" : {
              "schema" : {
                "type" : "string",
                "format" : "binary"
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Accounting" ],
        "operationId" : "createBankTransferAttachmentByFileName",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "BankTransferID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "required" : true,
          "in" : "path",
          "name" : "FileName",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Attachments"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Attachments"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400Error"
          }
        },
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/octet-stream" : {
              "schema" : {
                "type" : "string",
                "format" : "byte"
              }
            }
          }
        }
      }
    },
    "/BankTransfers/{BankTransferID}/History" : {
      "x-related-model" : "BankTransfer",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getBankTransferHistory",
        "summary" : "Allows you to retrieve history from a bank transfers",
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HistoryRecords"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HistoryRecords"
                }
              }
            }
          }
        },
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "BankTransferID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ]
      },
      "put" : {
        "tags" : [ "Accounting" ],
        "operationId" : "createBankTransferHistoryRecord",
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HistoryRecords"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HistoryRecords"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400Error"
          }
        },
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "BankTransferID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "text/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/HistoryRecords"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HistoryRecords"
              }
            }
          },
          "required" : true
        }
      }
    },
    "/BrandingThemes" : {
      "x-related-model" : "BrandingTheme",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getBrandingThemes",
        "summary" : "GET a BrandingTheme",
        "responses" : {
          "200" : {
            "description" : "A successful response",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BrandingThemes"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BrandingThemes"
                }
              }
            }
          }
        }
      }
    },
    "/BrandingThemes/{BrandingThemeID}" : {
      "x-related-model" : "BrandingTheme",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getBrandingTheme",
        "summary" : "GET a BrandingTheme",
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BrandingThemes"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BrandingThemes"
                }
              }
            }
          }
        },
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "BrandingThemeID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ]
      }
    },
    "/BrandingThemes/{BrandingThemeID}/PaymentServices" : {
      "x-related-model" : "BrandingTheme",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getBrandingThemePaymentServices",
        "summary" : "GET a BrandingTheme Payment services",
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentServices"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentServices"
                }
              }
            }
          }
        },
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "BrandingThemeID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ]
      },
      "post" : {
        "tags" : [ "Accounting" ],
        "operationId" : "createBrandingThemePaymentServices",
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentServices"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentServices"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400Error"
          }
        },
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "BrandingThemeID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "text/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/PaymentServices"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PaymentServices"
              }
            }
          },
          "required" : true
        }
      }
    },
    "/Contacts" : {
      "x-related-model" : "Contact",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getContacts",
        "summary" : "Allows you to retrieve, add and update contacts in a Xero organisation",
        "responses" : {
          "200" : {
            "description" : "A successful response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Contacts"
                }
              }
            }
          }
        },
        "parameters" : [ {
          "in" : "header",
          "name" : "If-Modified-Since",
          "description" : "Only records created or modified since this timestamp will be returned",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "in" : "query",
          "name" : "where",
          "description" : "Filter by an any element",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "order",
          "description" : "Order by an any element",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "IDs",
          "description" : "Filter by a comma separated list of ContactIDs. Allows you to retrieve a specific set of contacts in a single call.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "page",
          "description" : "e.g. page=1 - Up to 100 contacts will be returned in a single API call.",
          "schema" : {
            "type" : "integer"
          }
        }, {
          "in" : "query",
          "name" : "includeArchived",
          "description" : "e.g. includeArchived=true - Contacts with a status of ARCHIVED will be included in the response",
          "schema" : {
            "type" : "boolean"
          }
        } ]
      },
      "put" : {
        "tags" : [ "Accounting" ],
        "operationId" : "createContact",
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Contacts"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Contacts"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400Error"
          }
        },
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Contact"
              }
            }
          }
        }
      }
    },
    "/Contacts/{ContactID}" : {
      "x-related-model" : "Contact",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getContact",
        "summary" : "Allows you to retrieve, add and update contacts in a Xero organisation",
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Contacts"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Contacts"
                }
              }
            }
          }
        },
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "ContactID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ]
      },
      "post" : {
        "tags" : [ "Accounting" ],
        "operationId" : "updateContact",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "ContactID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Contacts"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Contacts"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400Error"
          }
        },
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Contacts"
              }
            }
          }
        }
      }
    },
    "/Contacts/{ContactID}/Attachments" : {
      "x-related-model" : "Contact",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getContactAttachments",
        "summary" : "Allows you to retrieve, add and update contacts in a Xero organisation",
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Attachments"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Attachments"
                }
              }
            }
          }
        },
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "ContactID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ]
      }
    },
    "/Contacts/{ContactID}/Attachments/{AttachmentID}" : {
      "x-related-model" : "Contact",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getContactAttachmentById",
        "summary" : "Allows you to retrieve Attachments on Contacts",
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          }
        },
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "ContactID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "required" : true,
          "in" : "path",
          "name" : "AttachmentID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "required" : true,
          "in" : "header",
          "name" : "contentType",
          "schema" : {
            "type" : "string"
          }
        } ]
      },
      "post" : {
        "tags" : [ "Accounting" ],
        "operationId" : "updateContactAttachmentById",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "ContactID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "required" : true,
          "in" : "path",
          "name" : "AttachmentID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Attachments"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Attachments"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400Error"
          }
        },
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/octet-stream" : {
              "schema" : {
                "type" : "string",
                "format" : "binary"
              }
            }
          }
        }
      }
    },
    "/Contacts/{ContactID}/Attachments/{FileName}" : {
      "x-related-model" : "Contact",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getContactAttachmentByFileName",
        "summary" : "Allows you to retrieve Attachments on Contacts by file name",
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          }
        },
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "ContactID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "required" : true,
          "in" : "path",
          "name" : "FileName",
          "schema" : {
            "type" : "string"
          }
        }, {
          "required" : true,
          "in" : "header",
          "name" : "contentType",
          "schema" : {
            "type" : "string"
          }
        } ]
      },
      "post" : {
        "tags" : [ "Accounting" ],
        "operationId" : "updateContactAttachmentByFileName",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "ContactID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "required" : true,
          "in" : "path",
          "name" : "FileName",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Attachments"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Attachments"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400Error"
          }
        },
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/octet-stream" : {
              "schema" : {
                "type" : "string",
                "format" : "binary"
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Accounting" ],
        "operationId" : "createContactAttachmentByFileName",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "ContactID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "required" : true,
          "in" : "path",
          "name" : "FileName",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Attachments"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Attachments"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400Error"
          }
        },
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/octet-stream" : {
              "schema" : {
                "type" : "string",
                "format" : "byte"
              }
            }
          }
        }
      }
    },
    "/Contacts/{ContactID}/CISSettings" : {
      "x-related-model" : "Contact",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getContactCISSettings",
        "summary" : "Allows you to retrieve CISSettings for a contact in a Xero organisation",
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CISSettings"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CISSettings"
                }
              }
            }
          }
        },
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "ContactID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ]
      }
    },
    "/Contacts/{ContactID}/History" : {
      "x-related-model" : "Contact",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getContactHistory",
        "summary" : "Allows you to retrieve a history records of an Contact",
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HistoryRecords"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HistoryRecords"
                }
              }
            }
          }
        },
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "ContactID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ]
      },
      "put" : {
        "tags" : [ "Accounting" ],
        "operationId" : "createContactHistory",
        "summary" : "Allows you to retrieve a history records of an Contact",
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HistoryRecords"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HistoryRecords"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400Error"
          }
        },
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "ContactID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HistoryRecords"
              }
            }
          }
        }
      }
    },
    "/ContactGroups" : {
      "x-related-model" : "ContactGroup",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getContactGroups",
        "summary" : "Allows you to retrieve the ContactID and Name of all the contacts in a contact group",
        "responses" : {
          "200" : {
            "description" : "A successful response",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ContactGroups"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ContactGroups"
                }
              }
            }
          }
        },
        "parameters" : [ {
          "in" : "query",
          "name" : "where",
          "description" : "Filter by an any element",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "order",
          "description" : "Order by an any element",
          "schema" : {
            "type" : "string"
          }
        } ]
      },
      "put" : {
        "tags" : [ "Accounting" ],
        "operationId" : "createContactGroup",
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ContactGroups"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ContactGroups"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400Error"
          }
        },
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ContactGroups"
              }
            }
          }
        }
      }
    },
    "/ContactGroups/{ContactGroupID}" : {
      "x-related-model" : "ContactGroup",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getContactGroup",
        "summary" : "Allows you to retrieve the ContactID and Name of all the contacts in a contact group",
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ContactGroups"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ContactGroups"
                }
              }
            }
          }
        },
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "ContactGroupID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ]
      },
      "post" : {
        "tags" : [ "Accounting" ],
        "operationId" : "updateContactGroup",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "ContactGroupID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ContactGroups"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ContactGroups"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400Error"
          }
        },
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ContactGroups"
              }
            }
          }
        }
      }
    },
    "/ContactGroups/{ContactGroupID}/Contacts" : {
      "x-related-model" : "ContactGroup",
      "put" : {
        "tags" : [ "Accounting" ],
        "operationId" : "createContactGroupContacts",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "ContactGroupID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Contacts"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Contacts"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400Error"
          }
        },
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Contacts"
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Accounting" ],
        "operationId" : "deleteContactGroupContacts",
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response204"
                }
              }
            }
          }
        },
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "ContactGroupID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ]
      }
    },
    "/ContactGroups/{ContactGroupID}/Contacts/{ContactID}" : {
      "x-related-model" : "ContactGroup",
      "delete" : {
        "tags" : [ "Accounting" ],
        "operationId" : "deleteContactGroupContact",
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response204"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400Error"
          }
        },
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "ContactGroupID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "required" : true,
          "in" : "path",
          "name" : "ContactID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ]
      }
    },
    "/CreditNotes" : {
      "x-related-model" : "CreditNote",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getCreditNotes",
        "summary" : "Allows you to retrieve any credit notes",
        "responses" : {
          "200" : {
            "description" : "A successful response",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreditNotes"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreditNotes"
                }
              }
            }
          }
        },
        "parameters" : [ {
          "in" : "header",
          "name" : "If-Modified-Since",
          "description" : "Only records created or modified since this timestamp will be returned",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "in" : "query",
          "name" : "where",
          "description" : "Filter by an any element",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "order",
          "description" : "Order by an any element",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "page",
          "description" : "e.g. page=1 – Up to 100 credit notes will be returned in a single API call with line items shown for each credit note",
          "schema" : {
            "type" : "integer"
          }
        } ]
      },
      "put" : {
        "tags" : [ "Accounting" ],
        "operationId" : "createCreditNote",
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreditNotes"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreditNotes"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400Error"
          }
        },
        "parameters" : [ {
          "in" : "query",
          "name" : "SummarizeErrors",
          "description" : "shows validation errors for each credit note",
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreditNotes"
              }
            }
          }
        }
      }
    },
    "/CreditNotes/{CreditNoteID}" : {
      "x-related-model" : "CreditNote",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getCreditNote",
        "summary" : "Allows you to retrieve any credit notes",
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreditNotes"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreditNotes"
                }
              }
            }
          }
        },
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "CreditNoteID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ]
      },
      "post" : {
        "tags" : [ "Accounting" ],
        "operationId" : "updateCreditNote",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "CreditNoteID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreditNotes"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreditNotes"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400Error"
          }
        },
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreditNotes"
              }
            }
          }
        }
      }
    },
    "/CreditNotes/{CreditNoteID}/Attachments" : {
      "x-related-model" : "CreditNote",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getCreditNoteAttachments",
        "summary" : "Allows you to retrieve Attachments for credit notes",
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Attachments"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Attachments"
                }
              }
            }
          }
        },
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "CreditNoteID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ]
      }
    },
    "/CreditNotes/{CreditNoteID}/Attachments/{AttachmentID}" : {
      "x-related-model" : "CreditNote",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getCreditNoteAttachmentById",
        "summary" : "Allows you to retrieve Attachments on CreditNote",
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          }
        },
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "CreditNoteID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "required" : true,
          "in" : "path",
          "name" : "AttachmentID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "required" : true,
          "in" : "header",
          "name" : "contentType",
          "schema" : {
            "type" : "string"
          }
        } ]
      },
      "post" : {
        "tags" : [ "Accounting" ],
        "operationId" : "updateCreditNoteAttachmentById",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "CreditNoteID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "required" : true,
          "in" : "path",
          "name" : "AttachmentID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Attachments"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Attachments"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400Error"
          }
        },
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/octet-stream" : {
              "schema" : {
                "type" : "string",
                "format" : "binary"
              }
            }
          }
        }
      }
    },
    "/CreditNotes/{CreditNoteID}/Attachments/{FileName}" : {
      "x-related-model" : "CreditNote",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getCreditNoteAttachmentByFileName",
        "summary" : "Allows you to retrieve Attachments on CreditNote by file name",
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          }
        },
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "CreditNoteID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "required" : true,
          "in" : "path",
          "name" : "FileName",
          "schema" : {
            "type" : "string"
          }
        }, {
          "required" : true,
          "in" : "header",
          "name" : "contentType",
          "schema" : {
            "type" : "string"
          }
        } ]
      },
      "post" : {
        "tags" : [ "Accounting" ],
        "operationId" : "updateCreditNoteAttachmentByFileName",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "CreditNoteID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "required" : true,
          "in" : "path",
          "name" : "FileName",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Attachments"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Attachments"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400Error"
          }
        },
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/octet-stream" : {
              "schema" : {
                "type" : "string",
                "format" : "binary"
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Accounting" ],
        "operationId" : "createCreditNoteAttachmentByFileName",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "CreditNoteID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "required" : true,
          "in" : "path",
          "name" : "FileName",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Attachments"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Attachments"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400Error"
          }
        },
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/octet-stream" : {
              "schema" : {
                "type" : "string",
                "format" : "byte"
              }
            }
          }
        }
      }
    },
    "/CreditNotes/{CreditNoteID}/pdf" : {
      "x-related-model" : "CreditNote",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getCreditNoteAsPdf",
        "summary" : "Allows you to retrieve Credit Note as PDF files",
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          }
        },
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "CreditNoteID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "required" : true,
          "in" : "header",
          "name" : "contentType",
          "schema" : {
            "type" : "string"
          }
        } ]
      }
    },
    "/CreditNotes/{CreditNoteID}/Allocations" : {
      "x-related-model" : "CreditNote",
      "put" : {
        "tags" : [ "Accounting" ],
        "operationId" : "createCreditNoteAllocation",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "CreditNoteID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Allocations"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Allocations"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400Error"
          }
        },
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Allocations"
              }
            }
          }
        }
      }
    },
    "/CreditNotes/{CreditNoteID}/History" : {
      "x-related-model" : "CreditNote",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getCreditNoteHistory",
        "summary" : "Allows you to retrieve a history records of an CreditNote",
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HistoryRecords"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HistoryRecords"
                }
              }
            }
          }
        },
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "CreditNoteID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ]
      },
      "put" : {
        "tags" : [ "Accounting" ],
        "operationId" : "createCreditNoteHistory",
        "summary" : "Allows you to retrieve a history records of an CreditNote",
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HistoryRecords"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HistoryRecords"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400Error"
          }
        },
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "CreditNoteID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HistoryRecords"
              }
            }
          }
        }
      }
    },
    "/Currencies" : {
      "x-related-model" : "Currency",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getCurrencies",
        "summary" : "Allows you to retrieve currencies for your organisation",
        "responses" : {
          "200" : {
            "description" : "A successful response",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Currencies"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Currencies"
                }
              }
            }
          }
        },
        "parameters" : [ {
          "in" : "query",
          "name" : "where",
          "description" : "Filter by an any element",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "order",
          "description" : "Order by an any element",
          "schema" : {
            "type" : "string"
          }
        } ]
      },
      "put" : {
        "tags" : [ "Accounting" ],
        "operationId" : "createCurrency",
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Currencies"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Currencies"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400Error"
          }
        },
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Currencies"
              }
            }
          }
        }
      }
    },
    "/Employees" : {
      "x-related-model" : "Employee",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getEmployees",
        "summary" : "Allows you to retrieve, add and update employees used in Xero payrun functionality",
        "responses" : {
          "200" : {
            "description" : "A successful response",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Employees"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Employees"
                }
              }
            }
          }
        },
        "parameters" : [ {
          "in" : "header",
          "name" : "If-Modified-Since",
          "description" : "Only records created or modified since this timestamp will be returned",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "in" : "query",
          "name" : "where",
          "description" : "Filter by an any element",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "order",
          "description" : "Order by an any element",
          "schema" : {
            "type" : "string"
          }
        } ]
      },
      "put" : {
        "tags" : [ "Accounting" ],
        "operationId" : "createEmployee",
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Employees"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Employees"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400Error"
          }
        },
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Employees"
              }
            }
          }
        }
      }
    },
    "/Employees/{EmployeeID}" : {
      "x-related-model" : "Employee",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getEmployee",
        "summary" : "Allows you to retrieve employees to see their status",
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Employees"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Employees"
                }
              }
            }
          }
        },
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "EmployeeID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ]
      },
      "post" : {
        "tags" : [ "Accounting" ],
        "operationId" : "updateEmployee",
        "parameters" : [ {
          "required" : true,
          "in" : "path",
          "name" : "EmployeeID",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A successful request",
            "content" : {
              "text/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Employees"
                }
              },
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Employees"
                }
              }
            }
          },
          "400" : {
            "$ref" : "#/components/responses/400Error"
          }
        },
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Employees"
              }
            }
          }
        }
      }
    },
    "/ExpenseClaims" : {
      "x-related-model" : "ExpenseClaim",
      "get" : {
        "tags" : [ "Accounting" ],
        "operationId" : "getExpenseClaims",
        "summary" : "Allows you to retrieve expense claims to see their status",
        "responses" : {
          "200" : {
            "description" : "A successful response",
            "content" : {
              "text/xml" : {
[...]
