openapi: 3.0.0
servers:
  - url: 'https://api.xero.com/api.xro/2.0'
info:
  version: "1.0.0"
  title: Xero oAuth 2 identity service
  description: This specifing endpoints related to managing authentication tokens and identity for Xero API
  termsOfService: "https://developer.xero.com/xero-developer-platform-terms-conditions/"
  contact:
    name: "Xero Platform Team"
    email: "api@xero.com"
    url: "https://developer.xero.com"
paths:
  /connections:
    get:
      tags:
        - identity
      description: Override the base server url that include version
      operationId: getConnections
      summary: Allows you to retrieve the connections for this users
      x-basepath: 'https://api.xero.com'
      responses:
        '200':
          description: Success - return response of type Connections array with 0 to n Connection  
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Connection'
              example: '[
                          {
                            "id": "7cb59f93-2964-421d-bb5e-a0f7a4572a44",
                            "tenantId": "fe79f7dd-b6d4-4a92-ba7b-538af6289c58",
                            "tenantType": "ORGANISATION"
                          }
                        ]'
  /connect/token:
    post:
      tags:
        - identity
      operationId: refreshToken
      summary: Allows you to refresh your access token
      x-basepath: 'https://identity.xero.com'
      parameters:
        - in: header
          name: grant_type
          description: the grant type for token
          schema:
            type: string
      requestBody:
        description: form data to post during a token refresh
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RefreshToken'
      responses:
        '200':
          description: Success - return response of type Accounts array with 0 to n Account 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessToken'
              example: '{
                            "id_token": "eyJhbGciOiJSUXXXXXXXXM6Ly9pZGVudGl0eS54ZXJvLmNvbSIsImF1ZCI6IjA1NWMyMTJlLTU1ZjItNDNiMi05NDVlLWU5ZmM4MzM3NzYzNSIsImlhdCI6MTU1NzcwMTg4NCwiYXRfaGFzaCI6InYxY0t6QzhyZXlleGlJTWM4QnNqc3ciLCJzdWIiOiI4MzBhM2VlNjNhNDk1ZTljYmExNjVlNjdlZjVkNWRlNyIsImF1dGhfdGltZSI6MTU1NzcwMTc4NiwiaWRwIjoibG9jYWwiLCJ4ZXJvX3VzZXJpZCI6Ijc0MGFkZDJhLWE3MDMtNGI4YS1hNjcwLTEwOTM5MTljMjA0MCIsImdsb2JhbF9zZXNzaW9uX2lkIjoiZmMwMTZkNjk2NzdlNDEzN2IwODgxMTY4NGI1MjI4NWEiLCJwcmVmZXJyZWRfdXNlcm5hbWUiOiJzaWQubWFlc3RyZUB4ZXJvLmNvbSIsImVtYWlsIjoic2lkLm1hZXN0cmVAeGVyby5jb20iLCJnaXZlbl9uYW1lIjoiU2lkbmV5IiwiZmFtaWx5X25hbWUiOiJNYWVzdHJlIiwiYW1yIjpbInB3ZCJdfQ.vk2lzZgWdNlv59DTgxbzLPD_nY4FBzkQLm0HZ0irCNufpdbOdo_LRGx7PdeZOqVdz2HhKvzorFqKhZzKJB-eXkrE22PTjU3VpQhJkq318mWLe-DcZrv89WgQzKRnYApIApI0bJGfgPlZXMSaMEV5Stl4vzaJk_Qml_GGOcTXociJS8fh41WDDmD1uTDxKIH-4cSjskiFNBR56quXoqZNmEaLh7o5JVs7kGd2LbNSBDJePiNoQexdCnEOjPa02HgozZ16SGbO2g1FpLguiLX3zsDlVHdPs7SsXhc7oL_AbZ-3Ok_9NdLTkzmocoht3yKJghUrrefCc4UrFKql6YzqkQ",
                            "access_token": "eyJhbGciOiJSUXXXXXXXbnRpdHkueGVyby5jb20vcmVzb3VyY2VzIiwiY2xpZW50X2lkIjoiMDU1YzIxMmUtNTVmMi00M2IyLTk0NWUtZTlmYzgzMzc3NjM1Iiwic3ViIjoiODMwYTNlZTYzYTQ5NWU5Y2JhMTY1ZTY3ZWY1ZDVkZTciLCJhdXRoX3RpbWUiOjE1NTc3MDE3ODYsImlkcCI6ImxvY2FsIiwieGVyb191c2VyaWQiOiI3NDBhZGQyYS1hNzAzLTRiOGEtYTY3MC0xMDkzOTE5YzIwNDAiLCJnbG9iYWxfc2Vzc2lvbl9pZCI6ImZjMDE2ZDY5Njc3ZTQxMzdiMDg4MTE2ODRiNTIyODVhIiwic2NvcGUiOlsiZW1haWwiLCJwcm9maWxlIiwib3BlbmlkIiwiYWNjb3VudGluZy50cmFuc2FjdGlvbnMiLCJvZmZsaW5lX2FjY2VzcyJdLCJhbXIiOlsicHdkIl19.SNWItitI4uvp7KqHaKAn20mKOSha1eRnST3m2ZuHkP6TrlQAfvAss72zt6elbrMNbrr-hO2hFL6w9u9zoeEDimrGevTS6wD5CfssCOmF-HIpoZejx6bZkFgtirKUh87ysxznrp4saM5jngOf611CSykzfKA1PfeGaKRM0Yc8ErkYOZsc0x4_DiFwfP4Gm8ZUXTO1TYnMZWwCEix4eQ3zSrNnCw2WkfG6peOopl-yOWRTM-cRL2M0-j6pGqrpTH1xRlVgiR52d5OwNRleRWyuJbXwSvCRPuzqhQT8IlqnyBt0hEh1vX0iRPfAK6YHF5me40utwAUd3oxGmtw8Ig0iLQ",
                            "expires_in": 720,
                            "token_type": "Bearer",
                            "refresh_token": "9f5a8caabd3b273XXXXXXXXX665dfc4e300010e83ad4"
                        }'
components:
  schemas:
    Connection:
      externalDocs:
        url: 'http://developer.xero.com'
      properties:
        id:
          description: Xero identifier
          type: string
          format: uuid
        tenantId:
          description: Xero identifier of organisation
          type: string
          format: uuid
        tenantType:
          description: Xero tenant type (i.e. ORGANISATION, PRACTICE)
          type: string
    RefreshToken:
      externalDocs:
        url: 'http://developer.xero.com'
      type: object
      properties:
        grant_type:
          description: Xero grant type
          type: string
        refresh_token:
          description: refresh token provided during authentication flow
          type: string
        client_id:
          description: client id for Xero app
          type: string
        client_secret:
          description: client secret for Xero app 2
          type: string
    AccessToken:
      externalDocs:
        url: 'http://developer.xero.com'
      type: object
      properties:
        id_token:
          description: Xero unique identifier
          type: string
        access_token:
          description: access token provided during authentication flow
          type: string
        expires_in:
          description: time in milliseconds until access token expires.
          type: number
          format: int
        token_type:
          description: type of token i.e. Bearer
          type: string
        refresh_token:
          description: token used to refresh an expired access token
          type: string
  securitySchemes:
    oAuth2AuthCode:
      type: oauth2
      description: For more information
      flows: 
        authorizationCode:
          authorizationUrl: 'https://login.xero.com/identity/connect/authorize'
          tokenUrl: 'https://identity.xero.com/connect/token'
          scopes:
            email: Grant read-only access to your email
            openid: Grant read-only access to your open id
            profile: your profile information
            accounting.transactions: Grant read-write access to bank transactions, credit notes, invoices, repeating invoices
            accounting.transactions.read: Grant read-only access to invoices
            accounting.reports.read: Grant read-only access to accounting reports
            accounting.journals.read: Grant read-only access to journals
            accounting.settings: Grant read-write access to organisation and account settings
            accounting.settings.read: Grant read-only access to organisation and account settings
            accounting.contacts: Grant read-write access to
            accounting.contacts.read: Grant read-only access to
            accounting.attachments: Grant read-write access to
            accounting.attachments.read: Grant read-only access to
            assets assets.read: Grant read-only access to
            files: Grant read-write access to
            files.read: Grant read-only access to
            payroll: Grant read-write access to
            payroll.read: Grant read-only access to
            payroll.employees: Grant read-write access to
            payroll.employees.read: Grant read-only access to
            payroll.leaveapplications: Grant read-write access to
            payroll.leaveapplications.read: Grant read-only access to
            payroll.payitems: Grant read-write access to
            payroll.payitems.read: Grant read-only access to
            payroll.payrollcalendars: Grant read-write access to
            payroll.payrollcalendars.read: Grant read-only access to
            payroll.payruns: Grant read-write access to
            payroll.payruns.read: Grant read-only access to
            payroll.payslip: Grant read-write access to
            payroll.payslip.read: Grant read-only access to
            payroll.settings.read: Grant read-only access to
            payroll.superfunds: Grant read-write access to
            payroll.superfunds.read: Grant read-only access to
            payroll.superfundproducts.read: Grant read-only access to
            payroll.timesheets: Grant read-write access to
            payroll.timesheets.read: Grant read-only access to
            projects: Grant read-write access to projects
            projects.read: Grant read-only access to