{
  "swagger": "2.0",
  "info": {
    "title": "Accounting API",
    "version": "2.0",
    "description": "# Introduction\nThe Xero Accounting API is a RESTful web service and uses the OAuth (v1.0a) protocol to authenticate 3rd party applications. The Accounting API exposes accounting and related functions of the main Xero application and can be used for a variety of purposes such as creating transactions like invoices and credit notes, right through to extracting accounting data via our reports endpoint.\n",
    "contact": {
      "name": "Xero Developer Team",
      "url": "https://developer.xero.com"
    },
    "x-logo": {
      "url": "https://lh3.googleusercontent.com/-_IQ9BNy118c/AAAAAAAAAAI/AAAAAAAAAB0/yvA2ZQSg_pk/s500-c-no/photo.jpg"
    }
  },
  "host": "api.xero.com",
  "basePath": "/api.xro/2.0",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json",
    "application/xml"
  ],
  "produces": [
    "application/json",
    "application/xml"
  ],
  "tags": [
    {
      "name": "Accounts",
      "externalDocs": {
        "description": "Accounts",
        "url": "https://developer.xero.com/documentation/api/accounts/"
      }
    },
    {
      "name": "BankTransactions",
      "externalDocs": {
        "description": "BankTransactions",
        "url": "https://developer.xero.com/documentation/api/banktransactions/"
      }
    },
    {
      "name": "BankTransfers",
      "externalDocs": {
        "description": "BankTransfers",
        "url": "https://developer.xero.com/documentation/api/banktransfers/"
      }
    },
    {
      "name": "BrandingThemes",
      "externalDocs": {
        "description": "BrandingThemes",
        "url": "https://developer.xero.com/documentation/api/brandingthemes/"
      }
    },
    {
      "name": "Contacts",
      "externalDocs": {
        "description": "Contacts",
        "url": "https://developer.xero.com/documentation/api/contacts/"
      }
    },
    {
      "name": "ContactGroups",
      "externalDocs": {
        "description": "ContactGroups",
        "url": "https://developer.xero.com/documentation/api/contactgroups/"
      }
    },
    {
      "name": "CreditNotes",
      "externalDocs": {
        "description": "CreditNotes",
        "url": "https://developer.xero.com/documentation/api/creditnotes/"
      }
    },
    {
      "name": "Currencies",
      "externalDocs": {
        "description": "Currencies",
        "url": "https://developer.xero.com/documentation/api/currencies/"
      }
    },
    {
      "name": "Employees",
      "externalDocs": {
        "description": "Employees",
        "url": "https://developer.xero.com/documentation/api/employees/"
      }
    },
    {
      "name": "ExpenseClaims",
      "externalDocs": {
        "description": "ExpenseClaims",
        "url": "https://developer.xero.com/documentation/api/expenseclaims/"
      }
    },
    {
      "name": "Invoices",
      "externalDocs": {
        "description": "Invoices",
        "url": "https://developer.xero.com/documentation/api/invoices/"
      }
    },
    {
      "name": "Items",
      "externalDocs": {
        "description": "Items",
        "url": "https://developer.xero.com/documentation/api/items/"
      }
    },
    {
      "name": "Journals",
      "externalDocs": {
        "description": "Journals",
        "url": "https://developer.xero.com/documentation/api/journals/"
      }
    },
    {
      "name": "LinkedTransactions",
      "externalDocs": {
        "description": "LinkedTransactions",
        "url": "https://developer.xero.com/documentation/api/Linked-Transactions/"
      }
    },
    {
      "name": "ManualJournals",
      "externalDocs": {
        "description": "ManualJournals",
        "url": "https://developer.xero.com/documentation/api/manual-journals/"
      }
    },
    {
      "name": "Organisations",
      "externalDocs": {
        "description": "Organsiations",
        "url": "https://developer.xero.com/documentation/api/organisation/"
      }
    },
    {
      "name": "Overpayments",
      "externalDocs": {
        "description": "Overpayments",
        "url": "https://developer.xero.com/documentation/api/overpayments/"
      }
    },
    {
      "name": "Payments",
      "externalDocs": {
        "description": "Payments",
        "url": "https://developer.xero.com/documentation/api/payments/"
      }
    },
    {
      "name": "Prepayments",
      "externalDocs": {
        "description": "Prepayments",
        "url": "https://developer.xero.com/documentation/api/prepayments/"
      }
    },
    {
      "name": "PurchaseOrders",
      "externalDocs": {
        "description": "PurchaseOrders",
        "url": "https://developer.xero.com/documentation/api/purchase-orders/"
      }
    },
    {
      "name": "Receipts",
      "externalDocs": {
        "description": "Receipts",
        "url": "https://developer.xero.com/documentation/api/receipts/"
      }
    },
    {
      "name": "RepeatingInvoices",
      "externalDocs": {
        "description": "RepeatingInvoices",
        "url": "https://developer.xero.com/documentation/api/repeating-invoices/"
      }
    },
    {
      "name": "Reports",
      "externalDocs": {
        "description": "Reports",
        "url": "https://developer.xero.com/documentation/api/reports/"
      }
    },
    {
      "name": "TaxRates",
      "externalDocs": {
        "description": "TaxRates",
        "url": "https://developer.xero.com/documentation/api/tax-rates/"
      }
    },
    {
      "name": "TrackingCategories",
      "externalDocs": {
        "description": "TrackingCategories",
        "url": "https://developer.xero.com/documentation/api/tracking-categories/"
      }
    },
    {
      "name": "Users",
      "externalDocs": {
        "description": "Users",
        "url": "https://developer.xero.com/documentation/api/users/"
      }
    }
  ],
  "paths": {
    "/Accounts": {
      "x-related-model": "Account",
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Retrieve the full chart of accounts",
        "description": "Retrieve the chart of accounts",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/where"
          },
          {
            "$ref": "#/parameters/order"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/AccountsResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      },
      "put": {
        "tags": [
          "Accounts"
        ],
        "summary": "Create new accounts",
        "parameters": [
          {
            "in": "body",
            "name": "Accounts",
            "schema": {
              "$ref": "#/definitions/Account"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/AccountsResponse"
          },
          "400": {
            "$ref": "#/responses/400ErrorResponse"
          }
        }
      },
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Create or update accounts",
        "parameters": [
          {
            "in": "body",
            "name": "Accounts",
            "schema": {
              "$ref": "#/definitions/Account"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/AccountsResponse"
          },
          "400": {
            "$ref": "#/responses/400ErrorResponse"
          }
        }
      }
    },
    "/Accounts/{AccountID}": {
      "x-related-model": "Account",
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Retrieve a single account",
        "responses": {
          "200": {
            "$ref": "#/responses/AccountsResponse"
          },
          "404": {
            "$ref": "#/responses/404ErrorResponse"
          }
        },
        "parameters": [
          {
            "required": true,
            "in": "path",
            "name": "AccountID",
            "type": "string",
            "format": "uuid"
          }
        ]
      },
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Update an account",
        "parameters": [
          {
            "in": "body",
            "name": "Accounts",
            "schema": {
              "$ref": "#/definitions/Account"
            },
            "required": true
          },
          {
            "required": true,
            "in": "path",
            "name": "AccountID",
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/AccountsResponse"
          },
          "400": {
            "$ref": "#/responses/400ErrorResponse"
          },
          "404": {
            "$ref": "#/responses/404ErrorResponse"
          }
        }
      },
      "delete": {
        "tags": [
          "Accounts"
        ],
        "summary": "Delete an account",
        "responses": {
          "200": {
            "description": "A successful request"
          },
          "404": {
            "$ref": "#/responses/404ErrorResponse"
          }
        },
        "parameters": [
          {
            "required": true,
            "in": "path",
            "name": "AccountID",
            "type": "string",
            "format": "uuid"
          }
        ]
      }
    },
    "/Accounts/{AccountID}/Attachments": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Retrieve Attachments",
        "description": "Retrieve Attachments",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "AccountID",
            "in": "path",
            "description": "The Xero generated unique identifier for an account",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/If-Modified-Since"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/AttachmentsResponse"
          },
          "404": {
            "$ref": "#/responses/404ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      }
    },
    "/Accounts/{AccountID}/Attachments/{FileName}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Download an Attachment",
        "description": "Download an Attachment",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "FileName",
            "in": "path",
            "description": "The filename of the attachment to be downloaded",
            "required": true,
            "type": "string"
          },
          {
            "name": "AccountID",
            "in": "path",
            "description": "The Xero generated unique identifier for an account",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/If-Modified-Since"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. The response message will contain the raw file content that was originally uploaded. The response won’t contain any xml or json encoded information"
          },
          "404": {
            "description": "Attachment does not exist"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      },
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Upload an Attachment",
        "description": "Upload an Attachment",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "FileName",
            "in": "path",
            "description": "The filename of the attachment being uploaded",
            "required": true,
            "type": "string"
          },
          {
            "name": "AccountID",
            "in": "path",
            "description": "The Xero generated unique identifier for an account",
            "required": true,
            "type": "string"
          },
          {
            "name": "Content",
            "in": "body",
            "description": "The raw content of the file to be uploaded",
            "schema": {
              "$ref": "#/definitions/Content"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/AttachmentsResponse"
          },
          "400": {
            "description": "Attachment couldn't be created."
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      }
    },
    "/BankTransactions": {
      "x-related-model": "BankTransaction",
      "get": {
        "tags": [
          "BankTransactions"
        ],
        "summary": "Retrieve any spend or receive money transactions (inc. prepayments and overpayments)",
        "responses": {
          "200": {
            "$ref": "#/responses/BankTransactionsResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        },
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/where"
          },
          {
            "$ref": "#/parameters/order"
          },
          {
            "$ref": "#/parameters/unitdp"
          }
        ]
      },
      "put": {
        "tags": [
          "BankTransactions"
        ],
        "summary": "Create a new spend or receive money (inc. prepayments and overpayments)",
        "parameters": [
          {
            "in": "body",
            "name": "BankTransactions",
            "schema": {
              "$ref": "#/definitions/BankTransaction"
            },
            "required": true
          },
          {
            "$ref": "#/parameters/summarizeErrors"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/BankTransactionsResponse"
          },
          "400": {
            "$ref": "#/responses/400ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      },
      "post": {
        "tags": [
          "BankTransactions"
        ],
        "summary": "Create a new spend or receive money (inc. prepayments and overpayments)",
        "parameters": [
          {
            "in": "body",
            "name": "BankTransactions",
            "schema": {
              "$ref": "#/definitions/BankTransaction"
            },
            "required": true
          },
          {
            "$ref": "#/parameters/unitdp"
          },
          {
            "$ref": "#/parameters/summarizeErrors"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/BankTransactionsResponse"
          },
          "400": {
            "$ref": "#/responses/400ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      }
    },
    "/BankTransactions/{BankTransactionID}": {
      "x-related-model": "BankTransaction",
      "get": {
        "tags": [
          "BankTransactions"
        ],
        "summary": "Retrieve a spend or receive money (inc. prepayments and overpayments)",
        "responses": {
          "200": {
            "$ref": "#/responses/BankTransactionsResponse"
          },
          "404": {
            "$ref": "#/responses/404ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        },
        "parameters": [
          {
            "required": true,
            "in": "path",
            "name": "BankTransactionID",
            "type": "string",
            "format": "uuid"
          },
          {
            "$ref": "#/parameters/unitdp"
          }
        ]
      },
      "post": {
        "tags": [
          "BankTransactions"
        ],
        "summary": "Update a spend or receive money",
        "parameters": [
          {
            "in": "body",
            "name": "BankTransactions",
            "schema": {
              "$ref": "#/definitions/BankTransaction"
            },
            "required": true
          },
          {
            "required": true,
            "in": "path",
            "name": "BankTransactionID",
            "type": "string",
            "format": "uuid"
          },
          {
            "$ref": "#/parameters/unitdp"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/BankTransactionsResponse"
          },
          "400": {
            "$ref": "#/responses/400ErrorResponse"
          },
          "404": {
            "$ref": "#/responses/404ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      }
    },
    "/BankTransactions/{BankTransactionID}/Attachments": {
      "get": {
        "tags": [
          "BankTransactions"
        ],
        "summary": "Retrieve Attachments",
        "description": "Retrieve Attachments",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "BankTransactionID",
            "in": "path",
            "description": "The Xero generated unique identifier for an bank transaction",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/If-Modified-Since"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/AttachmentsResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      }
    },
    "/BankTransactions/{BankTransactionID}/Attachments/{FileName}": {
      "get": {
        "tags": [
          "BankTransactions"
        ],
        "summary": "Download an Attachment",
        "description": "Download an Attachment",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "FileName",
            "in": "path",
            "description": "The filename of the attachment to be downloaded",
            "required": true,
            "type": "string"
          },
          {
            "name": "BankTransactionID",
            "in": "path",
            "description": "The Xero generated unique identifier for an bank transaction",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/If-Modified-Since"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. The response message will contain the raw file content that was originally uploaded. The response won’t contain any xml or json encoded information"
          },
          "404": {
            "$ref": "#/responses/404ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      },
      "post": {
        "tags": [
          "BankTransactions"
        ],
        "summary": "Upload an Attachment",
        "description": "Upload an Attachment",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "FileName",
            "in": "path",
            "description": "The filename of the attachment being uploaded",
            "required": true,
            "type": "string"
          },
          {
            "name": "BankTransactionID",
            "in": "path",
            "description": "The Xero generated unique identifier for an bank transaction",
            "required": true,
            "type": "string"
          },
          {
            "name": "Content",
            "in": "body",
            "description": "The raw content of the file to be uploaded",
            "schema": {
              "$ref": "#/definitions/Content"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/AttachmentsResponse"
          },
          "400": {
            "$ref": "#/responses/400ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      }
    },
    "/BankTransfers": {
      "x-related-model": "BankTransfer",
      "get": {
        "tags": [
          "BankTransfers"
        ],
        "summary": "Retrieve a colection of bank transfers",
        "responses": {
          "200": {
            "$ref": "#/responses/BankTransfersResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        },
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/where"
          },
          {
            "$ref": "#/parameters/order"
          }
        ]
      },
      "put": {
        "tags": [
          "BankTransfers"
        ],
        "summary": "Create a bank transfer",
        "parameters": [
          {
            "in": "body",
            "name": "BankTransfers",
            "schema": {
              "$ref": "#/definitions/BankTransfer"
            },
            "required": true
          },
          {
            "$ref": "#/parameters/summarizeErrors"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/BankTransfersResponse"
          },
          "400": {
            "$ref": "#/responses/400ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      }
    },
    "/BankTransfers/{BankTransferID}": {
      "x-related-model": "BankTransfer",
      "get": {
        "tags": [
          "BankTransfers"
        ],
        "summary": "Retrieve an individual bank transfer",
        "responses": {
          "200": {
            "$ref": "#/responses/BankTransfersResponse"
          },
          "404": {
            "$ref": "#/responses/404ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        },
        "parameters": [
          {
            "required": true,
            "in": "path",
            "name": "BankTransferID",
            "type": "string",
            "format": "uuid"
          }
        ]
      }
    },
    "/BankTransfers/{BankTransferID}/Attachments/{FileName}": {
      "get": {
        "tags": [
          "BankTransfers"
        ],
        "summary": "Download an Attachment",
        "description": "Download an Attachment",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "FileName",
            "in": "path",
            "description": "The filename of the attachment to be downloaded",
            "required": true,
            "type": "string"
          },
          {
            "name": "BankTransferID",
            "in": "path",
            "description": "The Xero generated unique identifier for an BankTransfer",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/If-Modified-Since"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. The response message will contain the raw file content that was originally uploaded. The response won’t contain any xml or json encoded information"
          },
          "404": {
            "$ref": "#/responses/404ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      },
      "post": {
        "tags": [
          "BankTransfers"
        ],
        "summary": "Upload an Attachment",
        "description": "Upload an Attachment",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "FileName",
            "in": "path",
            "description": "The filename of the attachment being uploaded",
            "required": true,
            "type": "string"
          },
          {
            "name": "BankTransferID",
            "in": "path",
            "description": "The Xero generated unique identifier for a BankTransfer",
            "required": true,
            "type": "string"
          },
          {
            "name": "Content",
            "in": "body",
            "description": "The raw content of the file to be uploaded",
            "schema": {
              "$ref": "#/definitions/Content"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/AttachmentsResponse"
          },
          "400": {
            "$ref": "#/responses/400ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      }
    },
    "/BrandingThemes": {
      "x-related-model": "BrandingTheme",
      "get": {
        "tags": [
          "BrandingThemes"
        ],
        "summary": "Retrieve a collection of BrandingThemes",
        "responses": {
          "200": {
            "$ref": "#/responses/BrandingThemesResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      }
    },
    "/BrandingThemes/{BrandingThemeID}": {
      "x-related-model": "BrandingTheme",
      "get": {
        "tags": [
          "BrandingThemes"
        ],
        "summary": "Retrieve an individual BrandingTheme",
        "responses": {
          "200": {
            "$ref": "#/responses/BrandingThemesResponse"
          },
          "404": {
            "$ref": "#/responses/404ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        },
        "parameters": [
          {
            "required": true,
            "in": "path",
            "name": "BrandingThemeID",
            "type": "string",
            "format": "uuid"
          }
        ]
      }
    },
    "/Contacts": {
      "x-related-model": "Contact",
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Retrieve a collection of contacts",
        "responses": {
          "200": {
            "$ref": "#/responses/ContactsResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        },
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/where"
          },
          {
            "$ref": "#/parameters/order"
          },
          {
            "$ref": "#/parameters/includeArchived"
          },
          {
            "name": "IDs",
            "in": "query",
            "description": "Filter by a comma-separated list of ContactIDs",
            "type": "string",
            "required": false,
            "default": ""
          }
        ]
      },
      "put": {
        "tags": [
          "Contacts"
        ],
        "summary": "Create a contact",
        "parameters": [
          {
            "in": "body",
            "name": "Contacts",
            "schema": {
              "$ref": "#/definitions/Contact"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ContactsResponse"
          },
          "400": {
            "$ref": "#/responses/400ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      },
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Create or update a contact",
        "parameters": [
          {
            "in": "body",
            "name": "Contacts",
            "schema": {
              "$ref": "#/definitions/Contact"
            },
            "required": true
          },
          {
            "$ref": "#/parameters/summarizeErrors"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ContactsResponse"
          },
          "400": {
            "$ref": "#/responses/400ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      }
    },
    "/Contacts/{ContactID}": {
      "x-related-model": "Contact",
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Retrieve an individual contact",
        "responses": {
          "200": {
            "$ref": "#/responses/ContactsResponse"
          },
          "404": {
            "$ref": "#/responses/404ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        },
        "parameters": [
          {
            "required": true,
            "in": "path",
            "name": "ContactID",
            "type": "string",
            "format": "uuid"
          }
        ]
      },
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Update a contact",
        "parameters": [
          {
            "in": "body",
            "name": "Contacts",
            "schema": {
              "$ref": "#/definitions/Contact"
            },
            "required": true
          },
          {
            "required": true,
            "in": "path",
            "name": "ContactID",
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ContactsResponse"
          },
          "400": {
            "$ref": "#/responses/400ErrorResponse"
          },
          "404": {
            "$ref": "#/responses/404ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      }
    },
    "/Contacts/{ContactID}/Attachments": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Retrieve Attachments",
        "description": "Retrieve Attachments",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "ContactID",
            "in": "path",
            "description": "The Xero generated unique identifier for a Contact",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/If-Modified-Since"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/AttachmentsResponse"
          },
          "400": {
            "$ref": "#/responses/400ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      }
    },
    "/Contacts/{ContactID}/Attachments/{FileName}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Download an Attachment",
        "description": "Download an Attachment",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "FileName",
            "in": "path",
            "description": "The filename of the attachment to be downloaded",
            "required": true,
            "type": "string"
          },
          {
            "name": "ContactID",
            "in": "path",
            "description": "The Xero generated unique identifier for a Contact",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/If-Modified-Since"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. The response message will contain the raw file content that was originally uploaded. The response won’t contain any xml or json encoded information"
          },
          "404": {
            "$ref": "#/responses/404ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      },
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Upload an Attachment",
        "description": "Upload an Attachment",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "FileName",
            "in": "path",
            "description": "The filename of the attachment being uploaded",
            "required": true,
            "type": "string"
          },
          {
            "name": "ContactID",
            "in": "path",
            "description": "The Xero generated unique identifier for a Contact",
            "required": true,
            "type": "string"
          },
          {
            "name": "Content",
            "in": "body",
            "description": "The raw content of the file to be uploaded",
            "schema": {
              "$ref": "#/definitions/Content"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/AttachmentsResponse"
          },
          "400": {
            "$ref": "#/responses/400ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      }
    },
    "/ContactGroups": {
      "x-related-model": "ContactGroup",
      "get": {
        "tags": [
          "ContactGroups"
        ],
        "summary": "Retrieve a collection of contact groups",
        "responses": {
          "200": {
            "$ref": "#/responses/ContactGroupsResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        },
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/where"
          },
          {
            "$ref": "#/parameters/order"
          }
        ]
      },
      "put": {
        "tags": [
          "ContactGroups"
        ],
        "summary": "Create a new contact group",
        "parameters": [
          {
            "in": "body",
            "name": "ContactGroups",
            "schema": {
              "$ref": "#/definitions/ContactGroup"
            },
            "required": true
          },
          {
            "$ref": "#/parameters/summarizeErrors"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ContactGroupsResponse"
          },
          "400": {
            "$ref": "#/responses/400ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      },
      "post": {
        "tags": [
          "ContactGroups"
        ],
        "summary": "Create or update a contact group",
        "parameters": [
          {
            "in": "body",
            "name": "ContactGroups",
            "schema": {
              "$ref": "#/definitions/ContactGroup"
            },
            "required": true
          },
          {
            "$ref": "#/parameters/summarizeErrors"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ContactGroupsResponse"
          },
          "400": {
            "$ref": "#/responses/400ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      }
    },
    "/ContactGroups/{ContactGroupID}": {
      "x-related-model": "ContactGroup",
      "get": {
        "tags": [
          "ContactGroups"
        ],
        "summary": "Retrieve the ContactID and Name of all the contacts in a contact group",
        "responses": {
          "200": {
            "$ref": "#/responses/ContactGroupsResponse"
          },
          "404": {
            "$ref": "#/responses/404ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        },
        "parameters": [
          {
            "required": true,
            "in": "path",
            "name": "ContactGroupID",
            "type": "string",
            "format": "uuid"
          }
        ]
      },
      "post": {
        "tags": [
          "ContactGroups"
        ],
        "summary": "Update a contact group",
        "parameters": [
          {
            "in": "body",
            "name": "ContactGroups",
            "schema": {
              "$ref": "#/definitions/ContactGroup"
            },
            "required": true
          },
          {
            "required": true,
            "in": "path",
            "name": "ContactGroupID",
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ContactGroupsResponse"
          },
          "400": {
            "$ref": "#/responses/400ErrorResponse"
          },
          "404": {
            "$ref": "#/responses/404ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      },
      "delete": {
        "tags": [
          "ContactGroups"
        ],
        "summary": "Delete a contact group",
        "responses": {
          "200": {
            "description": "A successful request"
          },
          "404": {
            "$ref": "#/responses/404ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        },
        "parameters": [
          {
            "required": true,
            "in": "path",
            "name": "ContactGroupID",
            "type": "string",
            "format": "uuid"
          }
        ]
      }
    },
    "/ContactGroups/{ContactGroupID}/Contacts": {
      "x-related-model": "ContactGroup",
      "put": {
        "tags": [
          "ContactGroups"
        ],
        "summary": "Add contacts to a contact group",
        "parameters": [
          {
            "in": "body",
            "name": "Contacts",
            "schema": {
              "$ref": "#/definitions/Contact"
            },
            "required": true
          },
          {
            "required": true,
            "in": "path",
            "name": "ContactGroupID",
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ContactGroupsResponse"
          },
          "400": {
            "$ref": "#/responses/400ErrorResponse"
          },
          "404": {
            "$ref": "#/responses/404ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      },
      "delete": {
        "tags": [
          "ContactGroups"
        ],
        "summary": "Remove all contacts from a contact group",
        "responses": {
          "200": {
            "description": "A successful request"
          },
          "404": {
            "$ref": "#/responses/404ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        },
        "parameters": [
          {
            "required": true,
            "in": "path",
            "name": "ContactGroupID",
            "type": "string",
            "format": "uuid"
          }
        ]
      }
    },
    "/ContactGroups/{ContactGroupID}/Contacts/{ContactID}": {
      "x-related-model": "ContactGroup",
      "delete": {
        "tags": [
          "ContactGroups"
        ],
        "summary": "Remove a contact from a contact group",
        "responses": {
          "200": {
            "description": "A successful request"
          },
          "404": {
            "$ref": "#/responses/404ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        },
        "parameters": [
          {
            "required": true,
            "in": "path",
            "name": "ContactGroupID",
            "type": "string",
            "format": "uuid"
          },
          {
            "required": true,
            "in": "path",
            "name": "ContactID",
            "type": "string",
            "format": "uuid"
          }
        ]
      }
    },
    "/CreditNotes": {
      "x-related-model": "CreditNote",
      "get": {
        "tags": [
          "CreditNotes"
        ],
        "summary": "Retrieve a collection of credit notes",
        "responses": {
          "200": {
            "$ref": "#/responses/CreditNotesResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        },
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/where"
          },
          {
            "$ref": "#/parameters/order"
          },
          {
            "$ref": "#/parameters/unitdp"
          },
          {
            "$ref": "#/parameters/page"
          }
        ]
      },
      "put": {
        "tags": [
          "CreditNotes"
        ],
        "summary": "Create a credit note",
        "parameters": [
          {
            "in": "body",
            "name": "CreditNotes",
            "schema": {
              "$ref": "#/definitions/CreditNote"
            },
            "required": true
          },
          {
            "$ref": "#/parameters/unitdp"
          },
          {
            "$ref": "#/parameters/summarizeErrors"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CreditNotesResponse"
          },
          "400": {
            "$ref": "#/responses/400ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      },
      "post": {
        "tags": [
          "CreditNotes"
        ],
        "summary": "Create or update a credit note",
        "parameters": [
          {
            "in": "body",
            "name": "CreditNotes",
            "schema": {
              "$ref": "#/definitions/CreditNote"
            },
            "required": true
          },
          {
            "$ref": "#/parameters/unitdp"
          },
          {
            "$ref": "#/parameters/summarizeErrors"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CreditNotesResponse"
          },
          "400": {
            "$ref": "#/responses/400ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      }
    },
    "/CreditNotes/{CreditNoteID}": {
      "x-related-model": "CreditNote",
      "get": {
        "tags": [
          "CreditNotes"
        ],
        "summary": "Retrieve an individual credit note",
        "responses": {
          "200": {
            "$ref": "#/responses/CreditNotesResponse"
          },
          "404": {
            "$ref": "#/responses/404ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        },
        "parameters": [
          {
            "required": true,
            "in": "path",
            "name": "CreditNoteID",
            "type": "string",
            "format": "uuid"
          },
          {
            "$ref": "#/parameters/unitdp"
          }
        ]
      },
      "post": {
        "tags": [
          "CreditNotes"
        ],
        "summary": "Update a credit note",
        "parameters": [
          {
            "in": "body",
            "name": "CreditNotes",
            "schema": {
              "$ref": "#/definitions/CreditNote"
            },
            "required": true
          },
          {
            "required": true,
            "in": "path",
            "name": "CreditNoteID",
            "type": "string",
            "format": "uuid"
          },
          {
            "$ref": "#/parameters/unitdp"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CreditNotesResponse"
          },
          "400": {
            "$ref": "#/responses/400ErrorResponse"
          },
          "404": {
            "$ref": "#/responses/404ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      }
    },
    "/CreditNotes/{CreditNoteID}/Allocations": {
      "x-related-model": "CreditNote",
      "put": {
        "tags": [
          "CreditNotes"
        ],
        "summary": "Allocate a credit note",
        "parameters": [
          {
            "in": "body",
            "name": "Allocations",
            "schema": {
              "$ref": "#/definitions/Allocation"
            },
            "required": true
          },
          {
            "required": true,
            "in": "path",
            "name": "CreditNoteID",
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/CreditNotesResponse"
          },
          "404": {
            "$ref": "#/responses/404ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      }
    },
    "/CreditNotes/{CreditNoteID}/Attachments": {
      "get": {
        "tags": [
          "CreditNotes"
        ],
        "summary": "Retrieve Attachments",
        "description": "Retrieve Attachments",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "CreditNoteID",
            "in": "path",
            "description": "The Xero generated unique identifier for a CreditNote",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/If-Modified-Since"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/AttachmentsResponse"
          },
          "404": {
            "$ref": "#/responses/404ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      }
    },
    "/CreditNotes/{CreditNoteID}/Attachments/{FileName}": {
      "get": {
        "tags": [
          "CreditNotes"
        ],
        "summary": "Download an Attachment",
        "description": "Download an Attachment",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "FileName",
            "in": "path",
            "description": "The filename of the attachment to be downloaded",
            "required": true,
            "type": "string"
          },
          {
            "name": "CreditNoteID",
            "in": "path",
            "description": "The Xero generated unique identifier for a CreditNote",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/If-Modified-Since"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. The response message will contain the raw file content that was originally uploaded. The response won’t contain any xml or json encoded information"
          },
          "400": {
            "$ref": "#/responses/400ErrorResponse"
          },
          "404": {
            "$ref": "#/responses/404ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      },
      "post": {
        "tags": [
          "CreditNotes"
        ],
        "summary": "Upload an Attachment",
        "description": "Upload an Attachment",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "FileName",
            "in": "path",
            "description": "The filename of the attachment being uploaded",
            "required": true,
            "type": "string"
          },
          {
            "name": "CreditNoteID",
            "in": "path",
            "description": "The Xero generated unique identifier for a CreditNote",
            "required": true,
            "type": "string"
          },
          {
            "name": "Content",
            "in": "body",
            "description": "The raw content of the file to be uploaded",
            "schema": {
              "$ref": "#/definitions/Content"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/AttachmentsResponse"
          },
          "400": {
            "$ref": "#/responses/400ErrorResponse"
          },
          "404": {
            "$ref": "#/responses/404ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      }
    },
    "/Currencies": {
      "x-related-model": "Currency",
      "get": {
        "tags": [
          "Currencies"
        ],
        "summary": "Retrieve the currencies the organisation is subscribed to",
        "responses": {
          "200": {
            "$ref": "#/responses/CurrenciesResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        },
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/where"
          },
          {
            "$ref": "#/parameters/order"
          }
        ]
      }
    },
    "/Employees": {
      "x-related-model": "Employee",
      "get": {
        "tags": [
          "Employees"
        ],
        "summary": "Retrieve a collection of employees",
        "responses": {
          "200": {
            "$ref": "#/responses/EmployeesResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        },
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/where"
          },
          {
            "$ref": "#/parameters/order"
          }
        ]
      },
      "put": {
        "tags": [
          "Employees"
        ],
        "summary": "Create employees",
        "parameters": [
          {
            "in": "body",
            "name": "Employees",
            "schema": {
              "$ref": "#/definitions/Employee"
            },
            "required": true
          },
          {
            "$ref": "#/parameters/summarizeErrors"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmployeesResponse"
          },
          "400": {
            "$ref": "#/responses/400ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      },
      "post": {
        "tags": [
          "Employees"
        ],
        "summary": "Create or update employees",
        "parameters": [
          {
            "in": "body",
            "name": "Employees",
            "schema": {
              "$ref": "#/definitions/Employee"
            },
            "required": true
          },
          {
            "$ref": "#/parameters/summarizeErrors"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmployeesResponse"
          },
          "400": {
            "$ref": "#/responses/400ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      }
    },
    "/Employees/{EmployeeID}": {
      "x-related-model": "Employee",
      "get": {
        "tags": [
          "Employees"
        ],
        "summary": "Retrieve an individual employee",
        "responses": {
          "200": {
            "$ref": "#/responses/EmployeesResponse"
          },
          "404": {
            "$ref": "#/responses/404ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        },
        "parameters": [
          {
            "required": true,
            "in": "path",
            "name": "EmployeeID",
            "type": "string",
            "format": "uuid"
          }
        ]
      },
      "post": {
        "tags": [
          "Employees"
        ],
        "summary": "Update an employee",
        "parameters": [
          {
            "in": "body",
            "name": "Employees",
            "schema": {
              "$ref": "#/definitions/Employee"
            },
            "required": true
          },
          {
            "required": true,
            "in": "path",
            "name": "EmployeeID",
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/EmployeesResponse"
          },
          "400": {
            "$ref": "#/responses/400ErrorResponse"
          },
          "404": {
            "$ref": "#/responses/404ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      }
    },
    "/ExpenseClaims": {
      "x-related-model": "ExpenseClaim",
      "get": {
        "tags": [
          "ExpenseClaims"
        ],
        "summary": "Retrieve a collection of expense claims",
        "responses": {
          "200": {
            "$ref": "#/responses/ExpenseClaimsResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        },
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/where"
          },
          {
            "$ref": "#/parameters/order"
          }
        ]
      },
      "put": {
        "tags": [
          "ExpenseClaims"
        ],
        "summary": "Create an expense claim",
        "parameters": [
          {
            "in": "body",
            "name": "ExpenseClaims",
            "schema": {
              "$ref": "#/definitions/ExpenseClaim"
            },
            "required": true
          },
          {
            "$ref": "#/parameters/summarizeErrors"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ExpenseClaimsResponse"
          },
          "400": {
            "$ref": "#/responses/400ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      },
      "post": {
        "tags": [
          "ExpenseClaims"
        ],
        "summary": "Create or update an expense claim",
        "parameters": [
          {
            "in": "body",
            "name": "ExpenseClaims",
            "schema": {
              "$ref": "#/definitions/ExpenseClaim"
            },
            "required": true
          },
          {
            "$ref": "#/parameters/summarizeErrors"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ExpenseClaimsResponse"
          },
          "400": {
            "$ref": "#/responses/400ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      }
    },
    "/ExpenseClaims/{ExpenseClaimID}": {
      "x-related-model": "ExpenseClaim",
      "get": {
        "tags": [
          "ExpenseClaims"
        ],
        "summary": "Retrieve an individual expense claim",
        "responses": {
          "200": {
            "$ref": "#/responses/ExpenseClaimsResponse"
          },
          "404": {
            "$ref": "#/responses/404ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        },
        "parameters": [
          {
            "required": true,
            "in": "path",
            "name": "ExpenseClaimID",
            "type": "string",
            "format": "uuid"
          }
        ]
      },
      "post": {
        "tags": [
          "ExpenseClaims"
        ],
        "summary": "Update an expense claim",
        "parameters": [
          {
            "in": "body",
            "name": "ExpenseClaims",
            "schema": {
              "$ref": "#/definitions/ExpenseClaim"
            },
            "required": true
          },
          {
            "required": true,
            "in": "path",
            "name": "ExpenseClaimID",
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ExpenseClaimsResponse"
          },
          "400": {
            "$ref": "#/responses/400ErrorResponse"
          },
          "404": {
            "$ref": "#/responses/404ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      }
    },
    "/Invoices": {
      "x-related-model": "Invoice",
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "Retrieve a collection of invoices (sales invoices and bills)",
        "responses": {
          "200": {
            "$ref": "#/responses/InvoicesResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        },
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/where"
          },
          {
            "$ref": "#/parameters/order"
          },
          {
            "$ref": "#/parameters/unitdp"
          },
          {
            "name": "IDs",
            "in": "query",
            "description": "Filter by a comma-separated list of InvoiceIDs",
            "type": "string",
            "required": false,
            "default": ""
          },
          {
            "name": "ContactIDs",
            "in": "query",
            "description": "Filter by a comma-separated list of ContactIDs",
            "type": "string",
            "required": false,
            "default": ""
          },
          {
            "name": "Statuses",
            "in": "query",
            "description": "Filter by a comma-separated list of Statuses",
            "type": "string",
            "required": false,
            "default": ""
          },
          {
            "name": "InvoiceNumbers",
            "in": "query",
            "description": "Filter by a comma-separated list of InvoiceNumbers",
            "type": "string",
            "required": false,
            "default": ""
          }
        ]
      },
      "put": {
        "tags": [
          "Invoices"
        ],
        "summary": "Create an Invoice (sales invoices or bills)",
        "parameters": [
          {
            "in": "body",
            "name": "Invoices",
            "schema": {
              "$ref": "#/definitions/Invoice"
            },
            "required": true
          },
          {
            "$ref": "#/parameters/unitdp"
          },
          {
            "$ref": "#/parameters/summarizeErrors"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/InvoicesResponse"
          },
          "400": {
            "$ref": "#/responses/400ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      },
      "post": {
        "tags": [
          "Invoices"
        ],
        "summary": "Create or update an Invoice (sales invoices or bills)",
        "parameters": [
          {
            "in": "body",
            "name": "Invoices",
            "schema": {
              "$ref": "#/definitions/Invoice"
            },
            "required": true
          },
          {
            "$ref": "#/parameters/unitdp"
          },
          {
            "$ref": "#/parameters/summarizeErrors"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/InvoicesResponse"
          },
          "400": {
            "$ref": "#/responses/400ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      }
    },
    "/Invoices/{InvoiceID}": {
      "x-related-model": "Invoice",
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "Retrieve an Invoice (sales invoice or bill)",
        "responses": {
          "200": {
            "$ref": "#/responses/InvoicesResponse"
          },
          "404": {
            "$ref": "#/responses/404ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        },
        "parameters": [
          {
            "required": true,
            "in": "path",
            "name": "InvoiceID",
            "type": "string",
            "format": "uuid"
          },
          {
            "$ref": "#/parameters/unitdp"
          }
        ]
      },
      "post": {
        "tags": [
          "Invoices"
        ],
        "summary": "Update an Invoice (sales invoice or bill)",
        "parameters": [
          {
            "in": "body",
            "name": "Invoices",
            "schema": {
              "$ref": "#/definitions/Invoice"
            },
            "required": true
          },
          {
            "required": true,
            "in": "path",
            "name": "InvoiceID",
            "type": "string",
            "format": "uuid"
          },
          {
            "$ref": "#/parameters/unitdp"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/InvoicesResponse"
          },
          "400": {
            "$ref": "#/responses/400ErrorResponse"
          },
          "404": {
            "$ref": "#/responses/404ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      }
    },
    "/Invoices/{InvoiceID}/OnlineInvoice": {
      "x-related-model": "OnlineInvoice",
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "Retrieve the URL to view the online invoice",
        "responses": {
          "200": {
            "$ref": "#/responses/OnlineInvoicesResponse"
          },
          "404": {
            "$ref": "#/responses/404ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        },
        "parameters": [
          {
            "required": true,
            "in": "path",
            "name": "InvoiceID",
            "type": "string",
            "format": "uuid"
          }
        ]
      }
    },
    "/Invoices/{InvoiceID}/Attachments": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "Retrieve Attachments",
        "description": "Retrieve Attachments",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "InvoiceID",
            "in": "path",
            "description": "The Xero generated unique identifier for an Invoice",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/If-Modified-Since"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/AttachmentsResponse"
          },
          "404": {
            "$ref": "#/responses/404ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      }
    },
    "/Invoices/{InvoiceID}/Attachments/{FileName}": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "Download an Attachment",
        "description": "Download an Attachment",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "FileName",
            "in": "path",
            "description": "The filename of the attachment to be downloaded",
            "required": true,
            "type": "string"
          },
          {
            "name": "InvoiceID",
            "in": "path",
            "description": "The Xero generated unique identifier for an Invoice",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/If-Modified-Since"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. The response message will contain the raw file content that was originally uploaded. The response won’t contain any xml or json encoded information"
          },
          "404": {
            "$ref": "#/responses/404ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      },
      "post": {
        "tags": [
          "Invoices"
        ],
        "summary": "Upload an Attachment",
        "description": "Upload an Attachment",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "FileName",
            "in": "path",
            "description": "The filename of the attachment being uploaded",
            "required": true,
            "type": "string"
          },
          {
            "name": "InvoiceID",
            "in": "path",
            "description": "The Xero generated unique identifier for an Invoice",
            "required": true,
            "type": "string"
          },
          {
            "name": "Content",
            "in": "body",
            "description": "The raw content of the file to be uploaded",
            "schema": {
              "$ref": "#/definitions/Content"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/AttachmentsResponse"
          },
          "404": {
            "$ref": "#/responses/404ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      }
    },
    "/Items": {
      "x-related-model": "Item",
      "get": {
        "tags": [
          "Items"
        ],
        "summary": "Retrieve a collection of items",
        "responses": {
          "200": {
            "$ref": "#/responses/ItemsResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        },
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/where"
          },
          {
            "$ref": "#/parameters/order"
          },
          {
            "$ref": "#/parameters/unitdp"
          }
        ]
      },
      "put": {
        "tags": [
          "Items"
        ],
        "summary": "Create an item",
        "parameters": [
          {
            "in": "body",
            "name": "Items",
            "schema": {
              "$ref": "#/definitions/Item"
            },
            "required": true
          },
          {
            "$ref": "#/parameters/unitdp"
          },
          {
            "$ref": "#/parameters/summarizeErrors"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ItemsResponse"
          },
          "400": {
            "$ref": "#/responses/400ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      },
      "post": {
        "tags": [
          "Items"
        ],
        "summary": "Create or update an item",
        "parameters": [
          {
            "in": "body",
            "name": "Items",
            "schema": {
              "$ref": "#/definitions/Item"
            },
            "required": true
          },
          {
            "$ref": "#/parameters/unitdp"
          },
          {
            "$ref": "#/parameters/summarizeErrors"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ItemsResponse"
          },
          "400": {
            "$ref": "#/responses/400ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      }
    },
    "/Items/{ItemID}": {
      "x-related-model": "Item",
      "get": {
        "tags": [
          "Items"
        ],
        "summary": "Retrieve an item",
        "responses": {
          "200": {
            "$ref": "#/responses/ItemsResponse"
          },
          "404": {
            "$ref": "#/responses/404ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        },
        "parameters": [
          {
            "required": true,
            "in": "path",
            "name": "ItemID",
            "type": "string",
            "format": "uuid"
          },
          {
            "$ref": "#/parameters/unitdp"
          }
        ]
      },
      "post": {
        "tags": [
          "Items"
        ],
        "summary": "Update an item",
        "parameters": [
          {
            "in": "body",
            "name": "Items",
            "schema": {
              "$ref": "#/definitions/Item"
            },
            "required": true
          },
          {
            "required": true,
            "in": "path",
            "name": "ItemID",
            "type": "string",
            "format": "uuid"
          },
          {
            "$ref": "#/parameters/unitdp"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ItemsResponse"
          },
          "400": {
            "$ref": "#/responses/400ErrorResponse"
          },
          "404": {
            "$ref": "#/responses/404ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      },
      "delete": {
        "tags": [
          "Items"
        ],
        "summary": "Delete an item",
        "responses": {
          "200": {
            "description": "A successful request"
          },
          "404": {
            "$ref": "#/responses/404ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        },
        "parameters": [
          {
            "required": true,
            "in": "path",
            "name": "ItemID",
            "type": "string",
            "format": "uuid"
          }
        ]
      }
    },
    "/Journals": {
      "x-related-model": "Journal",
      "get": {
        "tags": [
          "Journals"
        ],
        "summary": "Retrieve a collection of journals.",
        "responses": {
          "200": {
            "$ref": "#/responses/JournalsResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        },
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/paymentsOnly"
          },
          {
            "$ref": "#/parameters/offset"
          }
        ]
      }
    },
    "/Journals/{JournalID}": {
      "x-related-model": "Journal",
      "get": {
        "tags": [
          "Journals"
        ],
        "summary": "Retrieve an individual journal.",
        "responses": {
          "200": {
            "$ref": "#/responses/JournalsResponse"
          },
          "404": {
            "$ref": "#/responses/404ErrorResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        },
        "parameters": [
          {
            "required": true,
            "in": "path",
            "name": "JournalID",
            "type": "string",
            "format": "uuid"
          }
        ]
      }
    },
    "/LinkedTransactions": {
      "x-related-model": "LinkedTransaction",
      "get": {
        "tags": [
          "LinkedTransactions"
        ],
        "summary": "Retrieve a collection of linked transactions (billable expenses)",
        "responses": {
          "200": {
            "$ref": "#/responses/LinkedTransactionsResponse"
          }
        },
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/page"
          },
          {
            "in": "query",
            "name": "SourceTransactionID",
            "description": "Filter by the SourceTransactionID. Get all the linked transactions created from a particular ACCPAY invoice",
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "ContactID",
            "description": "Filter by the ContactID. Get all the linked transactions that have been assigned to a particular customer.",
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "Status",
            "description": "Filter by the combination of ContactID and Status. Get all the linked transactions that have been assigned to a particular customer and have a particular status e.g. GET /LinkedTransactions?ContactID=4bb34b03-3378-4bb2-a0ed-6345abf3224e&Status=APPROVED.",
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "TargetTransactionID",
            "description": "Filter by the TargetTransactionID. Get all the linked transactions allocated to a particular ACCREC invoice.",
            "type": "string",
            "format": "uuid"
          }
        ]
      },
      "put": {
        "tags": [
          "LinkedTransactions"
        ],
        "summary": "Create a linked transaction (billable expense)",
        "parameters": [
          {
            "in": "body",
            "name": "LinkedTransactions",
            "schema": {
              "$ref": "#/definitions/LinkedTransaction"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/LinkedTransactionsResponse"
          }
        }
      },
      "post": {
        "tags": [
          "LinkedTransactions"
        ],
        "summary": "Create or update a linked transaction (billable expense)",
        "parameters": [
          {
            "in": "body",
            "name": "LinkedTransactions",
            "schema": {
              "$ref": "#/definitions/LinkedTransaction"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/LinkedTransactionsResponse"
          }
        }
      }
    },
    "/LinkedTransactions/{LinkedTransactionID}": {
      "x-related-model": "LinkedTransaction",
      "get": {
        "tags": [
          "LinkedTransactions"
        ],
        "summary": "Retrieve a linked transaction (billable expense)",
        "responses": {
          "200": {
            "$ref": "#/responses/LinkedTransactionsResponse"
          }
        },
        "parameters": [
          {
            "required": true,
            "in": "path",
            "name": "LinkedTransactionID",
            "type": "string",
            "format": "uuid"
          }
        ]
      },
      "post": {
        "tags": [
          "LinkedTransactions"
        ],
        "summary": "Update a linked transaction (billable expense)",
        "parameters": [
          {
            "in": "body",
            "name": "LinkedTransactions",
            "schema": {
              "$ref": "#/definitions/LinkedTransaction"
            },
            "required": true
          },
          {
            "required": true,
            "in": "path",
            "name": "LinkedTransactionID",
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/LinkedTransactionsResponse"
          }
        }
      },
      "delete": {
        "tags": [
          "LinkedTransactions"
        ],
        "summary": "Delete a linked transaction (billable expense)",
        "responses": {
          "200": {
            "description": "A successful request"
          }
        },
        "parameters": [
          {
            "required": true,
            "in": "path",
            "name": "LinkedTransactionID",
            "type": "string",
            "format": "uuid"
          }
        ]
      }
    },
    "/ManualJournals": {
      "x-related-model": "ManualJournal",
      "get": {
        "tags": [
          "ManualJournals"
        ],
        "summary": "Retrieve a collection of manual journals",
        "responses": {
          "200": {
            "$ref": "#/responses/ManualJournalsResponse"
          }
        },
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/where"
          },
          {
            "$ref": "#/parameters/order"
          },
          {
            "$ref": "#/parameters/page"
          }
        ]
      },
      "put": {
        "tags": [
          "ManualJournals"
        ],
        "summary": "Create a manual journal",
        "parameters": [
          {
            "in": "body",
            "name": "ManualJournals",
            "schema": {
              "$ref": "#/definitions/ManualJournal"
            },
            "required": true
          },
          {
            "$ref": "#/parameters/summarizeErrors"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ManualJournalsResponse"
          }
        }
      },
      "post": {
        "tags": [
          "ManualJournals"
        ],
        "summary": "Create or update a manual journal",
        "parameters": [
          {
            "in": "body",
            "name": "ManualJournals",
            "schema": {
              "$ref": "#/definitions/ManualJournal"
            },
            "required": true
          },
          {
            "$ref": "#/parameters/summarizeErrors"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ManualJournalsResponse"
          }
        }
      }
    },
    "/ManualJournals/{ManualJournalID}": {
      "x-related-model": "ManualJournal",
      "get": {
        "tags": [
          "ManualJournals"
        ],
        "summary": "Retrieve an individual manual journal",
        "responses": {
          "200": {
            "$ref": "#/responses/ManualJournalsResponse"
          }
        },
        "parameters": [
          {
            "required": true,
            "in": "path",
            "name": "ManualJournalID",
            "type": "string",
            "format": "uuid"
          }
        ]
      },
      "post": {
        "tags": [
          "ManualJournals"
        ],
        "summary": "Update a manual journal",
        "parameters": [
          {
            "in": "body",
            "name": "ManualJournals",
            "schema": {
              "$ref": "#/definitions/ManualJournal"
            },
            "required": true
          },
          {
            "required": true,
            "in": "path",
            "name": "ManualJournalID",
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ManualJournalsResponse"
          }
        }
      }
    },
    "/ManualJournals/{ManualJournalID}/Attachments": {
      "get": {
        "tags": [
          "ManualJournals"
        ],
        "summary": "Retrieve Attachments",
        "description": "Retrieve Attachments",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "ManualJournalID",
            "in": "path",
            "description": "The Xero generated unique identifier for a Manual Journal",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/If-Modified-Since"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/AttachmentsResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      }
    },
    "/ManualJournals/{ManualJournalID}/Attachments/{FileName}": {
      "get": {
        "tags": [
          "ManualJournals"
        ],
        "summary": "Download an Attachment",
        "description": "Download an Attachment",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "FileName",
            "in": "path",
            "description": "The filename of the attachment to be downloaded",
            "required": true,
            "type": "string"
          },
          {
            "name": "ManualJournalID",
            "in": "path",
            "description": "The Xero generated unique identifier for a Manual Journal",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/If-Modified-Since"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. The response message will contain the raw file content that was originally uploaded. The response won’t contain any xml or json encoded information"
          },
          "404": {
            "description": "Attachment does not exist"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      },
      "post": {
        "tags": [
          "ManualJournals"
        ],
        "summary": "Upload an Attachment",
        "description": "Upload an Attachment",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "FileName",
            "in": "path",
            "description": "The filename of the attachment being uploaded",
            "required": true,
            "type": "string"
          },
          {
            "name": "ManualJournalID",
            "in": "path",
            "description": "The Xero generated unique identifier for a Manual Journal",
            "required": true,
            "type": "string"
          },
          {
            "name": "Content",
            "in": "body",
            "description": "The raw content of the file to be uploaded",
            "schema": {
              "$ref": "#/definitions/Content"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/AttachmentsResponse"
          },
          "400": {
            "description": "Attachment couldn't be created."
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      }
    },
    "/Organisation": {
      "x-related-model": "Organisation",
      "get": {
        "tags": [
          "Organisations"
        ],
        "summary": "Retrieve Organisation details",
        "responses": {
          "200": {
            "$ref": "#/responses/OrganisationsResponse"
          }
        }
      }
    },
    "/Organisation/{ShortCode}": {
      "x-related-model": "Organisation",
      "get": {
        "tags": [
          "Organisations"
        ],
        "summary": "Retrieve Organisation details",
        "responses": {
          "200": {
            "$ref": "#/responses/OrganisationsResponse"
          }
        },
        "parameters": [
          {
            "required": true,
            "in": "path",
            "name": "ShortCode",
            "type": "string",
            "format": "uuid"
          }
        ]
      }
    },
    "/Overpayments": {
      "x-related-model": "Overpayment",
      "get": {
        "tags": [
          "Overpayments"
        ],
        "summary": "Retrieve a collection of overpayments",
        "responses": {
          "200": {
            "$ref": "#/responses/OverpaymentsResponse"
          }
        },
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/where"
          },
          {
            "$ref": "#/parameters/order"
          },
          {
            "$ref": "#/parameters/page"
          },
          {
            "$ref": "#/parameters/unitdp"
          }
        ]
      }
    },
    "/Overpayments/{OverpaymentID}": {
      "x-related-model": "Overpayment",
      "get": {
        "tags": [
          "Overpayments"
        ],
        "summary": "Retrieve an overpayment",
        "responses": {
          "200": {
            "$ref": "#/responses/OverpaymentsResponse"
          }
        },
        "parameters": [
          {
            "required": true,
            "in": "path",
            "name": "OverpaymentID",
            "type": "string",
            "format": "uuid"
          },
          {
            "$ref": "#/parameters/unitdp"
          }
        ]
      }
    },
    "/Overpayments/{OverpaymentID}/Allocations": {
      "x-related-model": "Overpayment",
      "put": {
        "tags": [
          "Overpayments"
        ],
        "summary": "Allocate an overpayment",
        "parameters": [
          {
            "in": "body",
            "name": "Allocations",
            "schema": {
              "$ref": "#/definitions/Allocation"
            },
            "required": true
          },
          {
            "required": true,
            "in": "path",
            "name": "OverpaymentID",
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/OverpaymentsResponse"
          }
        }
      }
    },
    "/Payments": {
      "x-related-model": "Payment",
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve a collection of payments for invoices, credit notes, prepayments and overpayments",
        "responses": {
          "200": {
            "$ref": "#/responses/PaymentsResponse"
          }
        },
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/where"
          },
          {
            "$ref": "#/parameters/order"
          }
        ]
      },
      "put": {
        "tags": [
          "Payments"
        ],
        "summary": "Create a payment",
        "parameters": [
          {
            "in": "body",
            "name": "Payments",
            "schema": {
              "$ref": "#/definitions/Payment"
            },
            "required": true
          },
          {
            "$ref": "#/parameters/summarizeErrors"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/PaymentsResponse"
          }
        }
      },
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Create a payment",
        "parameters": [
          {
            "in": "body",
            "name": "Payments",
            "schema": {
              "$ref": "#/definitions/Payment"
            },
            "required": true
          },
          {
            "$ref": "#/parameters/summarizeErrors"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/PaymentsResponse"
          }
        }
      }
    },
    "/Payments/{PaymentID}": {
      "x-related-model": "Payment",
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve a payment",
        "responses": {
          "200": {
            "$ref": "#/responses/PaymentsResponse"
          }
        },
        "parameters": [
          {
            "required": true,
            "in": "path",
            "name": "PaymentID",
            "type": "string",
            "format": "uuid"
          }
        ]
      },
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Update a payment's status to deleted",
        "parameters": [
          {
            "in": "body",
            "name": "Payments",
            "schema": {
              "$ref": "#/definitions/Payment"
            },
            "required": true
          },
          {
            "required": true,
            "in": "path",
            "name": "PaymentID",
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/PaymentsResponse"
          }
        }
      }
    },
    "/Prepayments": {
      "x-related-model": "Prepayment",
      "get": {
        "tags": [
          "Prepayments"
        ],
        "summary": "Retrieve a collection of prepayments",
        "responses": {
          "200": {
            "$ref": "#/responses/PrepaymentsResponse"
          }
        },
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/where"
          },
          {
            "$ref": "#/parameters/order"
          },
          {
            "$ref": "#/parameters/page"
          },
          {
            "$ref": "#/parameters/unitdp"
          }
        ]
      }
    },
    "/Prepayments/{PrepaymentID}": {
      "x-related-model": "Prepayment",
      "get": {
        "tags": [
          "Prepayments"
        ],
        "summary": "Retrieve an individual prepayment",
        "responses": {
          "200": {
            "$ref": "#/responses/PrepaymentsResponse"
          }
        },
        "parameters": [
          {
            "required": true,
            "in": "path",
            "name": "PrepaymentID",
            "type": "string",
            "format": "uuid"
          },
          {
            "$ref": "#/parameters/unitdp"
          }
        ]
      }
    },
    "/Prepayments/{PrepaymentID}/Allocations": {
      "x-related-model": "Prepayment",
      "put": {
        "tags": [
          "Prepayments"
        ],
        "summary": "Allocate a prepayment",
        "parameters": [
          {
            "in": "body",
            "name": "Allocations",
            "schema": {
              "$ref": "#/definitions/Allocation"
            },
            "required": true
          },
          {
            "required": true,
            "in": "path",
            "name": "PrepaymentID",
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/PrepaymentsResponse"
          }
        }
      }
    },
    "/PurchaseOrders": {
      "x-related-model": "PurchaseOrder",
      "get": {
        "tags": [
          "PurchaseOrders"
        ],
        "summary": "Retrieve a collection of purchase orders",
        "responses": {
          "200": {
            "$ref": "#/responses/PurchaseOrdersResponse"
          }
        },
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/order"
          },
          {
            "$ref": "#/parameters/page"
          },
          {
            "required": false,
            "in": "query",
            "name": "DateFrom",
            "type": "string",
            "format": "date"
          },
          {
            "required": false,
            "in": "query",
            "name": "DateTo",
            "type": "string",
            "format": "date"
          },
          {
            "required": false,
            "in": "query",
            "name": "Status",
            "type": "string"
          }
        ]
      },
      "put": {
        "tags": [
          "PurchaseOrders"
        ],
        "summary": "Create purchase orders",
        "parameters": [
          {
            "in": "body",
            "name": "PurchaseOrders",
            "schema": {
              "$ref": "#/definitions/PurchaseOrder"
            },
            "required": true
          },
          {
            "$ref": "#/parameters/summarizeErrors"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/PurchaseOrdersResponse"
          }
        }
      },
      "post": {
        "tags": [
          "PurchaseOrders"
        ],
        "summary": "Create and update purchase orders",
        "parameters": [
          {
            "in": "body",
            "name": "PurchaseOrders",
            "schema": {
              "$ref": "#/definitions/PurchaseOrder"
            },
            "required": true
          },
          {
            "$ref": "#/parameters/summarizeErrors"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/PurchaseOrdersResponse"
          }
        }
      }
    },
    "/PurchaseOrders/{PurchaseOrderID}": {
      "x-related-model": "PurchaseOrder",
      "get": {
        "tags": [
          "PurchaseOrders"
        ],
        "summary": "Retrieve a single purchase order",
        "responses": {
          "200": {
            "$ref": "#/responses/PurchaseOrdersResponse"
          }
        },
        "parameters": [
          {
            "required": true,
            "in": "path",
            "name": "PurchaseOrderID",
            "type": "string",
            "format": "uuid"
          }
        ]
      },
      "post": {
        "tags": [
          "PurchaseOrders"
        ],
        "summary": "Update a purchase order",
        "parameters": [
          {
            "in": "body",
            "name": "PurchaseOrders",
            "schema": {
              "$ref": "#/definitions/PurchaseOrder"
            },
            "required": true
          },
          {
            "required": true,
            "in": "path",
            "name": "PurchaseOrderID",
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/PurchaseOrdersResponse"
          }
        }
      }
    },
    "/PurchaseOrders/{PurchaseOrderID}/Attachments": {
      "get": {
        "tags": [
          "PurchaseOrders"
        ],
        "summary": "Retrieve Attachments",
        "description": "Retrieve Attachments",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "PurchaseOrderID",
            "in": "path",
            "description": "The Xero generated unique identifier for a purchase order",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/If-Modified-Since"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/AttachmentsResponse"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      }
    },
    "/PurchaseOrders/{PurchaseOrderID}/Attachments/{FileName}": {
      "get": {
        "tags": [
          "PurchaseOrders"
        ],
        "summary": "Download an Attachment",
        "description": "Download an Attachment",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "FileName",
            "in": "path",
            "description": "The filename of the attachment to be downloaded",
            "required": true,
            "type": "string"
          },
          {
            "name": "PurchaseOrderID",
            "in": "path",
            "description": "The Xero generated unique identifier for a purchase order",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/If-Modified-Since"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. The response message will contain the raw file content that was originally uploaded. The response won’t contain any xml or json encoded information"
          },
          "404": {
            "description": "Attachment does not exist"
          },
          "500": {
            "$ref": "#/responses/500ErrorResponse"
          }
        }
      },
      "post": {
        "tags": [
          "PurchaseOrders"
        ],
        "summary": "Upload an Attachment",
        "description": "Upload an Attachment",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "FileName",
            "in": "path",
            "description": "The filename of the attachment being uploaded",
            "required": true,
            "type": "string"
          },
          {
            "name": "PurchaseOrderID",
            "in": "path",
[...]
